[2017-06-22 16:10] #807 closed

[2017-06-23 01:50] theorygeek commented on #727
You're referring to things like, how do we wire up the behaviors for the paging/slicing of nodes? I think you could either annotate the field with something like:
[code]

Or we could _detect_ connections and wire them up automatically. But that seems like a bad idea (what if I don't want the default behavior?)

[2017-06-23 02:17] rmosolgo commented on #727
Sorry, I didn't express myself too clearly 😬

Let's say you're writing a Relay backend and you have a bunch of different object types. You'll also have connection types:

[code]

If you were treating `schema.graphql` as the source of truth, how would you cope with the boilerplate code for `type *Connection { ... }` and `type *Edge { ... }` definitions?

- Copy-and-paste?
- Generate code with `.erb

[2017-06-23 12:33] rmosolgo commented on #727
I tried ERB 😬 https://github.com/rmosolgo/graphql-ruby/pull/810

[2017-06-23 12:45] emilebosch commented on #727
Well I've learned to love the DSL, exactly for this, and the meta typing/programming dynamic type generation. I think that IDL is cool for small projects. but it quickly starts to get difficult. Another option is to generate an `annotations.rb` file from the IDL which allows for annotations on the IDL file, for loaders, etc etc.

But then again the logic is spread over multiple sources.

Isn't the

[2017-06-25 12:39] #798 closed

[2017-06-26 08:42] esjee commented on #774
Now that there's a failing spec, I'd like to try to fix this (again)!

[2017-06-26 09:29] Willianvdv commented on #806
@zhangmingju feel free to reopen if my answer wasn't sufficient.

[2017-06-26 09:29] #806 closed

[2017-06-26 12:51] #770 closed

[2017-06-26 12:53] #507 closed

[2017-06-27 09:59] Willianvdv commented on #771
@timscott Thanks!

[2017-06-27 09:59] #771 closed

[2017-06-27 21:39] swalkinshaw opened #816 "Variable/argument type validation"
It looks like validation for variables and arguments aren't catching some instances of type mismatches.

Here's a link to an example in Launchpad (via graphql-js) where it fails: https://launchpad.graphql.com/x1l9nv7pl

And here's the steps to reproduce in this gem:

Schema:
[code]

query:
[code]

[code]

[2017-06-27 21:48] swalkinshaw commented on #816
I edited the original issue to be more clear 👌

[2017-06-28 13:59] rmosolgo commented on #816
I wonder if this is throwing it off, where variables _without default values_ are treated as if they are non-null variables:

https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/static_validation/rules/variable_usages_are_allowed.rb#L46-L48

[2017-06-29 15:17] rmosolgo commented on #774
Fixed by #812

[2017-06-29 15:17] #774 closed

[2017-06-29 16:12] rmosolgo opened #820 "Object-oriented schema definition"
Here's a proposed new API for defining GraphQL behaviors with Ruby.  If this appeals to you or doesn't appeal to you, please chime in. Otherwise, I will probably implement it :)

1. Write one or more `.graphql` files containing type definitions.

  For example:

[code]

2. Create a matching `.rb` file containing a Ruby class:

[code]

  By default, this object is a proxy. If you don't need custom

[2017-06-29 16:14] rmosolgo commented on #727
More thoughts about the Ruby part of this system (along the lines of @xuorig's Ruby snippets above): https://github.com/rmosolgo/graphql-ruby/issues/820

[2017-06-29 16:32] timigod commented on #820
If I had to choose between the current API and this proposed one, at the beginning of the very first version of graphql-ruby, I'd definitely choose this one.

I'm just not sure the migration hassle (even if it's automated) is worth it. There's so much to migrate and I haven't really faced any issues that made me wish there wasn't a "wacky" DSL.

[2017-06-29 17:23] theorygeek commented on #820
❤️  🎉  🚀  Love this! I'm curious what kinds of performance hits there would be for this. I'm guessing the biggest one is going to be instantiating those objects for every field.

I'm wondering about the `Types` namespace. It seems that these are not _types_, but rather _objects_. So maybe `Objects::Post` and put it in app/graphql/objects/post.rb.

Also, IIRC, the gem does _not_ have ActiveSupport

[2017-06-29 17:35] eapache commented on #820
One additional con for the list, which is common to most IDL-based approaches: it spreads out the definition of a field across multiple files.

[2017-06-29 17:40] swalkinshaw commented on #816
It actually appears to be here: https://github.com/rmosolgo/graphql-ruby/blob/952bb07367a810dbedf930b5133a19aba9ffd2f3/lib/graphql/static_validation/rules/variable_usages_are_allowed.rb#L16

At this point `node.value` is an array, not `GraphQL::Language::Nodes::VariableIdentifier)`.

So any argument within a list/array is not getting validated? 😔

[2017-06-29 17:47] cjoudrey commented on #820
This might be a terrible idea, but what about defining the IDL within the Ruby file?

Something like:

[code]

[2017-06-29 18:33] arthurschreiber commented on #820
or even something like:

[code]

[2017-06-29 18:47] bswinnerton commented on #820
I ❤️ @arthurschreiber's DSL above, but I'd also love the flexibility to do _either_. I appreciate being able to look at a `.graphql` file and know everything that I need to know about the structure of my schema.

One my favorite aspects of this new DSL is how easily it will be to mix in modules to add in custom helpers, fields, interfaces, etc.

[2017-06-29 19:01] rmosolgo commented on #820
@cjoudrey , @arthurschreiber & @bswinnerton I think there must really be something to the GraphQL-in-Ruby approach, we also talked about it a bit here.

Here's the bridge that I couldn't cross: how do you determine the _whole_ schema in that scenario? For example, what (pseudo-)code goes here:

[code]

(A bonus is something that plays well with Rails autoloading.)

[2017-06-29 19:02] rmosolgo commented on #820
@eapache thanks for pointing out that extra consideration about splitting the source of truth for field definitions, I've updated the issue description so new readers will find it quickly.

(Maybe we'll find a GraphQL-in-Ruby approach that mitigates that downside.)

[2017-06-29 19:10] rmosolgo commented on #820
@theorygeek regarding implementation, I had something very similar in mind!

Perhaps an API like:

[code]

The [`default_resolve:`](https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/schema.rb#L450) argument already provides special behavior for hashes; I think we could also provide special behavior to support the API described here.

Performance-wise, the issue is making one of thes

[2017-06-29 19:20] rmosolgo commented on #820
@timigod I'm glad to hear you don't mind the current API too much 😊

There are a few ways that it makes us less productive at GitHub:

- Object lifecycle is not clear. For example, `GraphQL::Function`s are instantiated _once_, at schema build, then reused. Sometimes, people think that functions are instantiated "fresh" for each call, and they use instance variables for implementing behavior. In fa

[2017-06-29 19:22] eapache commented on #820
At Shopify we have a layer on top with an API that looks very-very similar to the DSL, except implemented in a class-based way instead of using blocks. It solves a lot of the pain points without changing the usage too much.

[2017-06-29 19:26] rmosolgo commented on #820
A question from `@josh` was: "how to add field-specific data in this API?"

1. Add metadata to class

[code]

2. Write an an instrumenter which uses that flag:

[code]

  (Maybe we could write some sugar to make this easy)

3.  __OR__ Use your flags to meta-program your implementation classes.

[2017-06-29 19:34] cjoudrey commented on #820
I could be missing something super obvious here, but couldn't we:

1- Start from the schema roots
2- For each field, get the type and get the `definition` for that type
3- Repeat 2 for each field of the newly defined type
4- Repeat 2 for orphan types

Another option could be custom directives, i.e.

[code]

You'd want a way to mask these directives from the outside world though, i.e. people would

[2017-06-29 20:03] rmosolgo commented on #816
:S :S :S

[2017-06-29 20:08] rmosolgo commented on #820
@cjoudrey traversing the schema from entry points could totally work! Personally, I was hoping to leave `orphan_types` behind though 😬  But you're right, that would work just as well as the current arrangement.

I like customizing via `.graphql` seems nice. I took a slightly different tack at #789, using comments instead of directives. I chose comments to avoid two issues:

- Implementing custom d

[2017-06-29 20:15] timigod commented on #820
@eapache that sounds awesome

[2017-06-29 20:25] cjoudrey commented on #820
Yeah, to be honest I also prefer leaving the rest out of the IDL.

---

re: https://github.com/rmosolgo/graphql-ruby/issues/820#issuecomment-312074415 -- I can't put my finger on it, but there's something I dislike about having to use instrumentation.

Could an API similar to Rails `before_action` work?

[code]

You'd need a way to let `check_access` break the chain.

[2017-06-29 20:36] rmosolgo commented on #820
😯 whoa .... 🤔

[2017-06-29 20:48] eapache commented on #820
💯

We're thinking about ditching a bunch of it because it's a lot to maintain, but tbh we still haven't come up with anything better. Just writing `class Foo < GraphQL::Object` instead of `Foo = GraphQL::ObjectType.define do` is so much more natural and simplifies a lot.

[2017-06-29 21:15] malandrina commented on #820
Looking good!

With respect to step 4, "put shared logic in an `ApplicationObject`, I'm wondering if we could approach adding shared behavior with a preference for composition over inheritance. I can see such an `ApplicationObject` becoming a grab-bag of behaviors (like we sometimes see with Rails helper modules) that aren't needed by every object that inherits from it.

By way of an example, take

[2017-06-30 15:44] rmosolgo commented on #820
@malandrina I totally share your concern that a root object will become bloated! Here's the part I can't figure out how to do:

What kind of Ruby API can express that preference? As soon as you start using `class`, you invite people to extend and `include` as means of sharing code.

(I tried to express that preference by using a function-based API, but ... here we are two years later 😆)

----

Unr

[2017-06-30 16:41] malandrina commented on #820
@rmosolgo thank you for linking to those older conversations! You have clearly put a lot of thought into how a preference for composition over inheritance might be expressed in graphql-ruby's API. Your comment https://github.com/rmosolgo/graphql-ruby/issues/122#issuecomment-201652479 is edifying. 👍

This is true. I think the best one can do is expose an "opinionated" public API that serves as an e

[2017-06-30 18:30] rmosolgo commented on #820
I wouldn't quite go that far, or at least ... I would say, it's a _familiar_ option. For people who want to get it done quickly, they can put all shared logic in the god class at the top of the hierarchy. It's not the most maintainable solution, but it's _easy_ 😬

Then, if/when people want a different arrangement, they can extract and reshuffle the same way we do for `ApplicationController` and so

[2017-06-30 19:19] #788 closed

[2017-07-02 14:47] theorygeek commented on #820
On the GraphQL-in-Ruby bit, it seems like:
- There is something really nice about the IDL and the implementation being next to each other
- It's also nice to write IDL instead of using our `field` DSL (although I happen to like both of them)

But the biggest _advantage_ I see to the IDL is that it can be shared between projects, and it is the true source of truth. The GraphQL-in-Ruby paradigm brea

[2017-07-02 14:57] theorygeek commented on #820
If what we really want with the GraphQL-in-Ruby is to reduce the amount of switching between files when you're trying to implement the schema, we could accomplish that with some tooling similar to the `annotate` gem, that copies the IDL into your implementation class as a comment. But maybe it's more about being able to manipulate the schema as you're implementing it.

I'm starting to question whe

[2017-07-03 20:49] xuorig commented on #820
In a previous issue I gave the example of extending fields with custom arguments such as `visible_if:  proc` or `authorization: :admin`. Where does this sit with the current proposal?

They won't go in the IDL, since the user should not be aware of those "extensions":

[code]

But if they have to be somewhere in the "resolver" class, where should they go? on the class? Magic decorators?

[code]

I

[2017-07-05 07:17] riffraff commented on #820
My 2c: I'd be happy to move to a class-based definition, but why not keep the field definition? i.e.

[code]

This would be similar to how `ActiveModel::Serializer` works, which I've been generally happy with.

You get some of the advantages of the original proposal
* reuse via inheritance and mixins
* trivial definition of helpers
* a lot less boilerplate
* clearer lifecycle

Plus you keep the ea

[2017-07-05 12:48] Willianvdv commented on #802
I can't reproduce this issue anymore in specs or in our application. I'll leave it for now and reopen this issue if I found out how you can trigger the PG exception.

[2017-07-05 12:48] #802 closed

[2017-07-05 13:28] #785 closed

[2017-07-05 13:28] Willianvdv commented on #785
@eshaiju feel free to reopen if you still have this issue!

[2017-07-05 13:32] esjee commented on #769
Was all of this fixed in https://github.com/rmosolgo/graphql-ruby/pull/821?

[2017-07-05 13:44] rmosolgo commented on #769
Yes, thanks for following up!

[2017-07-05 13:44] #769 closed

[2017-07-05 13:55] rmosolgo commented on #820
@riffraff thanks for bringing that up! We had discussed an API like that as well, because many Ruby libraries have one (for example, [MongoMapper](http://mongomapper.com/) or [Sequel](http://sequel.jeremyevans.net/rdoc/files/doc/schema_modification_rdoc.html#label-Column+types)).

Here are some pros and cons that I saw:

- Pro:
  - All definition is Ruby; no need to check two files for type defini

[2017-07-05 14:39] riffraff commented on #820
forgive me if I wasn't clear, I meant that this points are shared advantages in both object-based approaches (with and without IDL) compared to the current pure-DSL-with-types-but-not-classes definition.

You have a good points about mutually referential types and arguments, I didn't put any thought into this and mostly made a strawman proposal.

Anyway, possibly, we could just refer all types as

[2017-07-05 17:19] eapache commented on #820
@riffraff's proposal looks a lot like what we have at Shopify right now.

Rails autoloading has worked well for us on this point with only the occasional need for a manual `require` call.

We do approximately the following for complex fields:
[code]

[2017-07-05 18:02] hooptie45 commented on #820
I haven't read all the comments yet; but I think I like where this is going. Another really interesting direction this could go is something similar to the GraphQL-compose library in ruby. https://github.com/nodkz/graphql-compose

What makes that approach interesting is that it allows you abstract the shared logic as small building blocks; then use them to compose the schema. Examples of these mig

[2017-07-06 07:56] sj26 opened #825 "GraphQL Pro OrderedRelationConnection before = after"
I was having a poke around in graphql-pro v1.4.2, at OrderedRelationConnection in `lib/graphql/pro/ordered_relation/ordered_relation_connection.rb` which I'm playing with, and noticed that both before and after variables are assigned from the after argument. This seems to break the before cursor functionality.

Also, is there a better way to lodge these sorts of issues? Sorry, there's nothing to l

[2017-07-06 08:02] sj26 commented on #825
I just did a quick `bundle update` to see if this has been solved but it still seems to be the case in v1.4.4, too.

[2017-07-06 09:50] Mange opened #826 "Schema can contain non-null(non-null(foo))"
Schema generated by `graphql-ruby` can become invalid by wrapping a non-null (required) type in non-null again.

[code]

The introspection query will then return this part:

[code]

Type is inspected as `String!!`.

---

This fails to load in (for example) GraphiQL with the error `Error: No nesting nonnull` as it explicitly checks for this problem.

[2017-07-06 13:31] rmosolgo commented on #826
😆  oops!

[code]

Where did that code come from, was it a typo? Or did it come from graphql-ruby somehow?

In any case, maybe we could improve `BaseType#to_non_null` type to raise if `self` is already a non-null type.

[2017-07-06 13:33] rmosolgo commented on #825
This is a great place for opening this issue, thanks! Hmm, let me take a quick look at that ...

[2017-07-06 18:36] Mange commented on #826
No, no this is a human error by our part. We generated types through a DSL
where you declared the plain type in one place and then specified if it was
required or not in another.

[code]

When defining the "read" type field, it wrapped the plain type in non-null
for required fields. Someone accidentally wrapped the type in non-null in
the DSL and so it was wrapped twice. We added this as input val

[2017-07-06 18:42] Mange commented on #826
No, no this is a human error by our part. We generated types through a DSL
where you declared the plain type in one place and then specified if it was
required or not in another.

[code]

When defining the "read" type field, it wrapped the plain type in non-null
for required fields. Someone accidentally wrapped the type in non-null in
the DSL and so it was wrapped twice. We added this as input val

[2017-07-07 18:35] thebadmonkeydev commented on #820
Something I'd like to mention that I haven't seen in here explicitly is how perspective approaches will handle (or at least behave) in terms of development and debugging.  Recently I got treated with an autoload error about my root QueryType because I misspelled the name of a mutation field in MutationType :scream: This is one of the reasons why I have :+1: s all over @riffraff 's suggestion and t

[2017-07-10 18:45] #529 closed

[2017-07-10 21:53] sj26 commented on #825
Wonderful, thank you! 🙇🏻

If this is only for backwards compat I guess it's time for me to update some code! 😅

[2017-07-10 21:53] #825 closed

[2017-07-11 20:24] gjtorikian opened #832 "Overriding properties on a defined field doesn't work"
Given a field like

[code]

It is not possible to overwrite the attributes, like:

[code]

[2017-07-11 21:38] rmosolgo commented on #832
Oopsie!

A workaround is to use `redefine:

[code]

[2017-07-12 10:52] qrush commented on #651
I just ran into this here and was quite surprised. Maybe it's the way that GraphQL DSL is set up? Do we need to use `define` do create types? Maybe if we just used some standard Ruby modules it might make Rails happier. For instance:

[code]

[2017-07-12 13:25] rmosolgo commented on #651
Hoping to make a change like that soon! Discussion at #820

[2017-07-13 01:34] matthewowen opened #837 "Arguments for GraphQL::ObjectType"
When I define a field, I can define arguments that it takes and use those fields to determine how it is resolved.

I'd like to do the same for an `ObjectType`. Concretely, I'd like the `ObjectType` to take arguments, and for those arguments to be available to me when I am resolving fields within the object. This would be useful for a use case that has a degree of "perspective", where there's a sin

[2017-07-13 01:38] matthewowen commented on #837
To be slightly more concrete, something along the lines of

[code]

I realize this is a contrived example that makes no sense, but you can presumably see the utility of being able to use a single argument to the object to inform the resolution of a number of different fields within that object.

[2017-07-13 11:43] rmosolgo commented on #837
Hi! I think I get what you're going for: sometimes, you want to treat the _same object_ two different ways, depending on the context it's accessed from.

In the example above, where would `object_args[:bar]` come _from_? How would you provide the value?

This doesn't exist now, the only option is to express the context via `obj` itself, for example:

- Add an accessor to `obj` called `graphql_cont

[2017-07-13 17:20] matthewowen commented on #837
Yeah, I was being kinda deliberately vague about where object_args[:bar] comes from :). Thanks for responding: will have a further think.

[2017-07-13 20:54] rmosolgo commented on #454
I'm closing this as superseded by #727  or #820

[2017-07-13 20:54] #454 closed

[2017-07-13 20:54] rmosolgo commented on #491
This is addressed in 1.6.5, check the changelog for new options :)

[2017-07-13 20:54] #491 closed

[2017-07-14 08:02] opan opened #839 "Query execution fails because Array doesn't have the wrap method"
Hi all! I have a little problem here. I am trying to use an `Argument` on my query. Here is my code:

[code]

I run these through rspec and the errors I get is:

[code]

graphql version: 1.6.5 and I'm using this without Rails.

The backtrace is not clear enough, so I don't where to start debugging.
Is there anything I missed? Thank you for the response.

[2017-07-14 08:46] opan commented on #839
Okay, I think I fix it for a while. I just add [`Array#wrap`](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/array/wrap.rb#L37) and now it's working fine. The argument is passed. Could anyone explain me why we need to call this Rails method?

[2017-07-14 13:09] rmosolgo commented on #839
Oops, this is an error! We should avoid that Rails method, we don't want Rails as a dependency for this library.

[2017-07-14 13:14] esjee commented on #839
:scream: Oh no, this is my mistake! I introduced this dependency in https://github.com/rmosolgo/graphql-ruby/pull/824

I'll fix this!

[2017-07-14 13:29] esjee opened #841 "Create a travis build that doesn't install Rails to make sure that any PR that introduce a dependency on Rails/active_support will break"
Creating this issue as a response to https://github.com/rmosolgo/graphql-ruby/issues/839

Rails is added as a test dependency, and there are several tests that rely on it being installed. Unfortunately, that also means that any accidental dependencies will easily go unnoticed. In order to resolve this, let's create a travis build that specifically does *not* install Rails to make sure that such mi

[2017-07-14 13:32] rmosolgo commented on #841
This would be a huge win!

[2017-07-14 13:53] #839 closed

[2017-07-14 22:23] Ancinek opened #845 "[Question]: When assigning attributes, you must pass a hash as an argument."
I am trying to setup mutations in my Rails app, so I followed the guides and I have in my `graphql/mutations` folder:

    Mutations::MutationType = GraphQL::ObjectType.define do
        name "Mutation"
        field :addPlace, Types::PlaceType do
            description "Adds new place!"
            argument :place, PlaceInputType

            resolve -> (t, args, c) {
                Place.creat

[2017-07-14 23:10] rmosolgo commented on #845
`args[:place]` returns a `GraphQL::Query::Arguments` instance. To convert it to a Hash, use `.to_h`, for example:

[code]

Does that fix it for you?

[2017-07-14 23:17] Ancinek commented on #845
@rmosolgo It actually does. Brilliant! It really should be included in the examples [click](https://github.com/rmosolgo/graphql-ruby/blob/master/guides/queries/mutations.md), as it seems like `to_h` is happening behind the curtains.

Thanks for that!

[2017-07-14 23:19] rmosolgo commented on #845
Oh, you're right, those examples should be improved! Glad it worked for you :)

[2017-07-14 23:19] #845 closed

[2017-07-15 15:20] rmosolgo commented on #816
Oh, this was fixed in 1.6.5, thanks again for debugging this!

[2017-07-15 15:20] #816 closed

[2017-07-16 12:43] opan commented on #839
@rmosolgo @esjee Thank you for the response and fix this!

[2017-07-16 13:08] bondanherumurti opened #847 "integrate gem built in func to graphql query"
Hey guys, probably this place is not the best idea to ask, but i still haven't got any answered from SO, hope this q did not violate any rules

i'm currently working on an ecommerce project, and start to implement graphql ruby with my solidus, now i'm about to build on faceted search using solidus searchkick

there is a custom function provided by solidus_searchkick

[code]

my idea was to pass th

[2017-07-16 13:45] eshaiju commented on #785
@Willianvdv This working in my other sample application. so something related to the other project setup. thanks

[2017-07-16 17:22] timscott opened #848 "Resolve field on Root Query"
I think I should be able to do this:

[code]

But I get error

This workaround does the trick:

[code]

I guess I understand that I cannot resolve of field from the root because it has no object, but maybe it should to avoid this kind of silly code? Or maybe there's some better idiomatic way to handle this?

[2017-07-17 01:16] rmosolgo commented on #848
You _can_ provide a root object using [`root_value`](http://graphql-ruby.org/queries/executing_queries.html#root-value):

[code]

A real use case for this might be to pass `current_user` or `current_organization` as `root_value:`, then derive all fields from that starting point.

Does that work for you?

[2017-07-17 22:04] cipater commented on #837
Presumably there's a `field :foo, FooType` somewhere... Unless I'm missing something, wouldn't that become:

[code]

[2017-07-18 02:38] timscott commented on #848
I don't think that would work. `Types::Foo` is a `GraphQL::ObjectType` which has fields, each of which resolves from the query.

Actually, I think my "workaround" is probably the correct way to do it. Thanks!

[2017-07-18 02:38] #848 closed

[2017-07-18 15:59] mull commented on #613
Liking everything in here! @rmosolgo do you have a rough estimate when you think you would release it (even if it's beta?) We're building a new project right now and exploring the options we have in GraphQL. One of them is whether to do polling or subscriptions. Subscriptions are our long term goal but we thought we'd try something out relatively soon. If subscriptions are relatively close we woul

[2017-07-18 17:19] rmosolgo commented on #613
Hi @mull, thanks for taking a look!

My guess is end-of-August at the latest. There are a few more `# TODO`s over at #672, which I'll finish on the upcoming `graphql-ruby` hack day at the latest (tentatively scheduled for Aug 25, more info coming soon).

Besides that, there are a few other folks implementing subscriptions on their own, so those might be released even sooner!

[2017-07-18 17:52] mbajur commented on #656
@blevine (or anyone) - could you share the exact monkey-patched code you used to make it work? I'm not good at monkey patching and all my attempts are failing so obviously i'm doing something wrong, it would be really handy to see a full code sample here :)

[2017-07-18 19:44] jimmybaker opened #851 "Returning new instances of a custom type"
I have this object definition:

[code]

Notice the errors field and it's array of Types::Error. Error is setup like this:

[code]

What should I do inside the form type to get the errors of the the Form record to return properly? The desired result is:

[code]

[2017-07-19 01:23] rmosolgo commented on #851
The setup you shared looks _right_! `OpenStruct.new(property:, messages:)` should work fine.

A query should run like:

[code]

And return a response like the one you posted above:

[code]

When you run a query with your setup, what kind of response do you get?

[2017-07-19 08:15] mull commented on #613
@rmosolgo thanks for the answer! We love the library and will be purchasing the pro license in a few hours :heart:

[2017-07-19 08:53] mbajur opened #852 "Implementing simple prev/next pagination"
Hello,

i've seen few issues about it here but none of them are an answer for my question. I need to implement a simple Previous / Next pagination (without page numbers etc) but i'm not able to use `pageInfo.hasPreviousPage` and `pageInfo.hasNextPage` in cause of a thing mentioned in here: https://github.com/rmosolgo/graphql-ruby/issues/656 (long story short - when paginating forwards with `first`

[2017-07-19 10:40] ghivert opened #853 "Problem in coerce_result: expect 2 arguments, only 1 given"
Hi everyone!
I'm trying to define a custom type in GraphQL, but can't understand the result. When I'm trying to fetch data, I'm encountering an error:

[code]

I declared my type like this:

[code]

And it's called in:

[code]

I'm wondering what's going on, because when I'm defining functions to only accept one argument (value), it's working. Is there something I did wrong?

[2017-07-19 11:30] Willianvdv commented on #853
Which version of the gem are you using?

[2017-07-19 12:08] Willianvdv opened #854 "25th of August - Amsterdam GraphQL Ruby hack day"
Note: this invite is a work in progress. However, the date is **set and won't be changed.**

Hello peeps,

It's going to happen, our first GraphQL hack day! The idea is to have a day where you can meet other GraphQLiasts, ask questions, improve the gem or just have a fun time.

Our hack location will be in Amsterdam. Don't worry if you're not in this time zone, we'll make this hack day remote frie

[2017-07-19 12:35] ghivert commented on #853
The gem was 0.16.9 (don't know why…), after updating, everything is working!
Thanks for your time!

[2017-07-19 12:53] #853 closed

[2017-07-19 16:24] rmosolgo commented on #854
Very cool! I just booked my ticket for a little trip to NL :D

Can we add a page to `graphql-ruby.org` for this event, and perhaps a banner to notify visitors (once) about it?

Also, when the page is up, I'd like to email the graphql-ruby newsletter with a link to that page. How does that sound?

[2017-07-19 16:26] emilebosch commented on #854
That sounds awesome, Im @ HackerOne office tomo to get all these things done. Even though we’re not selling tickets, i need to put a limit on the number of ppl. because we have only so many spots. The amount i know exactly tomorrow. I’ll ping you tomo when u can put it up :) W

Keep rocking!

[2017-07-19 18:30] jimmybaker commented on #851
Turns out messages wasn't an array if there was only one message, so I had to modify it slightly to make it work:

[code]

[2017-07-19 18:30] #851 closed

[2017-07-20 07:37] skorfmann commented on #854
Cool idea, count me in 👍

[2017-07-20 12:02] Willianvdv commented on #854
@skorfmann cool! Will you join us in Amsterdam or hangouts?

[2017-07-20 12:54] skorfmann commented on #854
I'll join you in Amsterdam (gonna fly in to AMS for that day)

[2017-07-20 13:39] emilebosch commented on #854
@skorfmann awesome!! I see that you work at XING! Care to talk about that a littke? Just a short talk? Would love to know how you all implement it over there!

[2017-07-20 14:12] skorfmann commented on #854
FYI: Our GraphQL Ruby implementation is pre-production and won't really make it into production. It's gonna be replaced by Sangria. Nevertheless, I'd still be more than happy to talk about it and our experience so far 😄

[2017-07-20 14:13] emilebosch commented on #854
I’m cool with that! sounds awesome what do you think @wilian? @esjee

[2017-07-20 15:12] emilebosch commented on #854
Bam its live! 🙌  https://www.meetup.com/Amsterdam-rb/events/241877303/ I'll pimp it up a little soon!

[2017-07-21 00:07] thebadmonkeydev commented on #852
My team just ran up against this issue as well.  I'm trying to work something out on our app, if I come to a solution I'll report it back here.

[2017-07-21 00:52] leonardofaria commented on #852
same here

[2017-07-21 01:02] rmosolgo commented on #852
We just recently fixed this in GitHub... but all our connections are custom, so it was fixed at that level 😬

I'm convinced that departing from the Relay spec is good here, but I would like to make it opt-in, since it results in more DB queries.

[2017-07-21 01:05] thebadmonkeydev commented on #852
I'm all for making it opt-in.  Unfortunately my monkey patch won't help the community at large because we're on graphql-pro.  I'll circle back and see if I can take a stab at a PR on the public version if anyone else hasn't gotten to it.

[2017-07-22 08:43] Willianvdv commented on #847
Hey @bondanherumurti, sorry for the long wait! From the provided info, it looks like an error that's related to your setup. Since this already a week old, did you fix this already? If not, I'm happy to help you with this issue.

[2017-07-22 21:24] afuno opened #855 "How to display an array in an array?"
Rails, GraphQL Ruby, and a field with the JSON type in the PostgreSQL table.

There are two types of records in this field:

1. `["One","Two","Three"]`
2. `[["One","Two","Three"]]`

This is done specially. So it is necessary.

If Rails itself displays this data as it should, then gem GraphQL inside itself works correctly only with the first view.

The second view is displayed like this:

[code]

R

[2017-07-23 13:36] rmosolgo commented on #855
The two formats may be specified like this:

[code]

but there is no way to specify them _together_. Here are some options I can think of:

- Make _two_ fields, one for each format

[code]

  Then in graphql:

[code]

  Then merge them in the view code

- Use an intermediary object type + union

[code]

  Then in GraphQL:

[code]

  This way, the resulting `"values"` may be of either format.

  Un

[2017-07-24 02:25] bondanherumurti commented on #847
No i havent found any solution yet.. probably thinking to roll back to rest

[2017-07-24 11:32] afuno commented on #855
@rmosolgo Your example from the first point helped me. Thank you.

The second point I did not understand. I copied your code, but in the end I get this error:

Because of this error the project falls.

Most likely the matter is that I incorrectly pass `json_field` in the query.

[2017-07-24 13:31] rmosolgo commented on #855
Sorry, that error popped up because you need to define `resolve_type` in your schema:

[2017-07-24 15:22] igorpreston opened #856 "Is this gem compatible with Relay Modern on the front?"
Hey, I am using developing a new React app with Relay Modern and I have Rails RESTful API on the backend. I am considering to use this gem to provide `/graphql` endpoint, however it seems to me that it is only compatible with Relay Classic. Because there were some breaking changes to the Relay API. Am I wrong?

Thanks!

[2017-07-24 16:01] rmosolgo commented on #856
I think this gem will support either version of Relay. As far as I know, Relay's GraphQL requirements are the same between Relay Classic and Relay Modern. That is, the _JavaScript_ APIs are very different between Classic and Modern, but I think the same GraphQL server works for both.

So, it should work! If you give it a try and have a problem, please open an issue. It's my goal to support all ver

[2017-07-24 16:01] #856 closed

[2017-07-25 00:19] matthewowen opened #857 "Nested lazy execution problems"
I'm not certain if this is an issue with graphql-ruby of graphql-batch... but I think it's here.

Concretely, with a toy example:

[code]

With a schema like this and a viewer type, I can provider a query like
[code]

Now, the first two levels of association load as I'd hope: they're batched. But the bottom layer (loading the users) doesn't get batched properly. The `BelongsToLoader` is called, bu

[2017-07-25 13:43] rmosolgo commented on #857
Hi, thanks for reporting this issue! Are you on the latest graphql-ruby? I ask because a fix was just added in this area in #835

[2017-07-25 21:40] matthewowen commented on #857
Nice! I upgraded and the issue is resolved. Thanks so much for the speedy response!

[2017-07-25 21:40] #857 closed

[2017-07-26 08:15] Xuhao commented on #656
@mbajur Here is simple patch if you use rails:

Create `config/initializers/graphql.rb` and contain:

[code]

[2017-07-26 09:46] mbajur commented on #656
Unfortunatelly @Xuhao - your code makes my API forces me to use both `first` and `last` arguments and makes pageInfo always returns `true` for both `hasNextPage` and `hasPreviousPage`. When pagination reaches last page - both of them starts to return `false`. So it's still unusable as a pagination solution :(

[2017-07-26 09:51] Xuhao commented on #656
@mbajur  So you just test your API directly(via curl or graphiQL) ,bug without any graphql client(like relay) right?

[2017-07-26 09:52] mbajur commented on #656
Yeah, exactly, i'm using graphiql for it

[2017-07-26 13:19] Xuhao commented on #656
@mbajur strange, it tried this patch before and was worked. Maybe new version made some changes on it.

[2017-07-26 13:38] mbajur commented on #656
Out of curiosity - are you using both `first` and `last` arguments in parallel with thish patch?

[2017-07-26 15:48] timscott opened #858 "Arguments#to_h with Symbol Keys?"
[`Arguments#[]`](https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/query/arguments.rb#L23) has indifferent access (string or symbol key). I generally prefer to use symbols for keys. But I often find it necessary to break apart the args in order to use `#delete` or `#extract`, so I call [`#to_h`](https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/query/arguments.rb#L37)

[2017-07-26 16:14] rmosolgo commented on #858
I chose strings from the start because this represents user input and we support Rubies which don't garbage-collect Symbols. So, if I had chosen symbols, we could be vulnerable to a DOS vulnerability.

However, it's worth a look at whether these strings could be replaced by symbols. All arguments are whitelisted by the GraphQL schema, so we _might_ be able to switch to symbols without exposing tha

[2017-07-27 20:29] asafigan opened #859 "GraphQL::Relay::Mutation.define broken"
version: 1.6.6

[code]

I get this error:
[code]

I could be misusing the API. But all I did was follow the documentation.

[2017-07-27 20:33] rmosolgo commented on #859
I think the block is being associated with the `field` method instead of `Mutation.define`.

What if you move `GraphQL::Relay::Mutation.define do ... end` into its own file , and assign it to a constant?

or, wrap parens around:

[code]

That would force the block to be associated with `.define`

[2017-07-27 21:05] asafigan commented on #859
The reason that I didn't make the mutation a constant is because when I did it wouldn't show errors. The constant would just be undefined, and I would get a undefined constant error.

[2017-07-27 21:19] asafigan commented on #859
[code]

This fixes it somehow.

[2017-07-27 21:20] asafigan commented on #859
But if I move the `ImageMutations` module out of the file. I get a Undefined Constant error. What should I do?

[2017-07-27 21:40] asafigan commented on #859
Got it working. I had to define it as `Mutations::ImageMutations` or else it wouldn't load. Can anyone tell me why? Both `Mutations::Image` and `ImageMutations` does work.

[2017-07-27 21:41] asafigan commented on #859
Also I have to call my image type `Types::ImageType` or it won't load either.

[2017-07-27 21:42] asafigan commented on #859
This really confuses me. Shouldn't I be able to name the constants whatever I won't and rails will load it for me?

[2017-07-28 14:17] rmosolgo commented on #859
No, you can't name them whatever you want. The namespace & constant name must match the filepath.

[2017-07-31 21:41] lovitt opened #861 "Returning lots of objects is slow"
We're seeing some performance issues with a certain field that returns a lot of data. To better understand how GraphQL performance depends on the size of the response, we wrote a benchmark script that uses the GraphQL gem to query for increasingly large lists of objects at once:

https://gist.github.com/lovitt/effa205b876d9a9b86ee58399cceaf31

All test data is pre-generated and in memory, so the s

[2017-08-01 16:10] rmosolgo commented on #861
Hi again, thanks again for such a great benchmark!

To be honest, I don't find these numbers surprising. This range of "small" to "giant" matches what I've seen in other profiling exercises.

I forked your benchmark and added a couple of my favorite tools, `ruby-prof` and `memory_profiler`, then uploaded the results:

https://gist.github.com/rmosolgo/b7c1af9ef6733c648156cb476c6eb700

`ruby-prof` s

[2017-08-02 10:15] riffraff opened #862 "Allow lazy enum values definition"
I have an Enum type defined statically:

[code]

and this works fine, but now I want to move `KINDS`  from a ruby constant to a configuration value stored in the database.
This means, I would change the code to

[code]

the problem is that in specs this might run before I have initialized the database, causing unstable tests.

If the enum could be defined lazily, this could be solved, e.g. reusing

[2017-08-02 13:19] octavonce opened #863 "Uninitialized constant GraphQL::Relay::ConnectionField"
[code]

When i run it it gives me this error:
[code]

What's going on?

[2017-08-02 14:50] rmosolgo commented on #863
Sorry, I think that's not supported since a refactor of how connections work. Try this instead:

[code]

And remove this part:

[code]

Does that work for you?

[2017-08-02 15:00] rmosolgo commented on #862
I think this is possible! But, I think the question is, when would `values` be _called_? We need to know all values in order to validate inputs and coerce outputs, but maybe we can delay it until then.

The other issue is thread-safety and fork behavior. If we don't populate values in the parent process, then forked processes will all re-calculate this value each time, right?

I'm definitely open

[2017-08-02 20:34] octavonce commented on #863
Yes, thank you very much!

[2017-08-02 20:34] #863 closed

[2017-08-03 02:24] mgwidmann commented on #613
There are some considerable issues to deal with when it comes to even a small bit of scaling. Think of 1000 connected users from 5 different platforms each using a different subscription query. Will you render the document 5 times or 1000? What happens if 500 subscribe to server A and 500 subscribe to server B?

[Absinthe](http://absinthe-graphql.org/) (in Elixir) is just finishing getting subscri

[2017-08-03 02:30] mgwidmann opened #864 "Rails 5 generator doesn't work"
Rails 5.1.2

[code]

[2017-08-03 09:58] mull commented on #864
I'm also not seeing the rails tasks.

@mgwidmann do note that oyu're on a quite outdated version

[2017-08-03 12:53] rmosolgo commented on #864
Rails generators were added in version `1.5.0`, please update your gem version and try again!

Reopen this if it doesn't work for you.

[2017-08-03 12:53] #864 closed

[2017-08-03 13:52] rmosolgo commented on #613
Thanks for the link @mgwidmann ! I love having a looking into other implementations, there are some really smart folks with good ideas there 😄

 I'll share some of my thoughts on these specific topics:

My priorities are:

1. Safety by default: out of the box, we should prevent people from accidentally leaking unauthorized data into subscription responses
2. Efficiency: efficient storage, executio

[2017-08-04 00:46] lucas-aragno opened #866 "Issues with schema validation"
I'm getting

[code]

this is my current gem version

[code]

any ideas?

[2017-08-04 00:55] lucas-aragno commented on #866
Update, seems like that error happens when i do:

[code]

If I use `new` instead of define works fine i.e:

[code]

but that's deprecated, right?

[2017-08-04 01:03] rmosolgo commented on #866
I see you're using

Please update, the latest version is 1.6.6 !

[2017-08-04 05:25] jordac67 opened #867 "resolve_type not working when querying"
I've run into an issue where I'm questioning whether or not resolve_type is actually working. I noticed it when I started using interfaces in my project. From my understanding, `resolve_type` is responsible for mapping certain objects to specific types, but should fail when it can't find a match. I tried testing it out with faulty types and also tried raising a error
[code]
However, the queries st

[2017-08-04 06:56] riffraff commented on #862
Yes, my idea was to delay it until we need to load the values, i.e. validate input or dump the schema.

In a accept/fork/process model, that would mean loading the values once per request in the forked process yes, it seems reasonable to me and allows updating the configuration data between requests.

I am not sure whether we should store the computed value for the duration of the request, or wher

[2017-08-04 15:52] mgwidmann commented on #613
@rmosolgo I hear your concerns, especially with regard to `Thread.current`, its a super bad practice. I don't know anything about your implementation so I don't know if what you said will work.

I've talked several times with one of the team members on the Elixir GraphQL implementation and he said they had to implement functionality similar to how batching works inside a single document but across

[2017-08-04 15:58] mgwidmann commented on #864
sorry, my bad, dunno how that got there 😆

[2017-08-04 18:22] khelll opened #868 "Default enum values for arguments"
I have:

[code]

and a field:

[code]

I'm trying to add a default enum value as the following:

[code]
And that triggers the following schema error:

```Argument 'region' on Field 'test' has an invalid value. Expected type 'RegionCodeType'.```

Also tried:

[code]

and got:

[code]

[2017-08-04 18:44] khelll commented on #868
And also, is there a way to default to some enum value in case the supplied argument value doesn't match the provided values? Right now this will raise an exception.

[2017-08-05 17:46] rmosolgo commented on #868
Try

[code]
?

(using the _Ruby_ value as the default_value, not the GraphQL value)

[2017-08-05 17:48] rmosolgo commented on #867
Can you share some info about your schema?

For example, could you share a query which you expect to call `resolve_type`, and share the definitions involved with that query?

[2017-08-05 18:08] lucas-aragno commented on #866
oh I see, but i'm using [graphql-relay](https://rubygems.org/gems/graphql-relay/versions/0.12.0) as well which depends on 0.17 😞

[2017-08-05 18:30] rmosolgo commented on #866
GraphQL::Relay was merged into this project [last summer](https://github.com/rmosolgo/graphql-ruby/pull/195), so you will find all of that code here now, for example:

https://github.com/rmosolgo/graphql-ruby/tree/master/lib/graphql/relay

So, you should update `graphql` and stop using `graphql-ruby`!

[2017-08-05 18:37] lucas-aragno commented on #866
WOW! Seems like I've been out of the game for a while 😬. Updated and everything works beautifully
Thanks for the help and thanks for the awesome work!

Closing this issue now 😄

[2017-08-05 18:37] #866 closed

[2017-08-06 01:42] mengledowl opened #869 "Prepare proc fails to run for input type argument when putting the input type into the query variables"
I've got a mutation that allows the client to update the currently signed in user's preferences. The mutation looks like this:

[code]

PreferenceInput:

[code]

The following query executes without a hitch, and will run the `prepare`:

[code]

When putting the preferences into a query variable however, the `prepare` never executes and my code blows up (because the processing isn't getting done in

[2017-08-06 07:29] jordac67 commented on #867
Sure thing, here is a sample of a query that we're using. Also even when only raising an error in the `resolve_type` lambda, the query still executes perfectly fine.

##Schema.rb
[code]
##QueryType
[code]
##ForecastedCumulativeReturnType
[code]
##NationalCrossSectionType
[code]

[2017-08-06 11:57] rmosolgo commented on #867
`resolve_type` is only used for fields that return `UnionType` and `IntefaceType`.

When a field returns an `ObjectType`, we don't need to call `resolve_type`, because we can use the type definition from the schema. We already know what type to use!

So, `resolve_type` is not used with your schema because there aren't any unions or interfaces.

Does that help?

[2017-08-06 19:42] rmosolgo commented on #862
there's not something per-_request_, but `context` is good per-_query_ storage.

I'm torn because schema filters allow _hiding_ some parts of the schema. But I can't think of any way to _add_ parts of the schema or determine the schema dynamically :S :S

Actually, I'm starting to work on a new API for schema definition. I have some thoughts like using a `type_missing` hook to support dynamic type

[2017-08-06 21:17] jordac67 commented on #867
I'm sorry, the `type` I posted was wrong. I had removed the interface because of the issue, but this is how I had the `NationalCrossSectionType` before when i defined an interface:
**NationalCrossSectionType**
NationalCrossSectionType = GraphQL::ObjectType.define do
  name 'NationalCrossSection'
  description 'Provides nationwide cross section data'
  interfaces [ForecastedCumulativeReturnsInterfa

[2017-08-08 02:16] rmosolgo commented on #613
👌 I _think_ the current implementation would support using `Schema#multiplex` for subscription delivery, I'll add a test to make double-sure before releasing.

Same, the current implementation leaves storage & transport to the application, so you could use whatever implementation you want (eg ActionCable, Pusher)

[2017-08-08 06:24] gregclar opened #874 "Guide: Getting Started"
Hi @rmosolgo

Just starting a Rails 5 api app today using graphql-ruby - appreciate your work.  Running graphql 1.6.6.

I was working through the examples at http://graphql-ruby.org/getting_started and I used the install command:

After that I was able to query the testField.

But when I tried to define a NameType along the lines of the PostType example I kept getting

errors.

I eventually found

[2017-08-08 11:00] octavonce opened #875 "Undefined method for ActiveRecord_Associations_CollectionProxy"
Hello

I have followed the guides and i am trying to return an array of fields using a connection on the relay front-end:

[code]

But when i do the query, i receive the following error:
[code]

If i try to pluck the start time like this:
[code]

I receive an object on the front-end:
[code]

How can i receive an array of positions with the required fields?
Thank you

[2017-08-08 17:33] xuorig commented on #875
It sounds like what you want is a `startTime` on the `Position` type, and not the `PositionConnection` type.

Try adding

[code]

to your `PositionType` instead of the connection.

Connections are singular objects that will return an list of edges amongst other things. If I understand correctly, you probably want the field on the items of that list instead of on the connection itself. Let me know

[2017-08-08 17:53] giovannibenussi opened #877 "Weird Bug When Don't add new line before post while testing with RSpec"
I think that this should be here because the error happens in GraphQL-Ruby parsing process, but also can be related to a Ruby bug.

I have the following code (note that the ';' were added purposely to avoid that the compiler joins some lines together that eventually may be causing the problem):

[code]
 This throws me the following response in graphql:

`{"errors" => [{"message" => "Type mismatch

[2017-08-08 18:05] #877 closed

[2017-08-08 18:09] giovannibenussi commented on #877
Sorry, my fault, the issue was that I was executing the tests on rspec based on the line number of a file, so adding the newline causes that line to change, specifically to the upper line, that happen to be a blank line, causing that the executed test wasn't the expected one.

[2017-08-08 21:55] pabloh commented on #820
Will `graphql-ruby` be moving on this direction after all?

[2017-08-08 22:21] rmosolgo commented on #820
Slowly but surely, I'm getting started at #871  :)

[2017-08-08 22:23] rmosolgo commented on #874
Hey, thanks for reporting this issue!

Those two parts of the getting started guide were written months apart. They weren't meant to work together, but since they're one-after-the-other, it looks like they should!

Those examples should be updated to so that they _work_ (like your changes above) or updated so it's clear they aren't supposed to be equivalent.

[2017-08-08 23:28] cmatheson opened #878 "Variable validators don't work for variables in non-nullable lists"
Given a schema like:

[code]

and a query like:

[code]

the query validation fails with an error about [ID!] mismatching [ID!]!.  I think this should work though (it is equivalent to calling `fortune(xs: ["2"])` which of course does work.

I haven't figured out how to fix this yet, but here is a diff for a failing test:
[code]

[2017-08-09 12:39] rmosolgo commented on #878
Hi, thanks for the great bug report and failing test! It sounds like literals and variables aren't being merged properly 😖

[2017-08-09 14:13] octavonce commented on #875
I tried it before and it gives me the following error:
[code]

[2017-08-09 15:09] xuorig commented on #875
Can you share your complete code  @octavonce? Seems like you're not returning the right thing in your connection, but its hard to debug in the dark 🐱

[2017-08-10 01:33] rmosolgo commented on #875
It sounds like you added the @xuorig 's suggestion:

but which file did you add that to? (It _should_ be added to `position_type.rb`, _not_ `position_connection.rb`.)

[2017-08-10 06:39] hegwin opened #880 "How can I add a count field?"
I'm developing an API for the front-end to query a list of resources, let's say, classrooms, for example.
There is a requirement that we need to show the total number (count) of classrooms that match the user's filter.

Our current response body is like:

[code]

How can I structure the responding JSON? Where can I put it? Or do I need a separate API for this?

[2017-08-10 10:17] gottfrois opened #881 "How can I get the parent fields from ctx?"
Hey guys,

I was looking for a way to get the parent objects from the `ctx` variable but could not find anything. Here is an example:

[code]

The `pricing resolver look like that:

[code]

How can I get the `user` from the `user(id: 1)` root query?
Thank you!

[2017-08-10 13:22] rmosolgo commented on #880
you can add an integer field called `classroomCount`, for example:

[code]

Does that work for you?

[2017-08-10 13:27] rmosolgo commented on #867
Thanks for those details, could you share a query that doesn't work as expected?

[2017-08-10 13:29] rmosolgo commented on #881
There's not a way to get parent objects from the resolve function :S

Options I can think of are:

- Pass the `userId` as an argument to `pricing` :S
- Create user-aware proxy objects for `abilities` so that you can access the user later on

I can't think of any more :S

[2017-08-10 13:46] rmosolgo opened #882 "Unify execution metadata"
There are a lot of non-user-facing objects created to resolve a GraphQL query:

- Tokens
- AST nodes
- Irep nodes
- FieldResolutionContexts
- FieldResults
- SelectionResults
- (and plenty more: Lazies, LazyConnectionWrapper, Irep Scopes ... 😬 )

I think some of these could be merged into one: FieldResolutionContext, FieldResult, SelectionResult. They all form a tree which corresponds to the final

[2017-08-10 16:12] octavonce commented on #875
Ok so here is the code i used when i submitted the issue:

Here is the shift_type.rb:
[code]

And here is posiiton_connection.rb:
[code]

Now i have followed  your suggestion and created position_type.rb:
[code]

And changed the following in shift_type.rb:
[code]
to
[code]

But when i run relay-compiler it throws the following error:
[code]

And if i put the following in shift_type.rb:
[code]

Rel

[2017-08-10 17:13] xuorig commented on #875
Seems like there's confusion about Connections.

To query connections, you actually need to go through the `edges` field, and query the `node` field on those. It would look like something like this for you:

[code]

[2017-08-10 17:58] jpserra opened #884 "Fix hidden dependency on active_record"
I believe there's an hidden dependency on `active_record` that's causing a
 `NameError: uninitialized constant GraphQL::Relay::RelationConnection::ActiveRecord`

When querying for a connection page info like:
[code]
I got:
[code]

If one doesn't depend on `active_record` at all it should all still work without issues.

[2017-08-10 19:47] #884 closed

[2017-08-11 02:20] bessey opened #886 "Idea: automated batch mutation generation from single mutation"
On a semi-regular basis I have a desire for a mutation that works identically to an existing mutation in the schema, but whos input object type is a list of the original mutations input. A contrived example:

[code]

It seems like the creation of `AddReviews` could be trivially automated, perhaps even accessed simply with:
[code]

[2017-08-11 03:51] jordac67 commented on #867
Thanks for the response! This is the query we are using:
[code]
The query goes through fine and returns the expected value, so that part is good. The confusing part that i mentioned previously was that `resolve_type` doesn't do anything regardless of what code i put in there, such as `raise "error"`. It seems the interface only looks to see if the `resolve_type` lambda is defined, but doesn't actu

[2017-08-11 06:20] hegwin commented on #880
Hi @rmosolgo

Do you mean I put the count in every record? I'm not sure...Can I have something like:

[code]

[2017-08-11 08:48] octavonce commented on #875
Yey, it works now! I'm sorry for the confusion, i am still learning relay.
Thank you very much for your help!

[2017-08-11 08:48] #875 closed

[2017-08-11 11:09] jpserra opened #887 "Sequel::Error Limits must be greater than or equal to 1"
Using the following query, if I get the `cursor` from the first `user` and use it as before argument, I get a `500 "#<Sequel::Error: Limits must be greater than or equal to 1>"`.
[code]
[code]

Looking at the code,

[code]

in line `130` `@sliced_nodes` is a dataset and we're calling `.limit(0)` on it since `offset_from_cursor(before) - 1 = 0`

Here's a simple example:
[code]

[2017-08-11 11:11] jpserra commented on #887
I'm happy to work on a fix for this, let me know what you think about it!

[2017-08-11 13:55] jpserra commented on #887
Now that I think about it, and looking at how ActiveRecord deals with this situation (`limit(0)` just returns an empty set), It might be something that Sequel should support too

[2017-08-11 15:13] rmosolgo commented on #887
A fix here would be great! It would be great to include a test case for this too, so we don't break compatibility in the future 😬

[2017-08-11 15:19] rmosolgo commented on #867
Thanks for sharing a query!

Does this correspond to this field?

[code]

which is returned by the field, and

[code]

which is implemented by `NationalCrossSectionType`, but is not referenced in the query.

Since all the graphql types in the query above are known ahead of type, `resolve_type` is not called! How does that sound?

[2017-08-11 16:17] jpserra commented on #887
Cool I'll look into it then! But before I do, I'd like to hear your thoughts about the best approach for this.

What is happening is the following:
[code]

Line `642` it's raising this error. This behaviour diverges from the one in `ActiveRecord` that allows for `limit = 0`

I'm still gonna see what is Jeremy's idea on this and if it should be changed in sequel itself. In the meantime, there's 2 t

[2017-08-11 17:49] rmosolgo commented on #887
In my opinion, option 2 above would be best! It adds some complexity to the implementation, as you noted, but it Just Works :tm: from the user perspective, which is great.

Option 1 also Just Works, but personally I'm not a fan of using try-catch to implement logic. For a reader, it can be hard to determine _why_ the error is being raised and _where_ the error gets raised from. So if we can avoid

[2017-08-11 17:50] rmosolgo commented on #887
To clarify, _any_ implementation that:

- Adds a test for `limit(0)` + Sequel
- Returns an empty list instead of crashing

gets a :+1: from me :)

[2017-08-11 18:00] spectator commented on #867
This makes total sense, confusing part was that as soon as you have an interface in your object type you must provide `resolve_type` otherwise "schema contains Interfaces or Unions, so you must define a resolve_type" error is raised, so we were questioning our understanding of this -- `resolve_type` is required but not used :) Do you suggest to simply provide empty proc object in that case?

[2017-08-11 18:07] rmosolgo commented on #867
Yes, an empty proc would be fine :)

Sorry for the confusion, and I see your point. The library could be improved so that `resolve_type` is only required when a field _returns_ an Interface type, then this confusion would be addressed! I guess my first implementation was too heavy-handed 😬

[2017-08-11 18:09] spectator commented on #867
Thanks a lot for explaining everything!

[2017-08-11 19:37] #867 closed

[2017-08-11 19:48] rmosolgo commented on #880
Yes, you can have something like that! Add to your root `Query` type:

[code]

that will support a query like the one you posted above!

[2017-08-11 20:30] #878 closed

[2017-08-11 20:31] rmosolgo commented on #868
Please let me know if that doesn't work for you!

[2017-08-11 20:31] #868 closed

[2017-08-11 20:34] rmosolgo commented on #862
Just sharing another thought on this topic:

Currently, a Schema is a fixed set of types and fields. What if it _wasn't_ fixed, and instead, something like schema filtering was added that could return _anything_. So, you could add and remove types to the schema dynamically. This is a bit like refactoring every class in your Ruby app to use _only_ `method_missing` and no static method definitions -

[2017-08-11 20:50] rmosolgo commented on #869
It looks like this was fixed in https://github.com/rmosolgo/graphql-ruby/pull/849, but the fix _wasn't_ on Rubygems yet! I pushed another fix in d22d3968 to confirm.

I just released 1.6.7 with the fix, could you try again, and re-open this issue if you still see the problem?

[2017-08-11 20:56] mengledowl commented on #869
@rmosolgo that seems to have fixed it! Thanks for looking into this!

[2017-08-11 20:58] #869 closed

[2017-08-11 20:58] rmosolgo commented on #869
Glad to hear it!

[2017-08-11 21:22] jordac67 commented on #867
@rmosolgo makes sense, thank you!

[2017-08-12 14:39] thefliik commented on #351
@rmosolgo Awesome explanation!

[2017-08-13 20:21] cjoudrey opened #891 "RFC: Missing InputValue node in parser"
Currently, `InputValue` get turned into Ruby literals when parsed.

For example if we parse this GraphQL query:

[code]

The `ArgumentNode` is:

[code]

The problem with this is we lose the `line` and `col` for the `InputValue` node `"value"` which is useful for validation rules.

In the reference implementation, they solve this by having an `InputValue` node and thus the `ArgumentNode` is:

[code

[2017-08-14 02:36] hegwin commented on #880
@rmosolgo  That's awesome! Thank you!

[2017-08-14 02:43] #880 closed

[2017-08-14 08:11] jpserra commented on #887
I also started this thread here: https://groups.google.com/forum/#!topic/sequel-talk/wd0pwZpPMxA

[2017-08-14 13:42] #887 closed

[2017-08-15 10:30] bdubaut commented on #854
I am interested to prepare something for the [GraphQL Themed Talks & Drinks!](https://www.meetup.com/Amsterdam-rb/events/241877366/) event right after the hack day, we have been using GraphQL in production for about 6-8 months, made plenty of mistakes and found ways to correct along the way, it could be interesting to some if me and some of my colleagues were to share our experience with GraphQL a

[2017-08-15 10:40] emilebosch commented on #854
Hey @bdubaut would love to have a small chat with you! I see you're in amsterdam too. Please call /chat with me on +31611433101 :)

[2017-08-15 18:45] Jose4gg commented on #613
@rmosolgo Do you have another date estimate for the release or is still Agust 25?

[2017-08-15 20:23] rmosolgo commented on #613
yep 😬  working through an example implementation on ActionCable now :)

[2017-08-16 16:52] jnfeinstein opened #893 "Conditionally allowing a field"
I am wondering if it is possible to add a proc on a field or type that specifies when it should be visible and query-able.  Specifically I am trying to build a single GraphQL API that can be used for internal and external queries.  The internal queries would be allowed to access fields that the external one cannot access.  This is similar to authorization but primarily based on context, and the tw

[2017-08-16 17:37] jimmybaker opened #894 "Polymorphic types"
I have a model called Note

[code]

When defining the graphql object to support this, I'm not sure what to put as the notable field since it could be a number of different types. What should I do here?

[2017-08-16 18:41] jimmybaker commented on #894
Nevermind. I was able to solve using UnionTypes.

[2017-08-16 18:41] #894 closed

[2017-08-16 19:34] rmosolgo commented on #893
As you mentioned, [schema filtering](http://graphql-ruby.org/schema/limiting_visibility.html) supports this. You can [extend the DSL](http://graphql-ruby.org/schema/extending_the_dsl.html) to support inline logic. (This is what graphql-pro does for the [authorization framework](http://graphql-ruby.org/pro/authorization#visibility-authorization).)

[2017-08-16 19:44] rmosolgo commented on #891
It would be great to get position info for literal values! I think your suggestion of adding `#value_node` is great. Like you said, it's not consistent, but being non-breaking is a huge win.

Alternatively, if you _wanted_ to explore a similar change in graphql-libgraphqlparser-ruby, we could merge them together and bump their gemspecs as needed.

[2017-08-16 20:23] jnfeinstein commented on #893
Perfect.  Is there a way to always apply a filter to a schema rather than specifying it on the call to execute?  I.e.
[code]
This schema will always be run with authorization, I'd like mine to do the same with show/hide (if/unless since those are reserved terms in the context of a definition).

[2017-08-16 20:29] rmosolgo commented on #893
Good question, yes, filters can also be added by query instrumentation using `Query#merge_filters`:

https://github.com/rmosolgo/graphql-ruby/blob/4ae161488d08682f940a852b8e79904c5ab428bf/spec/graphql/schema/warden_spec.rb#L106-L125

[2017-08-16 21:32] cjoudrey commented on #891
Just to confirm what you mean, you're asking if I could do the same change in `graphql-libgraphqlparser-ruby` so that we can ship both at the same time, correct?

It's not one or the other since, we'd still want this in the Ruby implementation.

[2017-08-16 22:32] jnfeinstein commented on #893
This works well, thank you.  Great work on the API for this API.

[2017-08-16 22:32] #893 closed

[2017-08-17 12:26] taiki-t opened #895 "Negative offset breaks PostgreSQL when relation size is zero."
This happening to me:  https://github.com/rmosolgo/graphql-ruby/issues/802

I could fix this with: https://github.com/taiki-t/graphql-ruby/commit/eb11cf1a396c4878dcfab81108a94078816c064f

but I'm not sure how to add a test case for this; the case where connections have no data or `StarWars::Base`s in existing test cases.

It'd be great if I could get guidance to add such test cases or actual test

[2017-08-17 13:05] esjee commented on #895
Hi! Could you post the query that is causing the issue? It might be helpful to know whether you're using `first` or `last`, or perhaps some more exotic features.

[2017-08-17 14:07] taiki-t commented on #895
Hi!
Here is the fragment, entire query is too big and the connection is this part:

[code]

Where `$count` is any number and cursor is `nil`
I'm fetching some comments from last ordered by created time ascending.
This works well when comments exist but fails when there are no comments.

https://github.com/rmosolgo/graphql-ruby/blob/a5f4e3bcc545060b1de06fdc70467c7b76792d48/lib/graphql/relay/relatio

[2017-08-17 14:09] rmosolgo opened #896 "[Discuss] GraphQL::Tracing"
Last year I worked up some monitoring code for graphql-pro, but:

- Monitoring is required for adopting GraphQL, it's not a nice-to-have; AND
- I think we can do better than graphql-pro's system :)

I think we should add `GraphQL::Tracing` with an API inspired by `ActiveSupport::Notifications`, for example:

[code]

Subscribers can be added by key:

[code]

So, we can implement several "backends"

[2017-08-17 14:10] xuorig commented on #896
😍

[2017-08-17 14:14] emilebosch commented on #896
I'm totally in love with this idea. I think its also cool if we can add some metadata, to the current traced object. For instance the SQL query or elastic search query.

This metadata can then be used to see _what_  is taking that time.

[2017-08-17 14:25] rmosolgo commented on #896
Regarding metadata, my thought was that the second argument to `.trace` could be an arbitrary hash:

[code]

Then, that hash is yielded to `.subscribe` handlers:

[code]

I _think_ that's how AS::Notifications does it. Does that sound like it would do the job?

[2017-08-17 19:52] cjoudrey commented on #896
Somewhat related, I was interested in building something inspired by Sangria's slow query log:
https://medium.com/@oleg.ilyenko/profiling-graphql-67330511f09c / https://github.com/sangria-graphql/sangria-slowlog

**tl;dr;** Sangria has a middleware you can use to log queries that take more than X time to execute.

Execution time and resolver time are inlined with the logged query.

**Example**:

[

[2017-08-17 19:58] emilebosch commented on #896
From that article i love how it looks too
<img width="1045" alt="screen shot 2017-08-17 at 21 58 02" src="https://user-images.githubusercontent.com/303135/29431150-3682dc48-8397-11e7-944d-bc9be9dc4d42.png">

[2017-08-17 22:49] thefliik opened #897 "Feature: allow interfaces to have interfaces"
It seems very likely that this idea has already been discussed, but since I can't find anything:
The ability for interfaces to define default fields is awesome. It would be nice to have the ability to include interface A in interface B, so that any objects implementing interface B also implement interface A.
(ps: this gem is awesome!!!)

[2017-08-18 13:47] ddgromit opened #899 "Connections generating unnecessary COUNT query"
For connection queries that request both `edges` and `hasNextPage`, a COUNT query is run even if the number of edges returned is less than the requested limit.

In queries like this for example, if less than 1000 users are returned, then hasNextPage should always be false:
[code]

It looks like optimization was added in [February](https://github.com/rmosolgo/graphql-ruby/commit/03464e02e38f9950ae3

[2017-08-18 14:26] rmosolgo commented on #899
Thanks for tracking this down! I'm sad to hear it was removed, I guess I overlooked it in review 😬

Getting it back in the works would be great, do you want to take a crack at it?

One way or another, I'll try to add something to the test suite to watch the _actual_ database queries run by the connections.

[2017-08-20 00:13] rmosolgo commented on #891
Sorry for being vague -- what I meant was:

- Adding value_node is :+1:
- If you want to make the breaking change on `InputValue#value` to return a `ValueNode` instead of a `String | Integer | Float | Boolean | nil`, it's ok with me _if_ we make the corresponding change to graphql-libgraphqlparser-ruby

I think it's a reasonable breaking change with a straightforward upgrade path, I just  don't wa

[2017-08-20 01:59] rmosolgo commented on #855
I hope that helped! Feel free to reopen with more details if you're still stuck.

[2017-08-20 01:59] #855 closed

[2017-08-20 02:01] rmosolgo commented on #377
Also relevant: https://github.com/cjoudrey/graphql-schema-linter

[2017-08-21 19:31] ddgromit commented on #899
Sure, I'll take a shot at it.

[2017-08-21 19:46] theorygeek opened #902 "RFC: Should calling `connection_type` on an interface return an interface?"
Suppose that you have an interface:
[code]

And then you try to get a connection type for it:
[code]

Would it be more natural to get an _interface_ type returned to you, instead of an _object_ type? And this would probably have to carry down: the type of the `edges` fields would also have to be an interface.

This boat has probably long sailed away, but I figured I'd bring it up as a discussion p

[2017-08-21 20:46] nemoDreamer commented on #881
@gottfrois I found that you can get an Array of `Argument`s by doing `ctx.irep_node.parent.ast_node.arguments`, but I agree that there _has_ to be a simpler way.
(I find the lack of getters here pretty discouraging...)

There's no way to get a true `Arguments` object, like the `args` one, w/ a `to_h` method, etc...

[2017-08-21 20:48] nemoDreamer commented on #881
If `ctx` is my "context", why aren't there easy ways to access its actual data? 😭

[2017-08-21 21:33] nemoDreamer commented on #881
[code]

[2017-08-21 22:33] theorygeek opened #903 "RFC: Input Object Types v2"
I'm not really sure the best title for this, but here's what I'm after. I'm trying really hard to have this in my schema:
[code]

I have a similar `DateRangeType` that is an ordinary object type, so that there's a nice harmony between the input object types and normal object types. But what would really make this spectacular is if my code received an instance of `Range` instead of a `Query::Argume

[2017-08-22 08:08] rmosolgo commented on #881
I don't recommend going through the AST -- for example, if a client uses a variable, you'll get the name of the variable instead of a value.

You can backtrack `irep_node`s using parent:

[code]

[2017-08-22 08:12] gottfrois commented on #881
The above also does not solve the original issue since I'm looking for the resolved value for the `user(id: 1)` and not a way to get the arguments.

Is there a way to get the resolved value from the ast?

[2017-08-22 08:18] rmosolgo commented on #903
Thanks for the writeup, agreed that Option 1 looks good! It makes sense to me that you'd want to replace the generic `Arguments` instance with some "real" value in a reliable way.

[2017-08-22 08:19] rmosolgo commented on #881
I can't think of any way to backtrack and get that value :(

[2017-08-22 08:31] rmosolgo commented on #902
Interesting idea! I looked through the GitHub schema and it looks like we have a couple of places where we make connections from unions or interfaces, for example, search results returns a connection of SearchResultItemUnion.

Can you help me understand why getting an Interface instead of an Object is helpful? Or what's the case where that's the desired behavior?

[2017-08-22 13:58] rmosolgo opened #904 "RFC: Re-raise errors with additional GraphQL backtrace"
I just learned you can provide a backtrace when raising an error as the third argument to `raise(error_or_class, message, backtrace)`. So, you could amend a backtrace before raising an error, for example:

[code]

So, could we track graphql execution and _add_ entries to the backtrace when errors come from graphql resolve functions?

[2017-08-22 14:42] nemoDreamer commented on #881
Thanks, @rmosolgo!
Sorry @gottfrois, I misread your question... Makes sense now!

[2017-08-22 19:11] theorygeek commented on #902
Here's our use case, hopefully it makes sense. We have several places in our app where the user can import a spreadsheet of data. In order to help the user identify problems, we have a structure on our graph that looks like this (simplified):

[code]

Simple: Spreadsheet has Tabs, each Tab has Rows, and the rows are exposed as a connection. As you can see, these are interfaces, because we are buil

[2017-08-22 19:25] theorygeek commented on #904
Are you thinking that we would add things like the path in the query?
[code]

[code]

[2017-08-22 19:40] theorygeek commented on #613
As I've had a few more subscriptions crop in my app, I've noticed that a common use case is:
- Mutation is executed to start some long running operation. It's exposed as an object on the graph.
- A subscription is created to get status updates as the operation runs.

The operation usually has a unique ID, which is unknowable until the mutation is finished. However it's possible that status updates

[2017-08-22 19:45] rmosolgo commented on #904
Yeah exactly! Maybe it could be optional while we try it out, eg

[code]

[2017-08-22 19:47] rmosolgo commented on #902
Wow, that's really interesting! So, in your case, not only are the _nodes_ of varying types, but the edges are too. (Is that right, is `SpreadsheetRowEdge` also an abstract type?)

[2017-08-22 20:11] theorygeek commented on #902
Yes, that is right. Mostly because the concrete types always reference concrete ones, and vice versa...
[code]

[2017-08-22 20:13] rmosolgo commented on #613
Great point, a similar question of atomicity was also discussed during the spec formalization: https://github.com/facebook/graphql/issues/283 (in the end, left vague).

Your idea of putting the timestamp in the ID is really cool! So when you subscribed, the server can replay updates between that timestamp and the current time. I'd love to try implementing it sometime 😄

[2017-08-22 20:22] theorygeek commented on #902
EDIT: Sorry, I just realized that I had a type called `PayrollHourtImportRow` and `PayrollHourImportRow`. The one called `PayrollHourtImportRow` (has a "t" after the word "hour") should have been `PayrollHourImportRowEdge`. (insert face-palm)

I think I fixed all the references in my previous comments.

[2017-08-22 21:40] theorygeek commented on #902
I think this is the nail in the coffin for my suggestion, from the [Relay Cursor Connections spec](https://facebook.github.io/relay/graphql/connections.htm#sec-Connection-Types):

The Relay modern compiler crashes if you attempt to query a connection that is an interface. ☹️

[2017-08-22 21:40] #902 closed

[2017-08-24 05:36] #899 closed

[2017-08-24 08:07] Willianvdv commented on #895
Fixed in #907

[2017-08-24 08:07] #895 closed

[2017-08-24 09:06] rmosolgo commented on #897
Hi, thanks for the suggestion! Glad to hear you're enjoying the gem.

Personally, I'm not too interested in adding more interface inheritance. Although it's very convenient, I find that it's hard to keep track of which fields are implemented by which files.

That said, I'm trying out a new schema definition api ( #871 ) which uses Ruby classes to implement GraphQL object types and fields. In that

[2017-08-24 09:06] #897 closed

[2017-08-24 09:15] rmosolgo opened #909 "Bug tracker integration"
I think it would be great to add some integrations for common bug trackers (eg Sentry, Bugsnag, Airbrake) which improve the metadata for runtime errors.

At least, we could add:

- query string
- variables
- ~~context~~ Can we count on the application adding enough context (eg `current_user`)?

For usage, it could be a simple as:

[code]

which imports the code for adding metadata to the right sys

[2017-08-24 09:31] rmosolgo opened #910 "Add .github/issue_template.md"
We could improve the support experience by helping people write good bug reports and feature requests.

The template should request:

- For bug reports:
  - Full error message & backtrace, if applicable
  - Full GraphQL query & relevant schema defintion, if applicable
  - Code sample which triggers the bug or demonstrates the problem
- For feature requests:
  - Describe the feature
  - Describe th

[2017-08-24 09:36] rmosolgo opened #911 "Build a demo app"
A few demo apps exist already:

- https://github.com/rmosolgo/graphql-ruby-demo
- https://github.com/GraphQLAcademy/swapi-graphql-ruby
- https://github.com/gauravtiwari/relay-rails-blog

But many of them are not up-to-date. There are several demos which would be valuable:

- Rails + Relay Modern: how to use these two together?
- Rails + Apollo Client: how to use these two together?
- Rails demo wi

[2017-08-24 09:39] rmosolgo opened #912 "Website improvements"
It's no secret that I need all the help I can get in this department!

- Improve style / layout?
- Improve search
  - Better results?
  - Dedicated, linkable search results page
  - Could replace handrolled search index with a free hosted plan? (Algolia?)
- Other improvements?

[2017-08-24 12:26] emilebosch commented on #912
Im just going to add some inspiration from other sites for the designers.

- http://absinthe-graphql.org
- http://graphene-python.org
- http://graphql.org
- https://www.howtographql.com

Maybe add some logos of companies running graphql, github shoppify, IFTT etc.

- https://www.shopify.com
- https://ifttt.com
- https://github.com

[2017-08-24 12:27] emilebosch commented on #911
We also have this:

https://www.howtographql.com/graphql-ruby/0-introduction/

[2017-08-24 12:39] rmosolgo commented on #912
It's ok with me to add company logos, but should we check with those companies before doing so? Or is it ok to post them, since we know it from our research? 🕵️

[2017-08-24 12:41] emilebosch commented on #912
We should most definitely ask them beforehand!  But until we put it public, we can use some pseudo logos to make the designs with.

[2017-08-24 14:19] mull opened #913 "Invalid (?) enum values permitted"
We had an invalid enum value slip by in code review which looked something like

[code]

Neither graphql-ruby nor Relay Modern complained about it. GraphiQL however rejected it immediately with the following error message:

[code]

The [docs seem to be vague about it](http://facebook.github.io/graphql/#sec-Enum-Value) but but they [do hint at it](http://facebook.github.io/graphql/#sec-Enums)

The

[2017-08-24 15:51] rmosolgo commented on #913
Yes, we should totally validate these values during schema build! Thanks for reporting this issue!

[2017-08-25 07:15] rmosolgo commented on #913
Here's the `EnumValue` class:

https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/enum_type.rb#L135-L141

I think we should add a `#name=(new_name)` method which validates the assigned value. If it's invalid, we can raise an error.

[2017-08-25 07:16] rmosolgo commented on #826
Here's `NonNullType#initialize`: https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/non_null_type.rb#L36-L39

We should check `of_type` and make sure it's _not_ an instance of `NonNullType`. If it _is_ a `NonNullType`, we should raise an error.

[2017-08-25 09:01] reneweteling commented on #38
Is this done already? I dont like typing :) thats why i love rails :)

[2017-08-25 09:05] jjoos commented on #911
I'm going to try to write this as part of the hack day!

[2017-08-25 09:47] esjee commented on #913
I'll try fixing this!

[2017-08-25 11:24] Willianvdv opened #914 "Even more easier setup for Rails"
I'd like to make the setup for Rails users super simple.
- [ ] register Rake tasks automatically
- [ ] think about a default, but configurable, schema name.
- [ ] write a 'graphql-ruby' is still just Rails blogpost

[2017-08-25 12:28] esjee commented on #826
I'll take a stab at this!

[2017-08-25 14:05] rmosolgo commented on #914
🤘

[2017-08-25 14:32] #826 closed

[2017-08-25 14:36] #913 closed

[2017-08-25 14:37] #841 closed

[2017-08-25 14:55] esjee commented on #826
Hey @Mange! I tried to fix this. Let me know if this works out for you.

[2017-08-25 14:57] esjee commented on #913
Hey @mull ! I tried to fix this, let me know if this works for you!

[2017-08-25 17:48] Mange commented on #826
Oh, I'm sure it will. Thanks!

On Fri, Aug 25, 2017, 16:55 esjee <notifications@github.com> wrote:

[2017-08-28 04:10] cjoudrey commented on #912
Let's not forget [Sangria](http://sangria-graphql.org/). 😁 I especially like all the examples in the documentation section.

[2017-08-28 07:58] jjoos commented on #914
Some experiences while working on #911 (I'm a n00b so please double check my assumptions)

The tl;dr; getting started on: http://graphql-ruby.org/ doesn't mention rake tasks, while http://graphql-ruby.org/getting_started does. (and the readme erroneously doesn't link to the getting started but to the home page) It wasn't clear for me what the generator exactly did since they generate an object and

[2017-08-28 08:16] mull commented on #913
@esjee thanks! According to the specs this is exactly what would've "saved" us :) Cheers!

[2017-08-28 11:40] rmosolgo commented on #861
Hoping to remove some of these redundant object allocations in #923

[2017-08-28 11:41] rmosolgo commented on #882
Starting in #923

[2017-08-28 11:41] rmosolgo commented on #881
#923 will add support for backtracking via

[code]

[2017-08-28 12:20] rmosolgo commented on #904
Here's another approach to modifying the backtrace:

https://github.com/ko1/pretty_backtrace

The approach looks like:

- Add a [handler for raised errors](https://github.com/ko1/pretty_backtrace/blob/master/lib/pretty_backtrace.rb#L17)
- Use the [debug inspector](https://github.com/ko1/pretty_backtrace/blob/master/lib/pretty_backtrace.rb#L35) to backtrack through the RubyVM stack
- [Gather the lo

[2017-08-28 21:09] rmosolgo commented on #861
Ran these again on d874f79 and saw some improvements. The benchmark is a good bit (~30%) faster:

[code]

The overall memory usage is better too:

[code]

The method profile shows a lot less time in `.new` and `#initialize`, but now much more in `===`:

[code]

So I'll see if I can avoid some of those!

[2017-08-28 21:41] rmosolgo commented on #861
A bit better after fc50dfe2, although the actual benchmark didn't change much:

[code]

All in all, it's a nice reduction of overhead!

[2017-08-28 21:47] Jose4gg opened #925 "[QUESTION] Is there a way to parse objects like the results?"
If I have a simple object: { id: 132, name: "Something" }, How can I return a { id: "RELAY_NODE_UUID", name: "Something" }?

[2017-08-29 08:20] Willianvdv commented on #925
You have to implement Relay's node identification on your types, [here](http://graphql-ruby.org/relay/object_identification.html) are the docs on how to do this.

Good luck!

[2017-08-29 08:20] #925 closed

[2017-08-29 16:05] terenceponce opened #927 "Model validations seem to be ignored when doing mutations"
I'm just getting started on using `graphql-ruby`. Everything seems good so far, but I noticed that my model validations don't seem to be running when creating an object through mutation. Here's the code that I'm working with:

[code]

As you can see, I have an STI model (`Account`) that has various types under it. I also have a validation that makes sure that the `type` is valid.

Here's my mutati

[2017-08-30 00:29] cipater commented on #927
This is unrelated to graphql-ruby. According to [this](https://github.com/rails/rails/blob/633e9745f8eafb0d1d5523ec761fdee420bcbc91/activerecord/lib/active_record/inheritance.rb#L50), you can't instantiate an AR object with an invalid type attribute as it will immediately try to initialize an instance of the specified subclass (`Cash` in your case)

Try this in the console: `Account.new(type: 'Cas

[2017-08-30 09:34] esjee commented on #854
It's done!

Should this issue be closed?

[2017-08-30 09:57] #854 closed

[2017-08-30 14:15] AndyKriger opened #929 "Using an interface from another file and making changes causes NameError (uninitialized constant...):"
I am trying to use an interface that is in a different file from the type using it.

Queries work when the server is started as long as I make no changes to any of the GraphQL-related files. As soon as I do, the next query in GraphiQL will spin for a while and then the server logs will show a ```NameError (uninitialized constant Types::MyInterface)```. Even if the change is just a comment, I'll se

[2017-08-30 23:47] terenceponce commented on #927
Woops. That was a rookie mistake on my part. Thanks for clearing that up for me.

[2017-08-31 06:40] #927 closed

[2017-08-31 12:53] rmosolgo commented on #929
Sorry to hear it 😖

there are some other known issues with Rails autoloading (https://github.com/rmosolgo/graphql-ruby/issues/651), the only solution I can think of is to redo the schema definition from scratch to use classes, as Rails expects.

So, I'm starting some experiments here and in GitHub to find another way!

[2017-08-31 13:04] emilebosch commented on #911
@jjoos  how is this going?

[2017-08-31 13:07] AndyKriger commented on #929
I'm only at the start of this schema so getting it setup correctly now is easy. Is there something in the docs that shows what you mean by "redo the schema definition from scratch to use classes"?

[2017-08-31 13:11] rmosolgo commented on #929
Yes, that's what I mean. The API doesn't exist yet 😖

[2017-09-01 14:31] musashinm opened #932 "Duplicated records on paged/sorted connections"
As we talked at Slack, I'm facing a problem with `GraphQL::Pro::RelationConnection` when I sort Relations by any other field instead ID. I'm receiving duplicated records on subsequent pages.

I already tried to include Primary Key to `order` clause (as you can see it below).

#### Connection Definition

[code]

[code]

#### GraphQL Query for First Page

[code]

#### GraphQL Response for First Page

[2017-09-01 18:57] rmosolgo commented on #932
Hi, thanks for the great bug report! Sorry this is happening ... so confusing!

I was just poking around the tests for this feature and I noticed a strange bug. If join a table, but the main table has a column with the same name as the joined table, it will use a value from the main table.

Is that possible here, does the `tables` table have an `index` column?

[2017-09-01 19:05] rmosolgo opened #933 "Reuse for GraphQL::Argument"
Maybe you want to share an argument definition between fields.

Using `GraphQL::Function`, you can share arguments, but if the resolve behavior is totally different, Function might not make sense.

It should be straightforward to add support for reuse via `.define`, eg

[code]

`GraphQL::Field` can already be shared this way, it can be used for inspiration!

[2017-09-02 14:07] thefliik commented on #881
@gottfrois until #923 fixes this issue, what I've done is create a simple wrapper object that allows me to easily pass parents down like so:

[code]
In your case, instead of grabbing an `abilities` object with something like `user.abilities.first`, you would have:
[code]
The resulting `ability` object would behave like a normal ability object, except you can call `ability.gwdata` on it to get the

[2017-09-02 15:32] volkanunsal opened #935 "Duplicate type definition found for name"
I define fields on a type dynamically from an ActiveRecord attribute. I wrote a helper method for that and it basically loops over the attributes and calls `field(name, type)` inside the define block.

[code]

The problem here is that anytime I change the file that defines these types, GraphQL complains. Apparently, the `GraphQL::Schema::Traversal.visit` method is doing an object identity check an

[2017-09-03 07:05] cpunion opened #936 "input_field type didn't call `prepare`"
I just wrote a mutation:

[code]

When I call it in graphiql:
[code]
Some errors happend in rails:
[code]

But if I call it without variables:
[code]

It works fine.

My Resolvers::GlobalID:

[code]

When I call the mutation with variables, the above log didn't print. And if I call it without variables, the log printed.

[2017-09-03 14:11] rmosolgo commented on #936
Oh my! What's your graphql-ruby version?

[2017-09-03 17:46] rmosolgo commented on #935
Sorry, this is a bad side-effect of the current DSL 😖 It doesn't play nice with Rails autoloading, since it re-loads the files but code still retains references to old objects.

One thing that might work is to use Procs instead of bare references to the type objects, eg:

[code]

This way, the Proc will be re-evaluated each time and it might find the _new_ version of the type.

Now that I'm readin

[2017-09-03 18:12] thefliik commented on #897
#871 is a much better solution to this problem! Go with that. That's very cool. And I must reiterate, I super appreciate all the time you've put into this.

[2017-09-03 23:23] skovy opened #937 "Guide: Generators"
It may be helpful to add a note in the documentation about skipping GraphiQL in API only Rails apps? I had to re-run the generators to see the following output as to why GraphiQL was not automatically setup.

[code]

[2017-09-04 05:26] cpunion commented on #936
$bundle | grep graphql
Using graphql 1.6.4

Ah. Upgrade first. ^_^!!

[2017-09-04 07:50] gottfrois commented on #881
Thanks @thefliik for the tip!

[2017-09-04 10:37] BranLiang opened #938 "Relay connection support for Mongoid"
Self applied a simple connection for mongoid. It would be really nice to see support from the community and integrate relay connection support for mongoid.
[code]
[code]

[2017-09-04 11:06] cpunion commented on #936
Resolved by upgraded to 1.6.7.

Thanks.

[2017-09-04 11:06] #936 closed

[2017-09-04 12:10] rmosolgo commented on #938
Hi! Thanks for sharing the code. I'm sure many people will find it very useful!

How about this: if you (or someone else) can add Mongoid to the projects, including tests, I'll maintain it 😊

[2017-09-04 12:10] rmosolgo commented on #936
Glad to hear it!

[2017-09-04 12:14] musashinm commented on #932
@rmosolgo, yes. The main table have a column with the same name.

[2017-09-04 13:16] musashinm commented on #932
@rmosolgo, based on what you said about columns with the same name I tried a workaround and just worked.

I founded two options:

1. Rename the column on the child table
1. Select the column from the child table (the same used to order query) and suppress the other one from `SELECT`

;)

[2017-09-04 13:25] #932 closed

[2017-09-04 13:27] rmosolgo commented on #932
I'm glad to hear that you found a workaround that works for you!

In the meantime, I've updated graphql-pro to support that kind of situation, see #939 . So, if you get a chance to try it out, let me know how it goes. Otherwise, I'm glad the workaround did the job 😸

[2017-09-04 13:49] musashinm commented on #932
@rmosolgo, I'll try it ASAP 😉

[2017-09-04 14:08] musashinm commented on #932
@rmosolgo, it works... I already removed my workaround. 😄

[2017-09-04 15:50] volkanunsal commented on #935
I tried wrapping the types in procs, but it didn't solve my problem. The error is coming from this code block:

[code]

I think reloading the type definitions is creating a new object, and that seems to be unacceptable to `traverse` method. To be honest, I don't understand why the code needs to check for the object identity here. I'm sure there is a reason, but when I comment out that exception, i

[2017-09-04 17:03] volkanunsal commented on #935
Reading your post again, I might reload schema, too, but where is reload dependency defined? Is that a Rails method?

[2017-09-04 19:21] rmosolgo commented on #932
yay, glad to hear it!

[2017-09-04 20:30] rmosolgo commented on #935
Yep, Rails: http://guides.rubyonrails.org/autoloading_and_reloading_constants.html#require-dependency

[2017-09-05 02:52] BranLiang commented on #938
@rmosolgo I will see what I can do and hope someone could help me with that😊

[2017-09-05 10:04] jjoos commented on #911
Had limited time the last couple of days, will reserve some time tomorrow to finish it up!

[2017-09-05 14:41] eapache commented on #904
Don't have a strong opinion which approach to use, but something along these lines would be super-useful. Figuring out which chain of selections/fields resulted in a specific error is one of the most annoying parts of debugging our schema right now.

[2017-09-05 16:38] gauravtiwari opened #940 "PG: OFFSET must not be negative"
Ref: #508
Ref: #802

Seems like this error is back in 1.6.7, tested with 1.6.5 and same error.

[code]

[2017-09-05 17:09] gauravtiwari commented on #940
Closing since this is fixed on master 👍

[2017-09-05 17:09] #940 closed

[2017-09-05 20:29] rmosolgo commented on #940
oopsie, I'll release 1.6.8 soon with the fix!

[2017-09-06 11:45] volkanunsal commented on #935
That solved it. Thank you!

[2017-09-06 11:45] #935 closed

[2017-09-06 12:44] thefliik commented on #937
@Skovy  I must be using an older version of graphql-ruby, because in my rails api app GraphiQL was set up with the generator.

Everything about it worked fine (because its a Rails engine which, if I understand correctly, is basically a stand alone app) except it's assets weren't being served because there was no rails asset pipeline. Specifically, it expected `/javascripts/graphiql/rails/applicati

[2017-09-06 12:47] thefliik commented on #937
Of course, one downside to this approach is the graphiql assets are not being updated. But at the moment, for development, its not a problem.

[2017-09-06 18:39] cebartling opened #943 "The error handling documentation (http://graphql-ruby.org/queries/error_handling) is not accessible from guides page (http://graphql-ruby.org/guides)"
Minor nit about linking the error handling page (http://graphql-ruby.org/queries/error_handling) into the guides table of contents page (http://graphql-ruby.org/guides). I had to do a Google search to find the error handling page.

[2017-09-06 18:58] Willianvdv commented on #943
I think this recently got fixed in #930

[2017-09-06 19:00] cebartling commented on #943
@Willianvdv Sure looks like it! Closing this issue. Thanks for bringing this to my attention.

[2017-09-06 19:00] #943 closed

[2017-09-06 19:58] rmosolgo commented on #943
Oops, at first I thought I just had to update the website, but then I saw the `section:` should be `Queries`, so I updated it in 70f0ffd9ae1215f669f226bd3982f44b9599f1c1 and repushed it!

[2017-09-06 20:45] cebartling commented on #943
@rmosolgo and @Willianvdv Now it's showing up! Thanks for the quick turnaround on this.

[2017-09-07 14:46] AndyKriger opened #945 "An idea for dynamically connecting GraphQL types & queries to ActiveRecord"
In a Rails application with ActiveRecord model objects, the information that would be exposed via GraphQL is already there in the model. Using macros, the ActiveRecord model could be declaratively & dynamically connected to GraphQL's type & query declaration to reduce the amount of redundant code. This is a work-in-progress and probably has much room for improvement. Not everything available in th

[2017-09-07 16:17] AndyKriger commented on #945
One surprising side-effect of this approach is that the problem of reloading changes when using an interface (#929) appears to go away.

[2017-09-07 19:09] dorthwein commented on #938
Is there clarity or a check list on what needs to be implemented with this to make it efficient with Mongoid?  If there was clarity on what needed to be implemented we maybe able to help some.

[2017-09-07 19:23] xuorig commented on #904
Interesting idea. Is it worth it in a world where resolvers are methods on objects? The reason why the backtrace is not super clear right now is the heavy proc usage during execution, I have a feeling it will become *if* the definition changes in the following weeks / months 💭

[2017-09-07 19:31] eapache commented on #904
I think it's still worth it. Even when resolvers are methods, the ruby trace alone won't tell you how you got there, e.g. consider the following totally made-up query:
[code]

Even if you know the exception occurred in the method for `foo`, it probably looks something like
[code]
It would still be really helpful to know whether the exception came from `myObject` or from `myListOfObjects` and if fr

[2017-09-07 19:40] xuorig commented on #904
Good point.

As long as we add to it and not modify it / delete from it , I think it would provide great value 👍

[2017-09-08 20:17] rmosolgo commented on #904
trying in #946

I didn't use `RubyVM::DebugInspector` like koichi's gem above because it's MRI-only, and I know some folks use JRuby.

[2017-09-08 20:42] rmosolgo commented on #882
This is finsihed on the 1.7.x branch

[2017-09-08 20:42] #882 closed

[2017-09-11 15:12] mull commented on #909
Has someone attempted something like this already? I'm finding myself getting bug reports from my frontend guys without me having noticed it. Looking specifically at Sentry

[2017-09-11 15:29] rmosolgo commented on #909
No, it wasn't picked up during the hack day, so it's waiting for someone to take a try at it :)

[2017-09-12 11:04] skanev opened #949 "Connections with non-nullable fields"
Hey.

I'd like to be able to create a connection where all the related fields are non-nullable.

For example the following...

[code]

...will create a connection that can be queried thusly:

[code]

The problem is that each type along the line is nullable (that is, `UserConection`, `[UserEdge]` and `User` instead of `UserConnection!`, `[UserEdge!]!` and `User!`). It feels more correct, semantical

[2017-09-12 14:31] rmosolgo commented on #949
Hi, thanks for the great writeup! I totally get your point here.

The default nullability is inspired by the relay spec: https://facebook.github.io/relay/graphql/connections.htm

However, there is a way to override the default, you can specify a [custom connection type](http://graphql-ruby.org/relay/connections.html#connection-types). There's no example, but you can override `field :edges` inside

[2017-09-12 18:34] blevine commented on #613
@rmosolgo Is subscription support now available?  Should I use the 1.7.x branch for this?

[2017-09-12 19:14] rmosolgo commented on #613
Sorry, I ended up writing `GraphQL::Tracing` during the hack week instead! Keep an eye on #672

[2017-09-13 14:22] skanev commented on #949
I think I got the gist, thanks.

Yep. That would totally solve my case.

[2017-09-13 16:08] khamusa opened #950 "(Idea) Append value of connection max_page_size to connection description"
I often find myself manually writing the max page size for connections on the **description** of the connection itself, in oder to document the actual limit for the developers consuming the API. It's not that much of a job if we just use the default config (in that case we can just document once that every connection has a limited page size), but it becomes repetitive and error prone once we start

[2017-09-13 18:28] Willianvdv commented on #950
[code]
Is this the setting you're looking for?

[2017-09-14 01:14] khamusa commented on #950
@Willianvdv I guess I was quite tired when I wrote the contents of this issue. I just edited it trying to be clear. The idea is to inform the used page size on connection fields by using the description text of the field automatically.

[2017-09-14 02:42] oyeanuj commented on #945
@AndyKriger This looks great! Would this make it possible for the model to have multiple `graphql_type`?

[2017-09-14 13:52] rmosolgo commented on #613
I merged #672, should be released this week with 1.7.0

[2017-09-14 13:52] #613 closed

[2017-09-14 13:55] AndyKriger commented on #945
That seems like it would work. If you passed a different name (instead of relying on the default name), you'd get a different type. What is a scenario where you would want to do that?

I've refined the design since I posted this original idea to define include/exclude fields and to handle has_many associations...

[code]

[2017-09-14 17:26] eapache opened #951 "`valid?` doesn't work with double-nulls"
Constructing a `GraphQL::Query` with a double-non-null variable like
[code]
and then calling `valid?` on it results in an exception:
[code]
instead of a simple `false`.

I'm assuming this is unintentional? cc @xuorig

[2017-09-14 18:28] xuorig commented on #951
Ah it looks like this is raising when parsing => turning into an AST, even before validation

[code]

[2017-09-14 18:33] xuorig commented on #951
but... isn't this invalid to the parser?

[2017-09-14 18:47] eapache commented on #951
I guess the parsing is lazy and that's why the exception is coming from `valid?` and not the constructor?

[2017-09-14 19:17] rmosolgo commented on #951
yes!

It would be nice to catch it there, if we can make it happen ...

Definitely should be fixed somehow to return an error to the client instead of :boom: !

(This error is meant to prevent double non-null types with ruby, eg `ThingType.to_non_null_type.to_non_null_type`)

[2017-09-14 19:21] rmosolgo commented on #950
I think an approach like this will work. When building the schema, identify the fields with a max page size, and if it's present, add it to the description.

What do you think, want to give it a try?

[code]

[2017-09-14 19:30] rmosolgo commented on #945
Thanks for sharing this cool idea!

We definitely need something (or several options) like this for graphql-ruby. [GraphQL::Models](https://github.com/goco-inc/graphql-activerecord) is something similar, I know Shopify has an in-house wrapper also, and we're currently trying out something like that for GitHub.

Similar conversations about improving the graphql-ruby schema definition experience are

[2017-09-14 20:07] rmosolgo opened #952 "Re-stringify a GraphQL::Query"
Sometimes you have a really complicated query with lots of fragments and variables, but you want to debug it in graphiql.

It would be nice to get a "simplified" query somehow, where:

- fragments are flattened
- variable values are added as defaults to the query string

That way, you could copy-paste into graphiql and poke around to debug.

[2017-09-15 03:13] mgwidmann commented on #613
I'd be a little weary about using timestamps between systems. Timestamps and distributed systems never end well as they're almost certainly not the same value at any given time. Phoenix's pubsub system uses CRDTs (which is some crazy math proof) instead of using timestamps like you described. This guy explains some of the problems and how CRDTs fix it.
https://vimeo.com/171317273#t=1682s (rewind i

[2017-09-15 13:31] xuorig opened #954 "Type should be hidden if none of its fields are visible"
We can get into this scenario:

https://github.com/xuorig/graphql-ruby/blame/master/spec/graphql/schema/printer_spec.rb#L491-L493

Which is invalid 🤷‍♂️

Related https://github.com/rmosolgo/graphql-ruby/pull/919

[2017-09-15 16:00] rmosolgo opened #955 "Implement real hasNextPage/hasPreviousPage values on an opt-in basis"
We should allow people to break Relay spec and get `hasNextPage` or `hasPrevPage` values regardless of which direction they're paginating.

The spec's behavior is often reported as a bug, see #656 for example.

In GitHub, we've done this for our custom connections but we need it for the built-in ones too.

[2017-09-15 16:04] eapache commented on #955
It's not breaking the spec anymore: https://github.com/facebook/relay/pull/2079 got merged.

[2017-09-15 16:05] rmosolgo commented on #955
:clap: :clap: !!

[2017-09-15 19:17] rmosolgo commented on #933
Fixed by #948

[2017-09-15 19:17] #933 closed

[2017-09-15 19:18] AndyKriger commented on #945
I looked at the activerecord gem. There are lots of great ideas in that gem, but I wanted something with less boilerplate, less DSL, that lived within the Model classes themselves; as implemented, this is oriented towards the project I'm working on.

[2017-09-16 20:43] xuorig commented on #952
working on this!

[2017-09-16 20:51] xuorig opened #956 "possible `GraphQL::Query` refactor"
Right now it's possible for an instance of `GraphQL::Query` to be in an invalid state. For example Take this query:

[code]
This ends up being valid, `{ some { query } }` being executed.

Right now the API for `GraphQL::Query` is a bit confusing. A query can be provided through:

  - the second argument
  - the `query` kwarg
  - a pre parsed graphql document

The outcome is not obvious to the user

[2017-09-17 00:28] rmosolgo commented on #956
Thanks for the suggestion, I think it would be great to prevent that nonsensical behavior with two inputs.

But, I think if we're going to make a breaking change to GraphQL::Query, I might like to throw a few more changes in there :) The original implementation did lazy processing for parsing & validating and I've jumped through a lot of hoops to preserve that. But if we want to rework the interna

[2017-09-18 12:20] volkanunsal commented on #955
I noticed today that `hasPreviousPage` returns false on the final page in 1.6.7. Is this behavior related to this issue or the one referenced above? I can create another issue for it, if not.

[2017-09-18 12:27] rmosolgo commented on #955
Sounds like a different bug, please do open an issue!

On Sep 18, 2017 8:20 AM, "Volkan Unsal" <notifications@github.com> wrote:

[2017-09-18 12:45] volkanunsal opened #958 "Navigation: hasPreviousPage returns false on the final page, and perhaps startCursor is incorrect?"
I noticed today that `hasPreviousPage` returns false on the final page in 1.6.7.

To replicate, create a connection and navigate it using the `after` property. The `pageInfo.hasPreviousPage` indicates the correct result until the final page, where it returns false.

Another possibly related issue is when you are on the final page, if you set the `after` property to null and set the `before` proper

[2017-09-18 15:59] kevinjalbert opened #959 "graphql-ruby-client doesn't play well with custom authorization strategies"
I ran into this situation when setting up [graphql-ruby-client](https://github.com/rmosolgo/graphql-ruby-client) with graphql-pro.

I have a [Custom Authorization Strategy](http://graphql-ruby.org/pro/authorization.html#custom-authorization-strategy) for my schema, which looks for a specific auth bearer token.

When running the `graphql-ruby-client` the sync will fail on the server with the follow

[2017-09-18 16:11] rmosolgo commented on #959
Thanks for opening this issue!

The trick is:

- When persisting queries, we validate them first
- If you're using `view:`, then a `current_user:` is required for validation.
- But, when persisting queries, there _is no_ `current_user` (the app is not running; it's a build task)

So, I think the solution is to pass the current `Client` as `current_user:`. For example, if you're persisting queries

[2017-09-18 16:15] rmosolgo commented on #881
This will be supported in 1.7.0, where you can access `ctx.parent`, for example:

[code]

[2017-09-18 16:15] #881 closed

[2017-09-18 16:16] rmosolgo commented on #453
Fixed by #924

[2017-09-18 16:16] #453 closed

[2017-09-18 17:34] kevinjalbert opened #961 "graphql-ruby-client needs to ability to expose `__typename` on persisted queries"
I encountered this using `graphql-ruby-client` version 1.0.2.

When using the `sync` command the client ends up saving the GraphQL queries as expected. The main problem is that in my specific React application I'm using [react-apollo](https://github.com/apollographql/react-apollo) with the [`addTypename` option](http://dev.apollodata.com/core/apollo-client-api.html#ApolloClient.constructor) enable

[2017-09-18 17:58] kevinjalbert commented on #959
@rmosolgo that makes sense.

Unfortunately, I'm running into an issue trying this out. I have `debugger`s put as the first statement in all my methods within my Custom Authorization Strategy class, and nothing is triggering it when I use `graphql-ruby-client sync`. It seems like the graphql-pro side of things is happening first before I even get to my authorization class?

I'm using graphql versio

[2017-09-18 18:21] rmosolgo commented on #961
:+1: Totally agree that we should add an `--add-typename` option to the `sync` task. Yep, I think we could add logic to that visitor in `prepareProject` to also add typename to selection sets.

Are you interested in taking a crack at it? If so, go for it, otherwise, I'll take look this evening or tomorrow morning :)

[2017-09-18 18:25] kevinjalbert commented on #961
I am interested in giving it a shot! Might not get it done as fast as you though ;)

I'm not in rush currently for this, so I could try and implement it over the next few days? I might reach out to you for some help if I get stuck (here or slack).

[2017-09-18 18:27] rmosolgo commented on #959
Oh, that's a good point -- it's erroring _before_ the `#allowed?` call, isn't it?

It's a problem _before_ the problem :P Since `sync` uses `#validate` but doesn't actually run the query, the required `#before_query` hook is not being run, so the context isn't ready.

I'll have to add a hook for that! Let me take a look...

[2017-09-18 18:28] rmosolgo commented on #961
:+1: that sounds great, feel free to hit me up here or there!

[2017-09-18 18:36] rmosolgo commented on #961
BTW, I just finished merging `graphql-ruby-client` into this projects, so please make your changes here! https://github.com/rmosolgo/graphql-ruby-client is a dead end now 😬

[2017-09-19 00:34] rmosolgo commented on #955
Implemented in #960

[2017-09-19 00:34] #955 closed

[2017-09-19 13:47] rmosolgo commented on #959
I worked this up last night but took a different track:

The problem with the approach that I mentioned above is that it requires you to modify _all_ your existing auth logic to support `OperationStore`-related logic. That's a really annoying problem because it's tedious and it increases the chance that you'd _accidentally_ mess up your existing auth logic and introduce a security hole.

So instea

[2017-09-19 13:47] #959 closed

[2017-09-19 14:25] rmosolgo commented on #820
Closed #871 in favor of tinkering a bit with GitHub's schema, I'll be back with another when we find something promising :)

[2017-09-19 14:32] swalkinshaw commented on #945
Shopify's AR/model integration is almost the opposite of this issue. We integrate it into the GraphQL type rather than the AR model.

Within a GraphQL type definition, we just set the model its "backed" by which enables features like Relay's global identification, caching, etc.

While this example is great for dynamically creating types easily, I feel it splits up your GraphQL type definitions and

[2017-09-19 14:37] rmosolgo commented on #945
Good point, the _approach_ is from the opposite direction. But what I mean is, the _problem_ we're trying to solve is the same: the current DSL makes it hard to implement a schema quickly!

I agree with your point about organization. In my experience, Rails models are already too busy; I don't want to add anything else to those files. I would rather have a second file which _draws from_ the model

[2017-09-19 14:43] AndyKriger commented on #945
I can see the argument for separation of concerns. It's a style choice; for me, I prefer to see all my model-related concerns in one place. For example, in one place, I see AR validations & hooks as well as the declarations of what will be exposed via GraphQL and how. Right now, I'm working on extending the idea to generating basic CRUD easily rather than repeating the same pattern across many mod

[2017-09-19 19:19] medlefsen opened #966 "Error with fallback authorization + introspection"
In the pro gem if fallback authorization is used, then any queries that includes the 'inputFields' field on the Type introspection type fail. Here is an isolated example: [graphql-issue.zip](https://github.com/rmosolgo/graphql-ruby/files/1315559/graphql-issue.zip).

The issue seems to be that `GraphQL::Pro::Access::Instrumentation::AuthorizedResolve::AllowedList#each` assumes that the value will n

[2017-09-19 19:21] rmosolgo commented on #966
Thanks for the details and the reproducing case! I'm glad to hear that you found a workaround for the time being.

I'll take a close look later today and follow up here.

[2017-09-20 06:25] cpunion opened #969 "Subscription field got Hash object"
I just followed the guide about subscriptions, at the step "define subscription type" (http://graphql-ruby.org/subscriptions/subscription_type.html), there has an exception raised, because the `postWasPublished` field got Hash object, but `Types::PostType` accepts `Post` model object. I must modify to:

[code]

It's not clear.

[2017-09-20 06:26] cpunion commented on #969
Except for this, it works find!

Thank you for this awesome feature.

[2017-09-20 13:40] raphaelcuba opened #970 "[HELP] How to create business logic validations."
First of all, sorry if isn't the right place to put this question.

I'm using right now graphql (1.6.7) in my rails project and I need to put some business logic validations in my mutations.

Have some kind of best practices to resolve this cases? The doc isn't help me to clarify how I can resolve this point common in most applications.

First I'm thinking to create a type to use in all mutations

[2017-09-20 13:53] #966 closed

[2017-09-20 13:55] rmosolgo commented on #966
Thanks again for your debugging, I released 1.5.7 with a fix. I've made it return `nil` when the input is `nil`, this seems in keeping with the [`__Type.inputFields` specification](https://facebook.github.io/graphql/#sec-Schema-Introspection)  and normal nullable list type behavior.

Please let me know if you have any more trouble with this!

[2017-09-20 14:06] medlefsen commented on #966
Thanks!

[2017-09-21 14:20] rmosolgo opened #974 "Implement fields with directives when building schema from IDL"
Like so many good graphql-ruby features, this is a rip-off of [Sangria](https://github.com/sangria-graphql/sangria), the amazing Scala implementation of GraphQL.

I haven't found the code for it yet, and I don't think it's released, but here are a few teaser tweets & images:

<details>
  <summary>
  <a href="https://twitter.com/easyangel/status/906995500578197509">https://twitter.com/easyangel/sta

[2017-09-21 20:11] #961 closed

[2017-09-22 00:43] abMatGit opened #979 "BackwardsCompatiblity wrap_arity not allowing (-1) arity."
I'm not entirely sure if this is an anti-pattern of implementing `resolve` or `resolve_type` however we have code resembling:
[code]
This is hitting the [else condition of your `wrap_arity` case check](https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/backwards_compatibility.rb#L28-L30).

Proposal:
[code]

[2017-09-22 02:36] rmosolgo commented on #979
:+1: sounds like a good solution!

[2017-09-22 08:52] RabidFire opened #980 "Extended Field DSL is not available within Function"
As written [in the docs](http://www.rubydoc.info/gems/graphql/1.7.2/GraphQL/Function), a `GraphQL::Function` is a _reusable container for field logic_. However, extended Field DSL (specified using `GraphQL::Field.accepts_definitions(...)`) is not available within Functions.

### Example

[code]

[code]

[code]

The problem is that `GraphQL::Function` is quite different from `GraphQL::Field`, `Grap

[2017-09-25 15:47] swalkinshaw opened #981 "Custom error messages for scalar's input coercion"
Currently there's no way to specify a custom error message from a scalar type's `coerce_input` method and have it returned in the response.

The closest you can get is using `ctx.add_error` but it only appends to the existing default ones.

Use case: we want to provide better feedback for invalid Global IDs. The default is:

[code]

Ideally we could return or raise an `ExecutionError`. Is there a

[2017-09-25 17:04] swalkinshaw opened #982 "Argument's prepare function runs during analyze phase"
I don't remember seeing any discussion around this when `Argument#prepare` was introduced, but `prepare` gets called during the analyze phase (ie: in within a `query_analyzer`).

This has a few interesting consequences:

* `prepare`'s could contain execution errors which now need to be rescued or handled in the analyzers.
* the docs have a `prepare` example that involves a DB look up. Should this

[2017-09-25 19:14] rmosolgo commented on #982
Hmm, I never thought about the issue of errors like this 😖

`prepare` is invoked whenever the `GraphQL::Query::Arguments` instances are created, which are available as both:

- `irep_node.arguments` during analysis
- `args` during resolution

But, since it _may_ raise an error, it means that errors can pop up any time. How frustrating 😖

Regarding _when_ the function should run, here's one thing I

[2017-09-25 19:17] camertron opened #983 "Resolver not wrapping attribute"
Hey @rmosolgo! First of all, thanks for a fantastic gem! I have what I think might be a bug, but I'm not completely sure. I'm working with these two types (note that `day_x_experience` is a field on another type called `CurrentUser`):

[code]

Here are the resolvers:

[code]

I'm then trying to run a query similar to this:

[code]

What appears to happen is that the `GameRecommendationsResolver` g

[2017-09-25 19:19] swalkinshaw commented on #982
Kind of. It's a tough one. Always returning the prepared value makes sense for consistency but it depends on how you think about the prepare process.

If its "prepare before resolving" then I wouldn't expect it run until then. It gets more complicated with use cases like:

[code]

To me this functionality should only happen as part of the query execution itself (so right before resolvers get calle

[2017-09-25 19:38] rmosolgo commented on #981
Sounds like we just haven't needed it, sounds like a nice improvement to me!

[2017-09-25 20:52] rmosolgo opened #984 "Improve backtrace printout when entire result is compressed"
The backtrace table prints the in-progress graphql response for each field in the "Result" column.
It minifies nested objects to reduce visual noise, eg:

[code]

However, it's still a bit off when the result is a list of objects, eg:

[code]

I think that this should be printed as simply

[code]

Or, if someone has a better suggestion, I'd love something even _better_ :)

[2017-09-25 21:39] swalkinshaw commented on #981
🤔  since this is part of static validation, and how the error is added, it doesn't seem like raising an `ExecutionError` is really possible without a lot of changes.

My naive first thought is scalar's accepting a specific definition like `invalid_literal_error_message`?

Otherwise we could add a `rescue` around the call to `valid_literal?` and assume that its purpose is for an error message.

[2017-09-26 00:50] cpunion commented on #969
I just read the code of ActionCable and ActiveJob, they are both serialize/deserialize `GlobalID::Identification` types to keep model object's type. When I pass a model object to `Schema.subscriptions.trigger`, I think we can do the same thing.

[2017-09-26 13:05] eapache commented on #981
Would it make sense to do kind of like we have internally: create a specific `GraphQL::CoercionError` exception that scalars can raise and then rescue that in `ArgumentLiteralsAreCompatible`? That would avoid accidentally rescuing away real bugs but would still be an easy way to provide custom messages.

[2017-09-26 13:43] swalkinshaw commented on #981
That's probably a better improvement over just raising `ExecutionError`. Also a better name semantically. `ExecutionError` seems like it should be raised during the execute phase?

[2017-09-26 14:19] blevine opened #986 "Passing empty array in a variable returns an error"
The following mutation works as expected:
[code]
However the same mutation using variables:
[code]
Causes the following error:

[code]
Looks like the empty array is being treated as null.

[2017-09-26 16:16] blevine opened #987 "Using 1.7.x branch, how do I declare a Subscription in the schema ?"
Can't quiet seem to get this working.  Do I just declare a root ObjectType called "Subscription" and a  field off of that?

[2017-09-26 16:44] swalkinshaw commented on #981
Created https://github.com/rmosolgo/graphql-ruby/pull/988 to implement the solution of raising + rescuing.

[2017-09-26 18:37] #987 closed

[2017-09-26 19:11] rmosolgo commented on #986
Oops 😬

[2017-09-26 19:14] blevine commented on #986
@rmosolgo So this is a confirmed bug then?

[2017-09-26 20:54] rmosolgo commented on #986
Yes, I think so, it seems like `[]` should be a valid input for `[String]!`!

[2017-09-27 05:58] Willianvdv commented on #970
Hello @raphaelcuba! Did you manage to solve this problem? Or do you still need some help?

[2017-09-27 06:14] Willianvdv commented on #952
It would also be extremely useful to add this query to traces we send to monitoring systems. We use NewRelic, and currently, it's too hard to figure out what the exact query was executed for a given transaction. Adding an actual query makes reproducing a transaction a walk in the park. I'm not sure how to deal with mutations and inlined variable values, these values contain private data we don't w

[2017-09-27 12:14] raphaelcuba commented on #970
Hi, @Willianvdv, I still need help with this problem. Can you help me?

[2017-09-27 13:28] rmosolgo commented on #952
That's a cool idea too 😎

[2017-09-27 16:01] rmosolgo opened #991 "Pro monitoring loads relations before pagination"
In order to measure the database load time, graphql-pro's `monitoring` calls `.load` on relations. But since a refactor to how connections are handled (1.6.0, I think), it can call `.load` _before_ pagination, resulting in big DB queries.

This can be really bad, since it might load a huge association into memory (and then measure the wrong thing).

There's not really a work-around except to turn

[2017-09-27 22:23] vegetabill opened #992 "how to return rails routes in resolver"
Hey there it's Bill from Goodreads. I remember you from [various issues](https://github.com/reactjs/react-rails/issues/212). This is a really awesome gem I'm trying out.

My question is I want to expose route attributes, e.g. I want `UserType` to have a `profile_url` that is the web URL for viewing a user's profile either in a browser of if they have a native app installed, it will deep link into

[2017-09-29 11:29] robak86 commented on #992
Not sure if it is the best answer, but I guess you can create reference to routes helper inside ```ctx```.

[code]

[2017-09-29 13:06] benjaminbarbe commented on #911
https://github.com/MatthieuSegret/graphql-rails-blog

[2017-09-29 17:50] rmosolgo commented on #992
:+1: to the solution above, of course, there's a "naughty" way to accomplish the same thing by reaching for the global constant inside `resolve`, eg:

[code]

It's probably _not_ a better way of doing it, but it makes the relationship a bit clearer :P

[2017-09-29 17:50] #992 closed

[2017-09-29 17:52] rmosolgo commented on #992
this is such a good thing to have tried, I'm sorry it didn't work ... I regret using `instance_eval` 😖

A PR to the docs would be great :)

[2017-09-30 18:17] rmosolgo opened #993 "Pro monitoring doesn't handle multiple queries per controller action"
Several of the supported platforms of graphql-pro's monitoring feature don't play nicely if you have multiple GraphQL executions in one controller action (eg, with graphql-client).

This is because they rename the transaction after the currently-executing query. So, the first query is overridden by the first one.

[2017-10-01 07:02] Mihail-K opened #995 "How can I restrict visibility of a field to the owner of a resource?"
How would I go about restricting certain fields based on whether a user owns a particular resource?
For example, users shouldn't be able to see each other's emails fields, however they should have access to their own email field.

In essence, I'd like to be able to do something like this:
[code]

I've not found a good way to do this, mostly because resolution happens after filtering, which means t

[2017-10-01 07:45] Mihail-K commented on #995
After yet more messing around, I've found a way to do it by messing with `resolve`.
However, it feels like a bit of a hack to me:

[code]

I suppose I can extract this logic elsewhere, but I'm not sure modifying the query like this is good practice.

[2017-10-01 08:24] Mihail-K commented on #995
I think I've found a was that doesn't seem too bad.
I'll leave it here for others to review, and potentially use in the future.

[code]

[2017-10-01 13:12] rmosolgo commented on #995
That looks good! I thing https://github.com/exAspArk/graphql-guard works roughly the same way.

[2017-10-01 13:12] #995 closed

[2017-10-01 13:51] #904 closed

[2017-10-01 14:07] #981 closed

[2017-10-02 05:34] roupen commented on #970
I am looking for a good solution to handle something similar. In my case my desired return structure on errors is something like this:

[code]

In an ideal world I would think to be able to make a subclass to ExecutionError where I can pass in things like "type" and "fields" and then be able to specify an error rendering method to graphql. This method would be responsible for assembling the error

[2017-10-02 19:14] AlexanderMint commented on #970
My desired return structure on errors:

[code]

[2017-10-02 19:27] gniquil opened #998 "add option to make autogenerated mutation field return type to be non null"
Are there any issues with making the return type of a generated relay mutation field non-null (or at least provide an option to do this)? Currently in my front end code, I alway have to check whether the mutation itself is null, regardless whether the mutation is successful or not.

To give you a bit of context, I am using apollo-codegen to automatically introspect the schema, and with it I can ge

[2017-10-02 21:49] rmosolgo commented on #998
Hi! that's a nice suggestion. I don't have the bandwidth right now to do it myself, but a PR for that behavior would be very welcome.

Here's where mutations generate the field for `Mutation` type:

https://github.com/rmosolgo/graphql-ruby/blob/758782cf1a9346cff3f6feb0552f216618860872/lib/graphql/relay/mutation.rb#L132-L144

You can see how the `type` is populated by `mutation.return_type`.  So, y

[2017-10-03 02:00] roupen commented on #970
In case anyone finds this useful, I ended up accomplishing this with relatively little code. I just subclassed ExecutionError and added the attrs I needed. Then I overrode the to_h class. In my custom resolver, I throw the new type of error whenever my validation fails. It's not extensively tested but seems to work for me so far. Here's the new class:

[code]

[2017-10-03 13:57] rmosolgo opened #1000 "Open the one-thousandth issue on graphql-ruby"
:tada:

It's been a great ride :)

[2017-10-03 13:58] rmosolgo commented on #1000
Unfortunately, this is _not_ the 1000th _closed_ issue 😆

[2017-10-03 13:58] #1000 closed

[2017-10-03 15:10] AlexanderMint commented on #986
I have received the same mistake

[2017-10-03 15:53] AlexanderMint commented on #986
Сause of error:

[code]
query:
[code]
and variables
[code]
Problem in the file of a [lib/graphql/query/variables.rb](https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/query/variables.rb), line: 29

[code]

[2017-10-03 16:05] rmosolgo commented on #986
@AlexanderMint Use string keys for variables, eg

[code]

(I switched `:` for `=>`)

[2017-10-03 16:19] AlexanderMint commented on #986
@rmosolgo But it isn't possible for inquiry json

[2017-10-03 16:26] AlexanderMint commented on #986
If I am not mistaken, parameters will always be the String type.
[code]
And variables names - Symbol
[code]

[2017-10-03 17:46] rmosolgo commented on #986
I don't quite understand what you mean, but `"something":` creates a symbol key, for example:

[code]

[2017-10-03 17:54] AlexanderMint commented on #986
@rmosolgo I receive a mistake:
[code]

Query:
[code]

Screenshot: https://imgur.com/VuLLA0s

What do I do not so?

[2017-10-03 18:22] rmosolgo commented on #986
Oh, it looks OK! What do you get if you print out `params[:variables]`, for example

[code]

Can you tell if the keys are present in `params[:variables]`

?

[2017-10-03 18:45] AlexanderMint commented on #986
@rmosolgo
params[:variables]:
`{:firstName=>"name", :lastName=>"lastName", :email=>"asd@asd.ru"}`

[2017-10-03 18:46] rmosolgo commented on #986
So, the keys are hashes, but you need string keys:

[code]

[2017-10-03 18:55] AlexanderMint commented on #986
@rmosolgo Thanks, so everything works. Maybe you will make it in gem?

[2017-10-03 20:24] Yoshiji opened #1001 "Interface: Query execution fails for Array of ObjectTypes unless other query defined for single same ObjectType"
Hello,

For some reason, a query is not working for an expected list from an Interface, unless you define another field on the Query with the type using this Interface... It probably does not make sense, see the example below:

I can reproduce this error with the [`graphql-ruby-demo`](https://github.com/rmosolgo/graphql-ruby-demo) app. Just replace the content of [`query_type.rb`](https://github.c

[2017-10-04 13:43] rmosolgo commented on #1001
Hi, I think `orphan_types` is what you're looking for, can you give it a try?

http://graphql-ruby.org/types/abstract_types.html#orphan-types

How does it work for you?

[2017-10-04 13:57] Yoshiji commented on #1001
I does works, thank you very much. I have to pay more attention to the documentation... Thanks for your time!

[2017-10-04 13:57] #1001 closed

[2017-10-04 16:23] raphaelcuba commented on #970
@roupen to me your solution is perfect! I was thinking something similar to that. I'll try to use your approach with custom exceptions. In principle, we can close this issue.

Thanks so much!

[2017-10-04 16:23] #970 closed

[2017-10-04 17:55] #993 closed

[2017-10-04 17:55] #991 closed

[2017-10-04 18:06] vegetabill commented on #992
Thanks for the info. I'll make a doc PR soon!

[2017-10-06 06:28] CostaRico commented on #337
@jtippett thx, just spent 3 hours :))

[2017-10-06 19:01] hasangcheon opened #1007 "subscriptions trigger doesn't accept symbol keys"
As the guide suggested, I triggered an event right after a comment is created.
[code]
expected
[code]
but this is what I got in the log.
[code]

When I replaced the symbol key `{post_id: comment.post_id}` with a string key `{"post_id" => comment.post_id}`, it works as expected.

Need to handle symbol keys, too.

[2017-10-07 14:35] tb commented on #911
I have created [northwind-graphql-ruby](https://github.com/tb/northwind-graphql-ruby) for [`How To GraphQL`](https://www.eventbrite.com/e/haxorz-unconference-80-tickets-38492810031#tickets) workshops I have next week. It includes DB seed for Northwind-like db schema, see [erd.pdf](https://github.com/tb/northwind-graphql-ruby/blob/master/erd.pdf)).

I want people to be able to related the sample co

[2017-10-09 09:36] MSchmidt opened #1012 "Use ObjectType to encode object to json"
Is it possible to use a defined ObjectType just for JSON encoding? I'd like to return JSON in other places than GraphQL (e.g. Sockets, REST endpoints) but would like to go through the same ObjectType, so the output is equal to the GraphQL-API output.

[2017-10-09 13:56] #1007 closed

[2017-10-09 17:41] psparrow commented on #903
Is this still in the works?

[2017-10-10 01:30] rmosolgo commented on #986
@blevine  Are you still experiencing this issue?

I tried to add a test to find the bug but I couldn't find it, this test passes: https://github.com/rmosolgo/graphql-ruby/compare/fix-empty-list-input

Could you share the Ruby code where you prepare variables and pass them to `execute` ?

[2017-10-10 14:43] blevine commented on #986
On further investigation I believe that this is not your bug.  Looks like Rails is converting the empty array to a nil. See https://github.com/rails/rails/issues/13766 and https://github.com/rails/rails/pull/13188. I haven't been able to disable this behavior via the switch that was added in 4.1.8:

`config.action_dispatch.perform_deep_munge = false`

but that's my problem to track down.  Closing

[2017-10-10 14:43] #986 closed

[2017-10-10 15:02] rmosolgo commented on #986
Thanks for following up, hope you can track it down!

[2017-10-10 20:19] bwinterling commented on #146
Just wanted to add a comment here in case it helps other folks that find their way here.  Using <schema class name>.execute(query_string) to test my schema, I was getting a parse error.

`{"errors"=>[{"message"=>"Parse error on \":\" (STRING) at [1, 44]", "locations"=>[{"line"=>1, "column"=>44}]}]}` or
`{"errors"=>[{"message"=>"Parse error on \"super\" (STRING) at [1, 39]", "locations"=>[{"line"=>

[2017-10-10 20:53] bgentry opened #1016 "Relay RelationConnection makes two identical SQL queries"
I traced this in detail on #1014. See [here](https://github.com/rmosolgo/graphql-ruby/pull/1014#issuecomment-335295869) and [here](https://github.com/rmosolgo/graphql-ruby/pull/1014#issuecomment-335302214).

When using Relay-style pagination via the `RelationConnection`, graphql-ruby makes two identical SQL queries to fetch the result page from the database. One of these happens within the `Relati

[2017-10-11 18:45] tb commented on #1012
@MSchmidt I think you mean

[code]

I use it for `field :errors, Types::JSONType`

[2017-10-11 19:02] rmosolgo commented on #1012
Alternatively, if you're talking about about re-using the GraphQL layer to serve JSON in other places, I recommend https://github.com/github/graphql-client for that. It's what we use for GraphQL-backed REST endpoints at GitHub, and I know a few others use it the same way.

You can write a static GraphQL query, then execute it and, if necessary, reformat the result a bit, then send the JSON somewhe

[2017-10-11 22:03] dnd opened #1020 "Custom scalar CoercionError clobbers parent messages"
When a non-top level field has a custom scalar type that raises a coercion error. The coercion error message overwrites the parent's error message.

This gist shows the difference between a coercion returning nil, raising a `CoercionError`, and what the expected output would actually be.

https://gist.github.com/dnd/c9d6cbf18880f8fd916f962a7e10ca9e

This is from a block of code that looks like thi

[2017-10-11 22:24] eapache commented on #1020
@swalkinshaw

[2017-10-12 15:13] rmosolgo commented on #909
One of my teammates at GitHub just handled this for our internal bug tracker and it worked really nicely, basically he made a field instrumentation that worked like this:

[code]

That way, whenever something went wrong, we had the metadata in the bug report. I think something similar could be implemented for the various third-party bug trackers, too.

[2017-10-12 21:42] swalkinshaw commented on #1020
I'm not really sure what the solution is here. `valid_literal?` gets called for the input object and results in the nested values being validated as well causing the exception to be raised and rescued in the context of the input object.

@rmosolgo any ideas here? I can't immediately see anything that would be easy 😔

[2017-10-13 12:20] hedselu opened #1023 "Middleware declaration in schema raises undefined method error"
Hi. I am playing with GraphQL in current work. I faced an issue while trying to apply custom middleware. Let's say we've got schema:
[code]
This middleware declaration raises error while trying to execute query:
[code]
So I've dig into code a little bit and there is no initialization of such middleware. Addition to `MiddlewareChain` instance occurs here as class object:

https://github.com/rmosolg

[2017-10-13 13:56] eapache commented on #1020
Put a rescue at the bottom of `LiteralValidator#validate` where you pull out the error for the specific field and then reraise a generic coercion error for the parent?

Actually, I just remembered https://github.com/rmosolgo/graphql-ruby/issues/160 which I filed a long time ago - do we even *want* an error on the parent field in this case? It's kind of redundant.

[2017-10-13 13:59] swalkinshaw commented on #1020
I kind of agree. It's very redundant for these errors to bubble up to every parent input object.

[2017-10-13 14:21] dnd commented on #1020
I kind of think +1 to just having the error only for the field in question and no bubble up. The error message includes the full path array to the error. So if you wanted to just scan for a general failure of the parent object you could do so.

I think the only considerations would be that it's a potentially breaking change from current functionality, as well as is there ever a case where the pare

[2017-10-13 15:09] rmosolgo commented on #1023
A middleware should respond to `.call`, does `NiceMiddleware` above respond to that method?

Can you share the definition of `NiceMiddleware`?

[2017-10-13 15:29] rmosolgo commented on #1020
Yeah, :+1: from me too to stop bubbling up 😬  For reference, here's the GraphQL-js behavior:

![image](https://user-images.githubusercontent.com/2231765/31553843-c4769f82-b009-11e7-8a66-d4eeeab1e683.png)

https://launchpad.graphql.com/w43v7938z

[2017-10-13 15:29] hedselu commented on #1023
Sure, the middleware class is pretty simple.

[code]

[2017-10-13 15:30] hedselu commented on #1023
Ok, now I see where's the problem, this should be defined as class method ;)

[2017-10-13 15:32] rmosolgo commented on #1023
Yep, or, initialize the middleware, for example:

[code]

[2017-10-13 15:35] hedselu commented on #1023
I was following my earlier implementations of middleware & creating instances of MiddlewareChain & RescueMiddleware, that's why I was hitting this error.
Yay, I've initialized it as you written, but was wondering why it isn't working basing on docs :)

Thanks for your help :+1:

[2017-10-13 15:36] hedselu commented on #1023
Due to finding solution for this I am closing this "issue".

[2017-10-13 15:37] #1023 closed

[2017-10-13 19:18] swalkinshaw opened #1024 "Argument's prepare behaviour differs between literal input and input objects"
When argument values are specified inline, an `argument`'s `prepare` function works as expected:

https://github.com/rmosolgo/graphql-ruby/blob/17a497d0ed4514b7af90ee1abf5e1ce18e9b12a1/lib/graphql/query/literal_input.rb#L79-L83

Each argument's value is prepared and raises if it returns a `GraphQL::ExecutionError`.

However, if you use variables for argument values, the behaviour differs.

https:/

[2017-10-16 01:04] rmosolgo commented on #1024
😖  This is gonna be a toughie

[2017-10-16 06:19] cpunion opened #1026 "Invalid serialization for array of GlobalID::Identification"
I tried to trigger some events in model:

[code]
The second is wrong:
[code]

## Environment:

[code]

[2017-10-16 07:43] cpunion commented on #1026
I made a patch to dumps/loads array and hash value recursive, but I didn't find where to write tests.

[code]

[2017-10-16 07:55] cpunion commented on #1026
Maybe just process 1 level is better for avoid circular references.

[2017-10-16 10:49] cpunion opened #1027 "[Question] How to add fields to ObjectType dynamiclly?"
I need to add some field to a type defined by ObjectType, these types generated by CMS, and then add some fields in plugins. In `v1.6.4`, I can call `.redefine` likes below:

[code]

It works fine. But after I upgraded to 1.7.4, I got an error:

[code]

If I change
[code]
to:
[code]

No errors but the field doesn't add.

Is there a way to do this?

[2017-10-16 11:04] cpunion commented on #1027
Downgrade to `v1.6.4`, it works again.

[2017-10-16 11:33] cpunion commented on #1027
Solved by change all field type to **lazy** that reference to other object type. 😀😀

@rmosolgo Please let me know this is the right way, or you will change something to compatible that usage.

[2017-10-16 13:29] rmosolgo commented on #1027
:+1: I think that's a good solution, because otherwise some fields have references to _old versions_ of the type, while other fields refer to new versions of it!

[2017-10-16 13:44] rmosolgo commented on #1026
:+1: Thanks for digging in on this one, it would be great to fix this!

For testing, how about adding a new unit test file for `GraphQL::Subscriptions::Serialize`? Right now, that module is only tested via `subscriptions_spec.rb` and the end-to-end system tests for ActionCableSubscriptions.

In a unit test, you could just test `Serialize`'s methods directly, how does that sound?

[2017-10-16 15:32] cpunion commented on #1027
Thanks!

[2017-10-16 15:32] #1027 closed

[2017-10-16 15:33] cpunion commented on #1026
OK. I will try.

[2017-10-16 16:05] volkanunsal commented on #1027
@cpunion Can you post a snippet of your solution? I think I have the same problem. It would be really useful.

[2017-10-16 16:07] rmosolgo commented on #1027
I would guess it's like this

[code]

Using a proc literal for deferred type lookup

[2017-10-16 16:08] volkanunsal commented on #1027
👍

[2017-10-16 17:43] eshaiju commented on #911
My sample application based on blog posts http://tech.eshaiju.in/blog/categories/graphql/
https://github.com/eshaiju/graphql-ruby-sample

[2017-10-16 19:33] dblock opened #1028 "Improve returned validation error"
[code]

Post this:

[code]

The error returned is `Argument 'input' on Field 'createRsvp' has an invalid value. Expected type 'createRsvpInput!'`, not very useful.

With the following:

[code]

It's better

[code]

We want at least the latter in the former example.

This is because the `LiteralValidator` just returns a boolean indicating whether the literal input is valid or not, see https://githu

[2017-10-16 21:02] rmosolgo opened #1029 "Is `default_type_error` working right?"
I got a bug report via graphql-pro where a resolve_type hook returned `nil`, but no error was raised. Why? Hm...

[2017-10-17 01:58] cpunion commented on #1027
Yes. See @rmosolgo 's example.

[2017-10-17 02:17] cpunion opened #1032 "Rubocop configuration problem"
[code]

[2017-10-17 14:33] dblock opened #1034 "Consider moving to the graphql-ruby org?"
Would maintainers consider moving this to a `graphql-ruby` org? Similar to https://github.com/slack-ruby or https://github.com/alexa-js or https://github.com/ruby-grape? I am happy to cheerlead. Owners will be all maintainers of this and other projects that would be the "founding members". It could become a home for projects such as this one and others, such as https://github.com/exAspArk/graphql-

[2017-10-17 15:06] dblock commented on #1028
Failing spec in https://github.com/dblock/graphql-ruby/tree/issue-1028.

[2017-10-17 15:18] swalkinshaw commented on #1024
I dug into this a bit more and came away more confused than before 😄

Here's a failing test case though: https://github.com/rmosolgo/graphql-ruby/compare/master...swalkinshaw:argument-prepare-variables

[2017-10-17 20:48] Ruin0x11 opened #1038 "ActionCable subscription backend for Relay returns nil on first subscription fetch?"
Hello. I'm trying to create a Relay subscription using the built-in ActionCable backend, but on the initial subscription confirmation there isn't any data sent and the channel is unsubscribed prematurely. My understanding is that the server is supposed to send a different response the first time a subscription is requested, but instead I get an error when first fetching the subscription.

This is

[2017-10-18 00:55] rmosolgo commented on #1038
Hi! First of all, thanks for opening this great issue. Let's see what we can find!

That's because GraphiQL doesn't use ActionCable, so it couldn't stream 😖

Here's where the code expects to get a `Channel` instance, but it was `nil`:

https://github.com/rmosolgo/graphql-ruby/blob/17a497d0ed4514b7af90ee1abf5e1ce18e9b12a1/lib/graphql/subscriptions/action_cable_subscriptions.rb#L95

Maybe we can rai

[2017-10-18 00:57] rmosolgo commented on #1028
Yeah, I agree this would be a great place to improve, maybe we could take inspiration from graphql-js!

[2017-10-18 08:45] cpunion commented on #1038
I'm trying to run subscriptions in GraphiQL, just finished a demo to call subscriptions in GraphiQL, didn't test complete.

[code]

Then build a fetcher to GraphiQL:
[code]

I need some time to read GraphiQL's code to understand its `next/error/complete` callbacks.

@rmosolgo After subscription, the callback argument of `subscribe` be called with`(null, null)`, what's that means?

[2017-10-18 15:18] Ruin0x11 commented on #1038
@rmosolgo Yes, it works! Thanks for your hard work as always.

The GraphiQL version I'm using is embedded as a Rails engine using the `graphiql-rails` gem, which just places it at an endpoint. It would be nice to have subscriptions working, since I was working through a GraphQL tutorial and got a different output from the tutorial which uses a different backend (visible [here](https://www.howtogra

[2017-10-19 19:33] dblock opened #1042 "Reconsider the purpose and implementation of allow_dynamic_queries"
Coming from https://github.com/ashkan18/graphlient/issues/24.

Currently graphql-client forces you to declare static module variables in the name of security and optimization. It makes two good arguments in https://github.com/github/graphql-client/blob/master/guides/dynamic-query-error.md:

1) Parsing a query and validating a query on every request adds performance overhead. It also prevents valid

[2017-10-19 19:33] dblock commented on #1042
Whoops wrong repo.

[2017-10-19 19:33] #1042 closed

[2017-10-19 19:52] staugaard opened #1043 "`from_definition` does not actually support relay connections"
This unfortunately fails with this exception:
[code]

[code]

[2017-10-19 23:35] bessey commented on #958
Its not a bug, its in the Relay spec, but 1.7 [introduced a way to override it](https://github.com/rmosolgo/graphql-ruby/blob/master/CHANGELOG.md#new-features-2) to behave how a normal person might expect

[2017-10-20 00:04] rmosolgo commented on #1034
Interesting idea! If the main goal is discoverability, could we accomplish the goal by adopting the `graphql-ruby` topic on github, then directing people to https://github.com/topics/graphql-ruby ?

[2017-10-20 00:26] dblock commented on #1034
Yes, however that leaves a very important problem unsolved: when the repo is not in an organization and the maintainer (in your case you @rmosolgo) disappears there's no way to recover admin rights to a repo that are sufficient to add maintainers. You can have a very popular project and no way to move forward without a fork. Putting the repo in an org solves that problem - you and other maintainer

[2017-10-20 06:41] xuorig opened #1044 "accepts_definition default?"
It would be awesome to be able to provide a default for a certain metadata attribute / attribute on schema members.

For example:

[code]

Then:

[code]

Of course, this particular example breaks the current accepts_definition signature. We could probably find a way to keep the old behaviour.

WDYT @rmosolgo ?

[2017-10-20 13:34] rmosolgo commented on #1044
:+1: as long as there's a way to not-break existing code 😎

[2017-10-20 13:38] rmosolgo commented on #1034
That's a good point too, I'll share my approaches to these issues:

- The walk-away problem: one day, I could disappear from open source. Sad, but it happens! I have no plans of doing this, and one way I assure graphql-ruby users of support is by offering [graphql-pro](http://graphql.pro). It's a one-year license with support, and I take that commitment seriously, I couldn't walk away from that wi

[2017-10-20 13:44] rmosolgo commented on #1043
Awesome, thanks for the reproducing case! I wonder if it would be as "easy" as adding an `#edges` method to BaseConnection.

[2017-10-20 14:13] dblock commented on #1034
Thanks! I am pretty sure @davidcelis and @Willianvdv can't add more people with r/w access. At least that's how my Github works. No?

[2017-10-20 18:18] staugaard commented on #1043
For a `threads` connection, I had to add this to my resolver to make it work:

[code]

[2017-10-20 19:03] lifeiscontent opened #1045 "Subscriptions with action cable not working as expected."
Hey there!

First off, thanks for the great graphql lib in ruby!

I'm trying to setup graphql subscriptions in my app but when I try to create a subscription I get an error.

here's my log:

[code]

from what I can tell, context is expecting a key called channel and having it be an instance of a GraphqlChannel. But I'm unsure how to pass that in, or even if that should be a requirement of the cont

[2017-10-20 19:45] rmosolgo commented on #1045
Hi! Are you sending the query to your Rails server via ActionCable or by HTTP post?

To use subscriptions with ActionCable, you must send the `subscription` query via ActionCable, for example, in the JS code in this project:

https://github.com/rmosolgo/graphql-ruby/blob/37c5d4f8537618213f15e9156f165d4a677b27da/javascript_client/subscriptions/ActionCableSubscriber.js#L52-L53

[2017-10-20 19:48] lifeiscontent commented on #1045
@rmosolgo I'm using graphiql to test the subscription how would you do it otherwise without ActionCable?

[2017-10-20 19:54] rmosolgo commented on #1045
GraphiQL doesn't support ActionCable out of the box, see some conversation here about customizing it: https://github.com/rmosolgo/graphql-ruby/issues/1038#issuecomment-337508203

[2017-10-21 16:59] burlesona opened #1048 "Document `!type` better or consider dropping it?"
Just some food for thought:

https://github.com/rmosolgo/graphql-ruby/blob/741f2691c6b8f228d957237a7ea91070bd3bcf19/lib/graphql/define/non_null_with_bang.rb#L11

which leads to:

[code]

I'm new to GraphQL Ruby, but have been developing in Ruby for almost ten years now. I've never seen the unary `!` operator overloaded like this, and it jumped out at me on the project home page enough that I had t

[2017-10-21 17:08] burlesona commented on #1034
@rmosolgo I think your documentation of the contingency plans above is pretty helpful and it gives me a lot of confidence in the project. Thanks for sharing that! Silly as this sounds you might want to add that kind of thing to the project home page and readme, as it will help people who are just discovering this library (like me) to feel confident that it is not too risky to adopt.

If you'd like

[2017-10-21 20:14] thefliik commented on #1048
@burlesona, I assume the answer is because, as this is a library for working with graphql, much of the syntax and design is inspired by the graphql spec rather than ruby. Graphql-ruby's `field :name, !types.String` tries to resemble [graphql's](http://graphql.org/learn/schema/#type-system) type syntax `type Character { name: String! }`.

As someone who found graphql-ruby _after finding_ graphql, g

[2017-10-22 00:51] dblock commented on #1034
I think @rmosolgo should take credit for the whole org! This would be the most important project in it.

[2017-10-22 13:14] rmosolgo commented on #1048
:+1: thanks for opening an issue, it's also a source of heartburn for me, because in other code, I write `if !type ...` and it backfires 😖

I think we'll use `null:` instead in a future schema definition API.

[2017-10-22 13:16] #1026 closed

[2017-10-23 09:39] AlexanderMint opened #1050 "[Question] Collection in GraphQL::Function"
I do the CollectionRecords function for receiving data array, by analogy with "[FindRecord](http://graphql-ruby.org/fields/function.html)" that it is described in documentation. How to specify type that it is array/collection?

or how to remake my class in function?

[code]
[code]

[2017-10-23 15:35] rmosolgo opened #1051 "Repackage GraphiQL for Ruby"
A long time ago, I made rmosolgo/graphiql-rails to use GraphiQL with Rails apps. I would like to repackage it as `GraphQL::GraphiQL` for a couple of reasons:

- One less repo to maintain and document
- Make it Rails-independent; package it as a Rack app instead (no Sprockets etc)
- Support subscriptions (eg https://github.com/rmosolgo/graphql-ruby/issues/1038#issuecomment-337508203)
- Consider [gr

[2017-10-23 15:35] rmosolgo commented on #1038
Glad it's working a bit better! I just opened another issue about migrating GraphiQL: https://github.com/rmosolgo/graphql-ruby/issues/1051

[2017-10-23 15:35] #1038 closed

[2017-10-23 16:11] XenorPLxx opened #1052 "Context in subscriptions"
Hey!
At first I wanted to thank you for your great work!

I've got a bit of a problem understanding how passing context works when using GraphQL subscriptions.

I've got `current_user` stored in my context and my context is fetched in `GraphQL::Subscriptions#execute` (after `GraphQL::Subscriptions#trigger` being called by me) by using `GraphQL::Subscriptions#read_subscription` method. I didn't ove

[2017-10-23 17:43] rmosolgo commented on #1052
Hi! The code sample you posted looks right to me, I expect it to work as you described. What happened when you tried it?

[2017-10-23 17:51] XenorPLxx commented on #1052
Wow. I believe it's one of those 'talking to yellow duck' situations (like when something doesn't work, you tell someone about it and then problem automagically resolves in your head).

It works as expected now!

My mistake was that I've tried to invoke `_ctx.current_user` instead of `_ctx[:current_user]`. And then when I wrote this post I've wrote the correct code sample instead of wrong one :D.

[2017-10-23 18:55] rmosolgo commented on #1052
Glad it works, thanks for following up!

[2017-10-23 18:55] #1052 closed

[2017-10-24 06:28] davidcelis commented on #1034
As one of the contributors to the project, I’ll admit that I don’t see any huge benefit to moving the graphql-ruby gem into an organization. It’s already easily discoverable via search and, as @rmosolgo explained, we’re not really in danger of him disappearing (I believe and trust him with regards to that assurance). Seeming more legitimate and professional could be a valid reason, but sidekiq is

[2017-10-24 08:03] AlexanderMint commented on #1050
Solution:

[code]

[2017-10-24 08:03] #1050 closed

[2017-10-24 12:26] dblock commented on #1034
I'm curious why nobody is actually addressing bus factor of 1? @rmosolgo Your second point is incorrect, none of these people can grow more maintainers, Github doesn't let you do that.

[2017-10-24 14:09] rmosolgo commented on #1034
Personally, the odds of me dying are small enough that the current contingency plan (forking) is good enough for me. FWIW, I haven't written a will yet, either 😆

Thanks for starting the discussion on this, I prefer to keep it as-is for the time being!

[2017-10-24 14:09] #1034 closed

[2017-10-24 16:30] dblock commented on #1034
Thanks everyone and thanks for your amazing work @rmosolgo!

[2017-10-25 16:46] geneeblack commented on #945
Very cool @AndyKriger , I like it. The thought of hand coding all of our types in an app with over 100 models was a daunting task. I've added a bit to your original code to accommodate all relations (except polymorphic relations) and provide some rudimentary fallbacks if a relation is invalid. Have you started a github project on this? I'd be interested in contributing since I've some ideas for ad

[2017-10-26 03:12] steobrien opened #1057 "How to scope subscriptions?"
I'm having difficulty figuring out how to restrict subscription broadcasts to specific users. I'm using version 1.7.4 of the gem.

Here's a miniature version of my implementation (using ActionCable):
[code]

[code]

[code]
As is, this functions, but would broadcast _all_ new messages – belonging to any user – to any user with a subscription.

From the [subscriptions/triggers docs](http://graphql-r

[2017-10-26 03:48] cpunion commented on #1057
Try `arguments`. In your subscription, you can provide `user_id` argument, and keep it consistent with the 2nd argument of `trigger` (See the triggers docs).

[2017-10-26 04:14] steobrien commented on #1057
Thanks @cpunion! I think that's insecure though, because couldn't a malicious client guess/pass the `user_id` of a different user?

[2017-10-26 04:23] cpunion commented on #1057
@steobrien Oh sorry, I misunderstood.

[2017-10-26 04:47] steobrien commented on #1057
Turns out I was putting `subscription_scope` in the wrong place.

I got this working eventually with:

[code]

[code]

[2017-10-26 04:47] #1057 closed

[2017-10-26 08:36] MSchmidt commented on #1012
Instead of adding a client, I've just used ``execute`` directly in REST-based controllers.

[code]

But what I was actually looking for was some representation of a single type. E.g. I have a ``UserType`` and a ``User`` model. Now I was hoping for something like this:

[code]

[2017-10-26 11:13] axos88 opened #1058 "prepare not working for input fields on mutations"
# Setup

[code]

# Expectation:

Making a mutation query with foo set to [1,2,3,4] should print out 4

# Actual result:

prints out [1,2,3,4]

[2017-10-26 11:49] axos88 commented on #1058
Was using an old version (1.5.4)

[2017-10-26 11:49] #1058 closed

[2017-10-26 12:01] axos88 opened #1059 "Argument prepare changing type"
Hello,

I'm not sure if this is desired, or perhaps there is a better way to do it, however when the prepare function returns a different type of data, graphql crashes. Obviously the example below is not the actual code we are running and is a bit awkward, but describes what we are trying to achieve:

Internally I believe we should be able to map to anything...

#Setup
[code]
#Expectation

Calling

[2017-10-26 19:52] volkanunsal commented on #861
@rmosolgo Would is make sense to create a small number of `FieldResolutionContext`s in a pool and reuse them somehow?

[2017-10-28 23:15] jdsjr opened #1063 "Unexpected "NoMethodError: undefined method 'id'""
I'm using graphql-ruby fronting a postgresql database.  I'm attaching graphiql screenshots that show me querying for all the displays (Display.all) and getting the expected results.  A second screenshot shows an attempt to get a single display with a specific "retailDisplayId".  This second query fails with a "NoMethodError: undefined method 'id'".  As you can see in the screenshots the display sc

[2017-10-29 01:00] pengwynn commented on #1063
Missing a `.first` in your `display` resolver?

[code]

[2017-10-29 01:11] jdsjr commented on #1063
Thanks pengwynn, that was the problem.

[2017-10-29 01:11] #1063 closed

[2017-10-30 13:42] AndyKriger commented on #945
I haven't started a Github project for it. For one, it's very much a work in progress with the needs of the project it's part of (which is in it's early stages) and has changed a bit since this. Also, it's internal code that I shared as a proof-of-concept. I'll discuss it with my team and see if I can make it into something more public. Would be happy to collaborate either way.

[2017-10-30 14:23] rmosolgo commented on #1059
GraphQL-Ruby assumes that all GraphQL `List` types will have underlying Ruby `Array`s. In this example, a `List`-typed input (`[Enum]!`) is being converted to a Ruby String [`"v1_v2"`], which is not supported.

I'm not convinced that graphql-ruby _should_ support this. Can you reimplement your `case` statement to return an array (eg, `["v1", "v2"]`), then convert the array to a string inside your

[2017-10-30 16:48] axos88 commented on #1059
Even if this should not be supported within the prepare function, which unsure wether would be a good idea either, there should be another functionality, call it resolve or map, or whatever that can map the incoming argument to the inner domain model, which values type may or may not coincide with the graphql defined outer type. And this mapped value should be available within args[:xxx]

[2017-10-30 21:44] dblock commented on #323
https://github.com/rmosolgo/graphql-ruby/pull/1035 is related

[2017-10-30 21:53] AndrewRayCode opened #1066 "Feature request: Method to convert ObjectTypes to InputObjectTypes?"
Hello :)

I have a query to look up data about a user, like:

[code]

With a type like this:

[code]

Now I'm writing a mutation to do something like this:

[code]

I don't want to duplicate the fields from `ContactObjectType`. I tried doing something like this:

[code]

But it complains:

    "contact_information" type must be a valid input type (Scalar or InputObject), not GraphQL::NonNullType (

[2017-10-31 07:53] eugenk opened #1067 "Allow GraphQL::InterfaceType to define 'implements'"
I'm facing a situation of hierarchical inheritance like:
[code]
and want to mirror this in the GraphQL API (with graphql-ruby 1.7.4). You can think of classes A and B as "abstract classes" that are never actually instantiated, but only the leafs of the inheritance tree (C, D, E). I would like to write my types like this:
[code]
However, this is not possible. `GraphQL::Schema::Printer.print_schema(

[2017-10-31 13:21] Mexxerio opened #1068 "Add graphql subscriptions with Apollo 2.0 support"
Apollo 1.x support was added recently https://github.com/rmosolgo/graphql-ruby/blob/master/javascript_client/subscriptions/addGraphQLSubscriptions.js

But unfortunately the newly released Apollo 2.0 has a lot of breaking changes. The network interface was ditched in favor of links: https://dev-blog.apollodata.com/apollo-link-the-modular-graphql-network-stack-3b6d5fcf9244

It would be great if Apol

[2017-10-31 13:24] eapache commented on #1067
It's interesting you bring this up. I don't think the current interface system has a solution for this but it shouldn't be too difficult to do in the class-based system @rmosolgo has been working on.

Robert: our internal class-based interface supports this already, the code looks kind of like this:
[code]

Worth noting this also lets interfaces define `on_implements { |type| ... }` blocks to let

[2017-10-31 14:06] eugenk commented on #1067
Interesting. So, you suggest to wait for the class-based system? Is it targeted for graphql-ruby 2.0?

[2017-10-31 18:28] minasmart opened #1069 "invalid query args pass validation"
hey there!

While working on a thing that auto-generates pagination queries, I accidentally generated some bad queries.

One of them had query args like this:

[code]

Clearly logically incorrect (and syntactically questionable). However, with the graphql-ruby gem, this seems to pass parsing validation, whereas, using the js graphql parser it gets caught as a syntax error [ref](https://launchpad.g

[2017-11-01 00:02] thefliik commented on #1067
Previously, see #897, `@rmosolgo` has indicated he's personally not interested in building in the ability for interfaces to have interfaces.

[2017-11-01 00:55] rmosolgo commented on #1069
Eek! Thanks for the bug report. Just to clarify, I duplicated the issue on two platforms, SWAPI (which uses graphql-js):

![image](https://user-images.githubusercontent.com/2231765/32255332-72795940-be7d-11e7-8807-99b9ab8b8d81.png)

And GitHub (which uses graphql-ruby):

![image](https://user-images.githubusercontent.com/2231765/32255352-9339fce8-be7d-11e7-91ec-c86fd6b8a5e0.png)

Interestingly, if

[2017-11-01 00:57] rmosolgo commented on #1068
I haven't taken a look at this yet, but thanks for opening the issue! If anyone makes progress, please let us know here. I'll be sure to do the same when I update the JS client included here.

[2017-11-01 00:58] rmosolgo commented on #1059
:+1:, yes, I think this is the responsibility of resolve functions. They should take GraphQL-defined inputs and map them to your application logic.

[2017-11-01 01:20] rmosolgo commented on #1066
No, there's not a built-in way to do it. But you can use `GraphQL::InputObjectType` to create an input object, and use the original `ObjectType` as the reference!

[2017-11-01 20:49] minasmart commented on #1069
also, in my original issue, the default value was the var name itself so like `$first: Int = $first`, which is weird but also seems to cause a different error.

[2017-11-01 21:00] rmosolgo commented on #1069
Derp, thanks for the correction, I tried again with:

[code]

And got:

[code]

[2017-11-01 21:42] AndrewRayCode commented on #1066
Makes sense, thanks!

[2017-11-01 21:42] #1066 closed

[2017-11-01 23:31] steobrien commented on #1057
Hey @Mexxerio, my understanding is that the value in `subscription_scope` must correspond to a variable set in the execution `context`: https://github.com/rmosolgo/graphql-ruby/blob/719b5eda918d71ce7e6695939653f2371f95e607/lib/graphql/subscriptions/event.rb#L28

If so, a unique identifier for the user will then be used as a prefix:
https://github.com/rmosolgo/graphql-ruby/blob/719b5eda918d71ce7e66

[2017-11-02 00:34] haydentherapper opened #1072 "Infinite resolution when instrumenter inspects query result"
Given the following conditions, I've run into an infinite loop when resolving a query. This is used to build tracing data, similar to https://github.com/uniiverse/apollo-tracing-ruby/blob/0ac17ca17f328ca13cee2ad29308874726f44f90/lib/apollo_tracing.rb#L62

* The query instrumenter inspects the query with `query.result` in `after_query`.
* The result throws an exception not inheriting a `GraphQL::Ex

[2017-11-02 08:44] Mati365 commented on #1068
@Mexxerio :+1:

[2017-11-02 11:42] Mexxerio commented on #1057
@steobrien Yeah I think you are right. It works for me now as well.

[2017-11-02 13:01] rmosolgo commented on #1057
Yes, you've described it correctly! Sorry it's not well-documented, I'll be solidifying the subscription docs before the next release (and removing the "experimental" flag)!

[2017-11-02 13:02] rmosolgo commented on #1072
😖  I thought there was a _test_ for exactly this. Thanks for reporting it, I'll take a look!

[2017-11-02 13:03] steobrien commented on #1057
Great, thanks!

[2017-11-02 13:03] rmosolgo commented on #515
this will be available after #1037, please keep an eye on that issue!

[2017-11-02 13:03] #515 closed

[2017-11-02 13:04] rmosolgo commented on #538
The class-based API described in #1037 will include this feature, keep an eye there!

[2017-11-02 13:04] #538 closed

[2017-11-02 13:05] rmosolgo commented on #727
Thanks again to everyone who participated in this discussion. After a lot of trial and error, I think #1037 will be my next take at a schema definition API!

[2017-11-02 13:05] #727 closed

[2017-11-02 13:08] rmosolgo commented on #837
This kind of usage will be possible after #1037, when each object in the response will be backed by a `GraphQL::Object` instance, so please keep an eye on that PR!

[2017-11-02 13:08] #837 closed

[2017-11-02 13:09] rmosolgo commented on #847
Sorry you didn't find something yet! The key is to find where `build_searcher` is defined, then make that method available to you in your resolve function. I hope you find something that works!

[2017-11-02 13:09] #847 closed

[2017-11-02 13:10] rmosolgo commented on #950
I hope you found something that works for you!

[2017-11-02 13:10] #950 closed

[2017-11-02 13:12] rmosolgo commented on #945
Thanks again for sharing this cool idea, if you end up publishing anything, please add it to our list of related projects: http://graphql-ruby.org/related_projects.html !

[2017-11-02 13:12] #945 closed

[2017-11-02 13:13] rmosolgo commented on #945
(feel free to keep chatting here, but i want to close this issue so I can keep track of to-do items on this project!)

[2017-11-02 13:16] rmosolgo commented on #958
Yep, thanks @bessey. Here's the corresponding change to the Relay spec: https://github.com/facebook/relay/pull/2079

Previously, it was _required_ to return `false` in this case. Now, it's permitted to return either one. So you can use the flag linked above to return `true` in this case instead.

[2017-11-02 13:16] #958 closed

[2017-11-02 13:19] rmosolgo commented on #1012
Using `execute` directly sounds good too! There's not a built-in way to get a "representation" of a type with GraphQL. It's part of what makes GraphQL special: clients all have different needs, so the concept of a "canonical representation" is not really useful for productive client development. With that in mind, the solution is just like what you're already doing: create a certain "representatio

[2017-11-02 13:19] #1012 closed

[2017-11-02 13:23] rmosolgo commented on #983
Resolvers are functions, so only the `.call(obj, args, ctx)` method is called by graphql-ruby. (This is duck-typing a Proc.)

Here's a way you could adapt the example above:

[code]

If you don't find a good solution, feel free to reopen this issue with the specific error message and stack trace that you get!

[2017-11-02 13:23] #983 closed

[2017-11-02 13:24] rmosolgo commented on #969
fixed by #1004

[2017-11-02 13:24] #969 closed

[2017-11-02 13:25] rmosolgo commented on #1032
It sounds like this was fixed by upgrading rubocop ☺️

[2017-11-02 13:25] #1032 closed

[2017-11-02 14:00] minasmart commented on #1069
Yep, that's the business 😉

[2017-11-02 16:08] #1069 closed

[2017-11-02 18:00] rmosolgo commented on #956
I just spent some time trying to clean up some of the weird lazy preparation stuff, but it basically doesn't work, because you _need_ an uninitialized state during `before_query`, but you also only want to call `before_query` on valid queries, which means you have to do preparation before that.

So, since the main issue here was resolved in #957, I'll close this one for now ...

[2017-11-02 18:00] #956 closed

[2017-11-02 18:00] rmosolgo commented on #956
oh, here's that experiment: https://github.com/rmosolgo/graphql-ruby/compare/eager-query-processing

[2017-11-02 18:44] rmosolgo commented on #1024
I took a try at clearing up the preparation steps this morning, but it failed: https://github.com/rmosolgo/graphql-ruby/compare/eager-query-processing

So i will catch my breath and try again tomorrow 😓

[2017-11-02 18:56] camertron commented on #983
Awesome, thanks @rmosolgo!

[2017-11-02 21:09] #1072 closed

[2017-11-04 12:54] Dbz commented on #78
The guide link posted above is dead

[2017-11-04 13:15] rmosolgo commented on #78
Here's a new link: http://graphql-ruby.org/schema/testing.html

[2017-11-04 13:43] Dbz commented on #78
Thank you. The examples on that link are a bit different from the [how to graphql](https://github.com/howtographql/howtographql/blob/8614026b99e38dbf0a73aaecefd1f703efbedddf/content/backend/graphql-ruby/3-mutations.md#testing-with-unit-test) example in mutations. Do you have any thoughts on that?

[2017-11-05 03:32] chollier opened #1076 "GraphQL Pro stable cursor makes AR fail with only count"
Hey! I'm in the process of upgrading our app from `graphql-ruby@1.6.7`  to current and `graphql-pro@1.5.2` to current.

I notice some of our tests are failing with this error:

[code]

this use care is a little bit specific, here is `display_definition_authorized_stores_connection_type.rb`:
[code]
and this failing test if performing this precise query:
[code]

As you can see we are only requiring

[2017-11-06 01:28] KevinColemanInc commented on #511
I am running into the same issue OP has where the ID pass in is the global id and not the integer I would expect it to be.  It seems like the mutations should not be responsible for translating global ids to database ids.

How do you translate relational ids to database ids in a mutation without having to do the translation in the mutation?

[2017-11-06 02:06] KevinColemanInc commented on #507
This seems strange to me that the mutations also need to be responsible for resolving relational Ids.

Shouldn't there be a `type.GlobalID` or something that automatically resolves the associated object ids?  I don't think `object_from_id` is the correct method, because I am not trying to load the object from the database, I am just trying to get the ID.

[I found this sample project that resolves

[2017-11-06 02:29] rmosolgo commented on #1076
This is a great bug report, thanks for all the details!

I'm sure this bug was introduced in 1.5.3, as part of the fix for joined tables with columns of the same name:

https://github.com/rmosolgo/graphql-ruby/blob/caeb995da53fb71cecaef22ca5c96cfbdbb35247/CHANGELOG-pro.md#153-4-sept-2017

So, I will take a look tomorrow and get back to you!

[2017-11-07 01:50] rmosolgo commented on #1076
I tried and tried to replicate in the test suite ... then looked at my implementation of `totalCount`:

[code]

😅  It used `.size`.

I figured that was it: since the new connection implementation adds to the `select` columns, you have to use `size` (where Rails does magic) or _manually_ specify `COUNT(*)` with `.count(:all)`. See for example: https://github.com/rails/rails/issues/29686#issuecommen

[2017-11-07 02:00] chollier commented on #1076
Oh well,

I can definitely do that! I’ll try that tomorrow morning and update you. Thanks for looking it!

Loïc
________________________________
From: Robert Mosolgo <notifications@github.com>
Sent: Monday, November 6, 2017 5:50:55 PM
To: rmosolgo/graphql-ruby
Cc: Loïc CHOLLIER; Author
Subject: Re: [rmosolgo/graphql-ruby] GraphQL Pro stable cursor makes AR fail with only count (#1076)

I tried and

[2017-11-07 18:08] joshjcarrier opened #1077 "Default arguments on explicitly defined Relay Connections"
if a connection implementation only wishes to implement unidirectional pagination, it uses the argument declaration to define what it can support. [The current Connection instrumentation](https://github.com/rmosolgo/graphql-ruby/blob/a459067b3d209758a82af1f0d1570316d0b7698d/lib/graphql/relay/connection_instrumentation.rb#L32) forces both.

Relay Connection Spec states

https://facebook.github.io/r

[2017-11-07 22:09] chollier commented on #1076
This solved it thanks!

[2017-11-07 22:09] #1076 closed

[2017-11-08 19:51] jdsjr opened #1082 "Schema.from_definition and implements GraphQL::Relay::Node.interface"
I need to support a relay client and was looking at http://graphql-ruby.org/relay/object_identification.html.  However, I am using GraphQL::Schema.from_definition to get my schema, and not defining each type separately.  Is there an approach for supporting relay when using "from_definition" and the "Resolving with a Single Function" approach?

[2017-11-09 18:45] swalkinshaw opened #1083 "Instrumentation query hooks bug + teardown behaviour"
We're seeing some surprising behaviour when using query level instrumentation. This might have been a naive assumption, but we assumed that the sequence of `before_query` -> `after_query` would be reliable.

I've created a failing test case to demonstrate our situation: https://github.com/swalkinshaw/graphql-ruby/blob/45351d42dded3b682b59561b2ceb845d68b6d91c/spec/graphql/instrumentation_spec.rb

S

[2017-11-09 20:55] swalkinshaw commented on #1083
cc @exAspArk too since this affects apollo-tracing

[2017-11-09 22:07] swalkinshaw commented on #1083
Thinking about this more, I don't think an instrumenter's `after_query` should depend on `before_query` running since there would definitely be use cases for using each independently.

So I'm not sure what or even if there's a solution to this. At a minimum the instrumentation docs should be updated to warn not to rely on state.

Beyond that, should an exception in one instrumenter's `before_query

[2017-11-09 22:17] rmosolgo commented on #1083
These are great questions. I'm open to a lot of the solutions here and I agree, it's a bit murky in any case!

I will think about this more tomorrow ... Happy to take a recommendation 😅

[2017-11-10 13:48] eapache commented on #1083
I'm curious what you're thinking of here?

If a before_query raises, should the query even execute or should that just bubble up immediately? I suppose it's good to be robust to bad instrumentation, but sometimes the instrumentation may be important and the query won't execute properly without it anyway...

[2017-11-10 15:10] swalkinshaw commented on #1083
I guess any examples of using them independently could just be accomplished by putting code before or after you call `schema.execute`. But people may still reach for instrumentation anyway.

My initial thought is the exception should be raised right away and the query shouldn't execute.

@rmosolgo it's kind of interesting you refer to `after_query` as "teardown". It's a semantic thing, but should

[2017-11-10 19:42] exAspArk commented on #1083
👍 please don't swallow exceptions :)

By the way, is it possible to introspect queries similarly to fields (or middlewares)? So, developers could define whether it's important for them to "teardown" after getting an exception or not? For example:

[code]

[2017-11-10 20:46] rmosolgo commented on #1083
It gets complicated when we run multiple queries together: http://graphql-ruby.org/queries/multiplex.html

Should an error in _one_ query cause the others to crash? Probably not, but maybe we can keep from running that _one_ query.

But multiplexing is why `begin ... end` doesn't quite work 😖

[2017-11-10 21:48] geneeblack commented on #945
@AndyKriger FYI, I've run with you idea and have pretty much wrapped up some functionality. I'll be structuring the code a bit more and gemifying it in the future. I'll be sure to give you credit for initiating the idea. I've done some rudimentary testing with the following code under Rails 3.2 and 5.0. I've no reason to think that it wouldn't work under 4.0 as well but will test more as I move fo

[2017-11-11 06:12] lightwave commented on #929
I want to add that as soon as I define an interface (in the same file), I'd get a LoadError.

[code]

[code]

[2017-11-11 14:32] dkniffin commented on #1048
This was also very confusing for me, learning this library for the first time. Everywhere else in almost all programming languages I've seen, a bang before a statement negates it. At the very least, it should be documented very clearly towards the beginning of documentation and guides.

[2017-11-12 02:02] rmosolgo commented on #651
I forked the reproduction repo above and migrated it to the new class-based API and it still hangs

https://github.com/rmosolgo/reproduce_graphql_hang/tree/704933267efad6b4ba5e23b31ce6ad820e4e4f53

But I really want to fix this, so ... not giving up yet :S :S :S

[2017-11-12 13:04] dkniffin commented on #945
@geneeblack @AndyKriger I'd also be interested in helping build and contribute to this gem. I've just copied this code into my own project, and got it working. I had to make some tweaks because my project is running mongodb/mongoid, such as changing `columns_hash` to `fields`, but overall it was surprisingly easy to plug in.

It's a shame [graphql-rails](https://github.com/jamesreggio/graphql-rail

[2017-11-13 13:29] geneeblack commented on #945
@dkniffin I've published a gem [https://rubygems.org/gems/graphql_model_mapper/versions/0.0.4](url) This is my first attempt at publishing a gem, so any feedback/guidance will be appreciated. The repo is at [https://github.com/geneeblack/graphql_model_mapper](url)

[2017-11-13 14:02] dkniffin commented on #945
@geneeblack I'll take a look. Just so you know, your links aren't working right. If I copy/paste the url into the browser, it works great, but clicking the link sends me to https://github.com/rmosolgo/graphql-ruby/issues/url

[2017-11-13 14:14] geneeblack commented on #945
@dkniffin Thanks, I changed the links to straight addresses rather than using the github link markup. they should be working now.

[2017-11-13 14:20] 13445 opened #1086 "Autor"

[2017-11-13 14:22] #1086 closed

[2017-11-13 14:33] 13445 commented on #1086
yo creo que si, porque

2017-11-13 9:22 GMT-05:00 Willian van der Velde <notifications@github.com>:

[2017-11-13 23:42] AndyKriger commented on #945
i'm interested in helping out with this - i have a done a lot of cleanup and improvement to my initial GraphQLType code and i got approval to put this code out into the world

[2017-11-14 00:52] geneeblack commented on #945
@AndyKriger very cool, your help is greatly appreciated, especially since you fostered the original idea, I apologize for the state of the code in advance since ruby/rails is not my native coding language. I'm sure your improvements will bring some needed order to the project.

[2017-11-14 04:59] astorije commented on #1082
Is this a duplicate of https://github.com/rmosolgo/graphql-ruby/issues/1043?

[2017-11-14 08:53] joshleichtung opened #1088 "API Documentation link in readme goes to the wrong url."
The link to the api documentation in the readme directs to http://www.rubydoc.info/github/rmosolgo/graphql-ruby, which is not correct. It seems like it should go to http://www.rubydoc.info/gems/graphql instead.

Submitting PR fix.

[2017-11-14 14:13] #1088 closed

[2017-11-14 14:34] AndyKriger commented on #945
i'm taking the discussion over to the graphql_model_mapper project where i posted the most recent iteration of that module

[2017-11-14 15:31] rmosolgo commented on #1082
Definitely similar, but a slightly different problem.

In both cases, the issue is that `Schema.from_definition` can't be used with the gem's Relay support. This issue is asking how to use `Node`, but the other issue is about `Connection.nodes`.

[2017-11-14 15:33] rmosolgo commented on #1045
It sounds like the issue is regarding GraphiQL, so we can continue the conversation at #1051!

[2017-11-14 15:33] #1045 closed

[2017-11-14 16:06] rmosolgo commented on #820
"Closed" (ok, just barely _started_) by #1037

[2017-11-14 16:06] #820 closed

[2017-11-14 16:20] rmosolgo commented on #979
This was addressed in #1037 :

https://github.com/rmosolgo/graphql-ruby/pull/1037/files#diff-2b899a3d0d7c3327183e41ec5882408fR15

So it will be fixed in 1.8.0 (currently available as a prerelease)!

[2017-11-14 16:20] #979 closed

[2017-11-14 20:10] dylanahsmith commented on #1083
I don't see why the semantics shouldn't just be

[code]

as in the after_(query|multiplex) for an instrumenter should be called if its before_(query|multiplex) completes, regardless of any exceptions in other instrumenters or queries.  That would preserve the intended teardown behaviour.  Otherwise, another type of hook is needed for teardown (e.g. around_(query|multiplex)) to support this common

[2017-11-14 23:26] kormie opened #1091 "Circular Dependency when creating union type"
graphql-ruby version: `1.5.10` (also reproduced on `1.7.6`)

Code:
[code]
The inlining of the `ObjectType` was done simply to eliminate one level of possible confusion. I have also tried inlining the entire `Error` `UnionType` into the `return_field` call inside the mutation. This results in the same Circular dependency issue.

With that setup I'm getting the following error:
[code]
with a stack t

[2017-11-15 01:32] rmosolgo commented on #1091
Thanks for opening an issue on this one! I'd like to track it down and fix it.

I've tried to reproduce the issue here:

https://github.com/rmosolgo/graphql-cyclical-dep-repo

And you can see my setup here:

https://github.com/rmosolgo/graphql-cyclical-dep-repo/commit/c3ce36618e5479a5f77b51554d51227aba9ec92d

But for me, the tests pass ok.

Can you see any important details that might be missing f

[2017-11-15 08:22] KevinColemanInc opened #1093 "Guide: Error Handling"
# error-handling-with-wrappers

defines a class `RescueFrom` and then below, a class `Rescuable.new` is used.

Are these two supposed to be the same class? If not, can the documentation explain how these two classes are related?

[2017-11-15 08:32] KevinColemanInc opened #1094 "Support machine readable error handling"
The current recommended [error handling story](http://graphql-ruby.org/queries/error_handling.html) needs improvement.

Consider the following:

POST /graphql
[code]

updateProfile mutation
[code]
results in an error message that looks like:
[code]

Clients are not able to see programmatically see exactly which fields are failing, so the best they can do is render a toast with the human readable s

[2017-11-15 08:43] KevinColemanInc opened #1095 "Standardize rails error handling"
Handling errors that happen outside of `AppSchema` is challenging, because the error handling logic is so dependent on the `query`

To clients, no matter where the error happens, they should receive a standard JSON response describing the error.

Problem:
With `GraphQL-ruby`, errors that happen within are relayed in a different format than errors that occur outside of the stack.  This makes client

[2017-11-15 11:56] ecomuere opened #1096 "Guide: Apollo Subscriptions"
Can you provide an example of how it works with the new version, Apollo 2.

[2017-11-15 14:50] rmosolgo commented on #1096
I'll figure it out soon and post an update here!

[2017-11-15 15:37] rmosolgo opened #1097 "Add a warning that the new name override method is graphql_name"
To override the name of a class-based type, the method is `graphql_name`, not `name`.

We can override the `name` method to provide a helpful error

[2017-11-15 18:54] kormie commented on #1091
@rmosolgo That looks almost identical to my setup, though I'm wondering if that `resolve_type` proc is what's causing some issues. I set up breakpoints inside `active_support/dependencies.rb` and when stepping through I saw this error for the first time:

schema contains Interfaces or Unions, so you must define a
[code]

[2017-11-15 18:57] kormie commented on #1091
That was the issue. So tl;dr, I guess lack of `resolve_type` can cause circular dependencies which obfuscate the underlying issue.

[2017-11-16 07:44] cpunion opened #1099 "`rails destroy graphql:mutation` removes mutations folder and mutation_type.rb"
Steps:

[code]

Expects: Don't remove mutations folder and mutation_type.rb (At least keep it if I have some mutation types)

[2017-11-16 08:32] Willianvdv commented on #1099
@cpunion interesting! I never heard about the `rails destroy` (http://guides.rubyonrails.org/command_line.html#rails-destroy) command before.

Do you think you can send in a PR to get this fixed?

[2017-11-16 08:34] cpunion commented on #1099
@Willianvdv Yay, I will try.

[2017-11-16 14:06] thefliik commented on #1099
Uggg. I had to update the generator of another gem I use to properly accommodate `rails destroy`. I found the documentation surrounding `rails destroy` / generators in general to be rather poor and the whole process took me much longer than it should have. Let me know, @cpunion, if you run into issues figuring it out. I _may_ be able to help.

[2017-11-16 14:23] cpunion commented on #1099
@thefliik Awesome. I feel I can't figure out how to make the generators full reversible quickly. So I'm very happy if you can fix it or help. 😃

[2017-11-16 15:56] thefliik commented on #1099
I'll try to look into it this weekend. Anyone know if there's a way for me to mark this issue as "unread" / make it show up in Github's notifications panel so that I don't forget about it?

[2017-11-16 16:23] Willianvdv commented on #1099
@thefliik no, but I can ping you ;)

[2017-11-16 16:29] rmosolgo commented on #1083
That semantic seems good to me, any objections? Otherwise I'll implement it!

[2017-11-16 16:32] swalkinshaw commented on #1083
I think that's the most logical behaviour 👍

The goal is still to isolate that within a multiple query I assume?

[2017-11-16 16:42] rmosolgo commented on #903
I think this is covered by `GraphQL::Schema::InputObject` in `1.8`:

https://github.com/rmosolgo/graphql-ruby/blob/38871decd8790fa14f0760799489354926c6f405/guides/schema/class_based_api.md#input-object-classes

If you see a missing use case, please reopen this issue or leave a comment!

[2017-11-16 16:42] #903 closed

[2017-11-16 16:43] rmosolgo commented on #858
1.8 will drop support for Ruby 2.1, then we can take a look at redoing the internals here.

[2017-11-16 20:03] rmosolgo commented on #1083
Took a crack at it in #1100

[2017-11-16 21:01] #1016 closed

[2017-11-17 16:09] esjee commented on #1097
Let me take a stab at this!

[2017-11-17 16:55] #1083 closed

[2017-11-17 20:24] rmosolgo opened #1106 "Implement Query#sanitized_query_string"
We want to improve logging, but don't leak private info into the logs. So, let's take a [page out of Shopify's book](https://graphql.slack.com/archives/C07MVL1AB/p1510945531000387) (again 😊 ) and add a custom printer API.

Let's add a couple of steps:

- Implement `class GraphQL::Language::Printer` which has `print_*` methods corresponding to each node type; this is the base class for custom print

[2017-11-17 20:48] xuorig commented on #1106
Working on implementing a prototype of this, will take the opportunity to refactor `GraphQL::Schema::Printer` and `Language::Generation` which implement the same logic twice in a number of places 👍

[2017-11-17 20:53] swalkinshaw commented on #1106
When I was working on our query filterer, I did wonder about moving all the string generation into each nodes class. Is it still a goal to keep these separated?

Right now only `AbstractNode` has `to_query_string`, but every node type could too?

[2017-11-17 20:54] theorygeek commented on #1106
Just for posterity, thought I'd add this code that @rmosolgo referenced, because the GraphQL Slack only lets you see the last 10k messages:

[code]

[2017-11-17 20:56] xuorig commented on #1106
Most nodes inherit from `AbstractNode` were the `NameOnlyNodes` the annoying part?

[2017-11-17 21:02] swalkinshaw commented on #1106
I described that terribly. I meant what about moving the string output into `to_query_string` for each node class instead of separated in the printer.

It would have made my filter simpler, but the new API might also accomplish that while also keeping the concerns separated.

[2017-11-17 21:04] joshforbes opened #1107 "Not handling an ExecutionError when returned from prepare on an InputObjectType"
When I return a GraphQL::ExecutionError from prepare on an argument for an InputObjectType I am getting some strange behavior.

![image](https://user-images.githubusercontent.com/3682518/32968851-c2b02368-cbb0-11e7-8798-fe3b96ceaec9.png)

Instead of returning to the client that the field is invalid it is passing the exception along to the resolver as the value of the argument.

If I raise the Exec

[2017-11-17 21:06] xuorig commented on #1106
Ah interesting!

I think the problem there is that if you wanted your custom query string produced, you'd have to inherit from the nodes themselves or have some kind of hook in there.

I can see that being tricky since the parser wouldn't generate your "custom" nodes. WDYT?

[2017-11-17 21:12] swalkinshaw commented on #1106
👌 correct that's not good. I was remembering my issues from before. In the current situation it would have been a little more direct to monkey patch a node's `to_query_string` instead of re-doing that `generate` method. But with a better printer API then that's not needed.

[2017-11-17 21:30] rmosolgo opened #1108 "Support composite primary_key in graphql-pro cursors"
Sometimes primary_key returns an array; this isn't supported yet!

[2017-11-17 21:39] rmosolgo commented on #1107
😖  Like you mentioned on slack, I wonder if it's because it's on an input object instead of a field!

[2017-11-18 02:17] geneeblack opened #1109 "when setting max_page_size on a connection pageInfo hasNextPage, hasPriorPage is wrong if no first: or last: are specified"
If I have a max_page_size:10 (and a default_max_page_size:5) set on a connection and do not pass a first: or last: parameter to the connection the pageInfo incorrectly reports that hasNextPage:false hasPriorPage:false.

**Example issue**
I set the max_page_size: 10 on a connection with a schema max_default_page_size: 5, there are a total of 39 items available on the connection. Without specifying

[2017-11-20 02:06] clader opened #1113 "Global (or inherited) query arguments?"
(Apologies if this is a dup; I searched other issues and found a few close to this but not exactly)

I’m writing a graphql-ruby frontend to openldap. As we have multiple different ldap environments, I’ve created an argument field for all object/connections queries where you can choose which LDAP environment you want to run that query against.

A single ldap objects (user or group) has various conn

[2017-11-20 06:43] Rodeoclash opened #1115 "GraphQL::Execution::Execute::Skip passed to pundit policy"
Consider a type defined with a graphql-pro `authorize` field:

[code]

When a Relay subscription is opened (using a copy paste of the code in http://www.rubydoc.info/gems/graphql/1.7.6/GraphQL/Subscriptions/ActionCableSubscriptions to define the channel, along with the JS implementation).

And a subscription field that returns the authorised type:

[code]

The pundit policy function seems to get p

[2017-11-20 14:57] phaedryx commented on #1108
Specifically, it would be great if it worked with this gem: https://github.com/composite-primary-keys/composite_primary_keys

[2017-11-20 22:17] rmosolgo commented on #1115
Derp! Thanks for opening this issue, I agree it's incorrect behavior. I'll take a look soon and release a fix!

[2017-11-20 22:24] Rodeoclash commented on #1115
No problem, we've worked around it. Let me know if I can provide anything else to help debug.

[2017-11-20 22:28] rmosolgo commented on #1109
Hi, thanks for opening such a detailed issue! Sorry I haven't taken a close look yet, but I will soon, and I'll follow up here :)

[2017-11-20 22:34] staugaard commented on #1096
here is an implementation: #1120

[2017-11-20 22:34] staugaard commented on #1068
here is an implementation: #1120

[2017-11-20 22:42] thefliik commented on #1099
I think I fixed this issue in PR #1119. I also left some comments about how rails' generators work / how `rails destroy` is built.

[2017-11-21 03:35] rmosolgo commented on #1113
Hi, thanks for the details about this issue! I think I understand what you're saying: you want to take some "environment" options at the top level query, then access those at later levels.

I can think of a few options with different tradeoffs:

- Write the "global" value to `ctx`. You can assign a value from the arguments like `ctx[:setting] = args[:setting]`, then call `ctx[:setting]` to read th

[2017-11-21 08:12] clader commented on #1113
Thanks so much for the suggestions.  I think number 1 sounds the best to me and is most like what I was hoping to find.

Big gotcha though: I just implemented graphql-batch for query reduction for this graphql LDAP front-end (which, btw works AMAZEBALLS in front of LDAP directory data and reduces multi-level association queries by several orders of magnitude).

I think I can put some logic in my r

[2017-11-21 14:29] eapache opened #1121 "Per-query backtrace wrapping doesn't work"
From http://graphql-ruby.org/queries/backtrace_annotations.html.

Adding the backtrace module with `use GraphQL::Backtrace` at the schema level works correctly. Adding it by passing `backtrace: true` in the query's context does not.

The reason is that the backtrace module gets added as a tracer to the query object itself https://github.com/rmosolgo/graphql-ruby/blob/21fb53ced3ada7e088c22f7442bcfc

[2017-11-21 14:32] eapache commented on #1121
I suppose this is a broader design question; if only certain queries in a multiplex set use backtracing, we can't install a single global rescue can we?

[2017-11-22 13:48] xuorig opened #1123 "`BuildFromDefinition` Issue with overriding scalars."
Currently it's in theory possible to override scalars and directives when providing an IDL to `BuildFromDefinition`

However, when it comes to scalars, there's weird behaviour happening when only overriding scalars and not directives.

If I provide this IDL:

[code]

We'll see this error happen:

`RuntimeError: Duplicate type definition found for name 'String'`

This is because our schema uses the

[2017-11-22 16:35] swalkinshaw opened #1124 "Class-based API: field name casing"
The class-based API provides a bunch of automatic `underscore` transformations, but field names are still passed through directly preserving original case.

There's a lot of subjective arguments on both sides. Should the gem even provide a solution to this?

Simplest solution could be a few pre-defined options on the schema:

* preserve/nothing
* camelcase
* underscore

Or if there's a need it cou

[2017-11-22 16:35] swalkinshaw commented on #1124
cc @eapache

[2017-11-22 16:56] eapache commented on #1124
For a bit of context, this came up because internally we still define `field :foo_bar` which defaults to calling `def foo_bar`, but gets exposed in the actual API as `fooBar`. AFAICT this is slightly different from the behaviour the gem currently provides.

[2017-11-22 20:00] #1108 closed

[2017-11-22 20:01] rmosolgo commented on #1108
This should be properly supported in version 1.6.1, please follow up here if you have any trouble with it!

[2017-11-22 20:02] rmosolgo commented on #1124
:+1: I _want_ the behavior that @eapache described above, but I don't think I've done it properly yet. Feel free to take a crack at it if you get a chance!