[2019-06-14 19:29] rmosolgo commented on #1802
I'm ... not sure 😬  What does it look like is required?

[2019-06-14 19:32] jturkel commented on #2333
Would it make sense to drive this off metadata on the argument i.e. somehow tag certain arguments as being sensitive so they're excluded from the query logs?

[2019-06-14 19:37] daemonsy commented on #2333
A draft PR with the most naive code to do this.
https://github.com/rmosolgo/graphql-ruby/pull/2334

[2019-06-14 19:38] daemonsy commented on #2333
@jturkel do you mean matching? For example the `filter_list`

[code]

[2019-06-14 19:42] eapache commented on #1802
Either https://github.com/rmosolgo/graphql-ruby/issues/1802#issuecomment-415491269, or find a way to make the arguments of the field available to the `resolve_type` method on interfaces or unions.

[2019-06-14 19:46] jturkel commented on #2333
I was imagining something like this:

[code]
One of the great things about GraphQL is the type system so it would be awesome if it could be leveraged for stuff like this :)

We could always create a generic sanitization framework with hooks to check if a given argument value should be redacted or not. That could easily support multiple strategies but it might be overkill.

[2019-06-14 19:58] daemonsy commented on #2333
I like this idea, it makes a lot of sense! I had a similar idea originally before writing the code.

I was hoping though to make the filtering simple by not depending on the Schema, hence the initial prototype did it at the with a generic query.

Let me research what it would take to bring in the schema.

[2019-06-14 20:22] daemonsy commented on #2333
I guess as the you're walking down the `print_field` level, you can use that to check against the `sensitive` flag, like the [gist](https://gist.github.com/rmosolgo/3452d2bf98837381df25949498e78e79#file-query_printer-rb-L85) @rmosolgo provided.

This is a bigger feature though, if we went down this approach, ideally it should be part of the `GraphQL::Schema::Argument` class.

[2019-06-17 08:11] somenugget commented on #2326
I had the same issue with `GraphQL::Types::ISO8601DateTime` type.

Later it appeared that `coerce_input` was not called for any `GraphQL::Schema::Scalar`'s child class.

[2019-06-17 13:46] v-kolesnikov opened #2336 "Dependent connection types"
How to specify "connection" type in that case?

[code]

It will raise an error, because of circular dependency.

If I use type names (as mentioned here #1929), it will break "connection" feature.

[code]

So, how I can have two related connection types that includes each other?

[2019-06-17 14:53] etherbob commented on #2232
BTW, docs still strongly suggest that extras[:parent] is available. I'd submit a pull request, but I'm still lost on how this all works myself.

[2019-06-17 15:00] etherbob commented on #2232
And it is still there if I set everything up right sheesh... my bad.

[2019-06-17 16:09] rmosolgo commented on #2184
Hey @wakeless , thanks for your patience here and sorry for the slow help 😩 .

I took a look to find a better performing work-around, at least to get started. How about trying this instead of `GraphQL::Relay::RangeAdd`?

[code]

The downside here is that it will run _one more_ SQL query: it will refetch the node with `SELECT ... as cursor_0, ... WHERE id={new-id}` (with the new `SELECT` clauses ad

[2019-06-17 19:54] rmosolgo commented on #2284
Hey, sorry for the late response here. I was away for a new baby and the catch-up is ... ongoing 😅 .

It seems like your workaround of checking for `nil` and adding the `IS NULL` syntax is a pretty good solution. Is there any reason I shouldn't patch graphql-pro the same way?

[2019-06-18 11:39] reppie commented on #2284
Hey, no worries about the delay :)

Yeah it was a solid workaround, just that we weren't a fan of the fact that `OR #{column_id} IS NULL` was added to all the conditions in the query. We couldn't really think of a neater fix though, so patching it the same way would work too yeah.

[2019-06-18 12:09] ExplosiveGM opened #2337 "Customize validation for fields"
I want to customize all my mutations. So, my mutation must return
[code]
I have type User:
[code]

I try generate mutation this way:
[code]

The main idea to **put dynamic type** to field **data**.
[code]
Shortly, mutation have 2 fields: data, errors. So it dont see fields firstName and lastName and raise validation error.
What i must watch? InterfaceType, override get_field on type?

[2019-06-18 13:35] #2217 closed

[2019-06-18 17:49] daemonsy commented on #2333
After toying with it a little more, @jturkel, it feels much more involved to do it at the field definition level, where now the schema is involved. For that, I'd like to submit a RFC for that with more thought around data filtering.

I'm inclined to just do a simple printer for now that redacts all scalars, hence it solves the simpler use case of stringifying a valid graphql query without values f

[2019-06-18 20:51] rmosolgo commented on #2336
How about making a manual connection type, for exapmle

[code]

Then

[code]

Does that still raise an error? If so could you please share the full message and backtrace?

[2019-06-18 21:11] bejczib commented on #2337
Hi,

I'm not an expert on the subject, but I want to help you.

`data` and `errors` are not fields on your mutation, they are root keys of your servers response.

Since you said that your return type is `Types::User`, you could have a `user` field for example.

Your mutation:

[code]

And the response:

[code]

Although you can have fields named `data` and `errors` but they would be nested like:

[2019-06-18 21:18] v-kolesnikov commented on #2336
`GraphQL::Types::Relay::BaseConnection.node_type` does not accept any argument.

I think you mean it: https://graphql-ruby.org/relay/connections.html#connection-types. No so elegant, but at least it works.

[2019-06-18 21:18] v-kolesnikov commented on #2336
@rmosolgo Thank you for help!

[2019-06-18 21:18] #2336 closed

[2019-06-19 01:37] cabello opened #2338 "Should startCursor and endCursor be ID instead of String?"
Hi 👋

I am wondering if `startCursor` and `endCursor` should be type of ID instead of String, from Relay docs and other cursor based pagination suggestions I see that value as being opaque and not human readable.

https://github.com/rmosolgo/graphql-ruby/blob/73ac09cb95a0b03b3f00c09921b65534f66d0ae6/lib/graphql/types/relay/page_info.rb#L15-L19

The description for String is:

While the description

[2019-06-19 03:20] ExplosiveGM commented on #2337
Thank you for your answer, it was very helpful

[2019-06-19 03:20] #2337 closed

[2019-06-19 13:43] rmosolgo commented on #2338
Hi, good question. The Relay specification gives some flexibility:

(https://facebook.github.io/relay/graphql/connections.htm#sec-Cursor)

So, I think `String` is definitely appropriate, but `ID` would also be appropriate.

If you want to customize it, you can override the `page_info` field in your own Connection base class. Here's the default implementation:

https://github.com/rmosolgo/graphql-r

[2019-06-19 13:43] #2338 closed

[2019-06-19 13:45] rmosolgo commented on #2326
Thanks for the detailed report! I agree it should work like you described.

[2019-06-19 13:47] rmosolgo commented on #2332
Thanks for reporting this! Do you want to take a try at the improvement? I think the test coverage for connections is pretty good, so if you change the implementation and the tests all pass, I think that'd be good enough for me.

[2019-06-19 20:26] cabello commented on #1639
I am looking into this issue myself, looking at the codebase I see that extras is also available inside the resolver definition:

[code]

I am just curious on how the implementation works because I would like to support something similar as the regular field definition with optional `method: :foo`.

[2019-06-19 20:47] bejczib commented on #2276
Hi,

The `default_value` has to match the `value` in your enum.

`value: { accepted_at: :asc }`   -->   `default_value: { accepted_at: :asc }`

Best,
Balint

[2019-06-19 21:27] cabello opened #2340 "Custom resolver with access to field params"
Hi again 😄

I am trying to write a reusable sensitive value field as a proof of concept, after reading https://graphql-ruby.org/fields/resolvers.html I decided to implement a custom resolver. This is what I've got so far, the type:

[code]

The resolver:

[code]

And this is the field in use:

[code]

It's is _almost_ reusable, the current challenge is being able to customize the `account_number`

[2019-06-20 01:38] aourika commented on #1915
hello can you please explain why  !types.String no more work , when i made this commande "rails g graphql:object user title:string etc" it generate file with Types::StringType instead of  !types.String
thank you :)

[2019-06-20 13:37] jturkel commented on #2333
Makes sense. I didn't realize that the `GraphQL::Language::Printer` didn't have access to the schema which makes my suggestion much more involved.

[2019-06-20 18:53] diogobeda commented on #2311
I'm also starting to take a look at this in my own fork. Will use this issue to post future questions and progress 👋

[2019-06-20 19:07] rmosolgo commented on #2340
Hi, Good question. I'm not sure about using keywords of the `field(...)` method to customize Resolvers, but you could use Ruby inheritance to customize them. For example, you could have a class-level instance variable to accept configuration, then reach for that value in the `#resolve` method.

Here's an example based on what you posted above:

[code]

Then, you could use it in field definitions:

[2019-06-20 19:07] #2340 closed

[2019-06-21 01:12] github0013 commented on #2326
I think this issue relates to this issue https://github.com/rmosolgo/graphql-ruby/issues/1242 also.

**To Reproduce**

[code]

[code]

[code]

[2019-06-21 21:51] rylanc commented on #2311
I just published the first version of a Ruby implementation of Apollo Federation: https://github.com/Gusto/apollo-federation-ruby. It works alongside `graphql-ruby`. Please try it out and let me know what you think!

[2019-06-21 22:53] audiolion commented on #2311
@rylanc that is awesome! Going to try this out next week

[2019-06-22 02:00] zzak commented on #1167
Glad to see this land, nice work! :tada:

[2019-06-22 22:03] smk1992 commented on #2277
[Authorization Guide](https://graphql-ruby.org/authorization/authorization.html#adding-authorization-checks) ?

[2019-06-23 03:13] webdobe opened #2346 "ActiveRecord select as (alias) freaks out"
I have a model with a scope method like this:
[code]

[code]

I get errors like:
[code]
Which have nothing to do with my query...

I am unable to figure out how to query "age" with graphql.

[2019-06-24 09:07] sam-enough commented on #2311
@rylanc Also going to give this a try this week, first glance it looks like a great start.

[2019-06-24 17:16] mpoisot commented on #2277
Honestly I can't remember what I was looking at when I asked this. https://graphql-ruby.org/authorization/authorization.html seems to cover what I want.

[2019-06-24 17:16] #2277 closed

[2019-06-24 18:52] webdobe commented on #2346
I figured it out.  I have a method on the model that is age as well...  So it must have clashed with that.  I changed to as ages and it gives me that back.

[2019-06-24 18:52] #2346 closed

[2019-06-25 02:49] raysuelzer commented on #861
While this is faster, it unfortunately seems like the bottle neck is probably Ruby itself.  I'm not well versed in Ruby, I come from a different background, but 5 seconds for 1000 objects is painfully slow.  Is it fair to assume that there isn't going to be any realistic chance of squeezing more performance out of this library?

[2019-06-25 08:32] michal-samluk opened #2347 "[pro] pundit authorization currently enforces to use `current_user` key"
1. Currently pundit enforces context to have `current_user` key. So in case of having key: `visitor` it is not configurable (unless overriding `pundit_policy` and `scope_by_pundit_policy`)
2. Pundit will not work with `current_user` methods. Only as a hash.
[code]

I think the simplest solution would be to extract `current_user = context[:current_user]` line (from methods `#pundit_policy` and `#sc

[2019-06-25 13:07] #2330 closed

[2019-06-25 13:11] daemonsy commented on #2120
Hi @michiomochi I'm closing this because it's been a while. If you're still having any issues, feel free to reopen it :)

[2019-06-25 13:11] #2120 closed

[2019-06-25 13:14] ChrisLusted opened #2348 "snake case arguments coming through as nil or set defaults"
**Versions**
Graphql 1.9.6 (latest)
Ruby 2.5.0p0
Rails 5.2.1

**Issue**
i’m having an issue with using snake cased arguments, similar to this issue - https://github.com/rmosolgo/graphql-ruby/issues/2315 although I am using a method and not the older style resolve proc. It doesn’t seem to pull through snake cased arguments properly, unless i’m doing something wrong. I can access arguments like `pag

[2019-06-25 13:26] daemonsy commented on #1149
Possibly will be resolved by https://github.com/rmosolgo/graphql-ruby/pull/2344

[2019-06-25 13:32] daemonsy commented on #1578
Hi, I'm helping to close old issues. I can't find any link that leads to `types/introduction`, guessing it's resolved. Feel free to reopen otherwise :)

`html-proofer` looks like something I need on internal doc sites :smile:

[2019-06-25 13:32] #1578 closed

[2019-06-25 13:32] rmosolgo commented on #2348
Hi! Sorry about the hangup. I tried to replicate the issue but couldn't. Here's the script I wrote:

[code]

And when I ran it, I got the _expected_ variable values in arguments:

[code]

If you run that script locally, do you get the same result? I mean, does the script I posted work for you?

Here's some other information that might help debug:

- How are you executing this code? Is it in a cont

[2019-06-25 13:36] rmosolgo commented on #2347
👌 Thanks for the suggestion! I'll add something like that to a new release of GraphQL-Pro and follow up here.

[2019-06-25 13:43] daemonsy commented on #1772
I made a PR for another issue that parses `# comment` as an empty document (should raise error)
https://github.com/rmosolgo/graphql-ruby/pull/2344

Long story short, I got racc/ragel/colm setup, would like to give this a shot.

[2019-06-25 14:29] rmosolgo commented on #861
That's not how I interpret the benchmark I posted above. Here's the line I interpret:

[code]

15 iterations in 5.09 seconds would 1000 objects in 333ms (not 5s).  Does that interpretation seem right to you?

I think that's right. I don't feel too bad about it: although 333ms for 1000 Ruby objects _seems_ slow, it might not be so bad when compared to the real alternative, several calls to REST API

[2019-06-25 16:47] ChrisLusted commented on #2348
Thanks for the quick reply @rmosolgo. Your example does work for me and i've created a new dummy app to test it out quickly and it seems to work there also.

Happy to close this as it's not a libray issue, it's something in this app that is stopping it working.

Thanks for the help.

[2019-06-25 16:47] #2348 closed

[2019-06-25 18:24] raysuelzer commented on #861
Thank you for the response, I appreciate it.  I was not reading the results correctly.

I haven't really dug into the source code here to do any real benchmarking, but in our application it is taking 9-10 seconds to return about 1000 objects with only a few scalar fields selected.  We made major performance gains by eliminating all the N+1 queries, but it seems like 99% the time is currently spent

[2019-06-25 19:03] rmosolgo commented on #861
I haven't looked into optimizations like that because it's not a bottleneck for my application. (For us, it's application logic and IO.) How about trying some Ruby profilers to make sure we're hunting the right target? Here are two I'm familiar with:

- https://github.com/SamSaffron/memory_profiler/
- https://github.com/ruby-prof/ruby-prof

The output of those profilers can be a bit ... dense ...

[2019-06-26 00:44] wahba-stripe opened #2351 "Advice: What would be the cleanest way to create a custom object type?"
Hey @rmosolgo!
Thanks for all the work on graphql-ruby!

Right now trying to build a sorbet `T::Struct` aware `GraphQL::Schema::Object` https://sorbet.org/docs/tstruct to reduce duplicated code and add a layer of type safety. Unfortunately both `T::Struct` and `GraphQL::Schema::Object` require inheriting to use and ruby has no multiple inheritance.

I think there are two basic approaches that are

[2019-06-26 00:44] raysuelzer opened #2352 "Performance on large datasets with nested arrays"
Moving the conversation from #861  over here.

I modified the run.rb file slightly to:
- Get rid of some fields on the FOOs to eliminate some noise
- Add an array of `BarTypes` to foos to measure what happens when a dataset contains a nested array. I used an array of class objects instead of just an array of hashes, as this is closer to how the gem is used in a real world scenario.
- Used the Call

[2019-06-26 16:36] modosc commented on #1877
i got excited about #2349 but it (unfortunately) doesn't solve this issue for us :/

[2019-06-26 19:51] rmosolgo commented on #2284
I took a look at this, but I'm not sure I really _can_ support `NULL`s with stable cursors. The thing is, when I'm in "deep" into `NULL` territory, I can't figure out how to work my way out. What I mean is, imagine a relation like this, sorted by `name asc, id asc`:

name | id
---|---
Alpha Romeo | 3
Bugatti | 1
Chevrolet  | 4
NULL | 2
NULL | 5
NULL | 6

Let's say you've worked part way in and you

[2019-06-26 20:46] ngouy commented on #1770
so is it a normal behaviour or should we change this ?

[2019-06-26 21:39] rmosolgo commented on #2351
Hey, sounds like a cool project!

Unfortunately, as you noticed, GraphQL-Ruby has a pretty hard dependence on using its own classes for schema definition & query execution.

What if, instead of trying to merge the classes together, you made a _generator_ that could take one kind of class (say, a `T::Struct`) and generate the _corresponding_ class (say, a `GraphQL::Schema::Object`)? Maybe the two c

[2019-06-26 22:05] Loschcode opened #2354 "Uninitialized constant GraphQL::Types::JSON"
I tried to add it to one of my fields like so

[code]

And it breaks as `Types::JSON` does not seem to be defined. However your documentation says it's a built-in scalar so I don't really understand.

https://github.com/rmosolgo/graphql-ruby/blob/master/guides/type_definitions/scalars.md

**Trace**

[code]

[2019-06-26 22:10] cmatheson commented on #2354
@Loschcode, it's a new[er] addition. Probably you're on an old version of graphql-ruby and just need to update.

[2019-06-26 23:54] wahba-stripe commented on #2351
Sounds workable, will give it a shot, thanks for the advice!

[2019-06-26 23:54] #2351 closed

[2019-06-27 04:49] daemonsy commented on #1772
This was pretty fun, took quite a bit of head banging to spot the subtle issue. @cjoudrey

https://github.com/rmosolgo/graphql-ruby/pull/2344/commits/f2191b33e29272b326ef30183e967b8859873b9b

[2019-06-27 06:58] celsworth opened #2355 "GraphQL::LoadApplicationObjectFailedError not being rescued by nested `loads:` in InputObject"
After https://github.com/rmosolgo/graphql-ruby/pull/2323, my `loads:` in nested InputObjects are working, which is great.

But I see odd behaviour when the object I'm attempting to load does not exist..

When the `loads:` is on an argument directly in a mutation, a top-level `errors` key is returned with sensible looking information (No object found). This is ok :)

But when it is in a nested Inpu

[2019-06-27 13:36] rmosolgo commented on #2354
It was added in 1.9.5: https://github.com/rmosolgo/graphql-ruby/blob/master/CHANGELOG.md#195-22-may-2019

Please check your version and update if necessary. If you're still having trouble, please reopen and share the output of `bundle info graphql`!

[2019-06-27 13:36] #2354 closed

[2019-06-27 13:38] rmosolgo commented on #1772
What a find! 🍻

[2019-06-27 20:35] rmosolgo commented on #2270
Happy to debug further if there's anything else to share! Feel free to reopen if you want to.

[2019-06-27 20:35] #2270 closed

[2019-06-27 21:47] rmosolgo commented on #1877
Hi, sorry for the very slow turn-around on this 😩 . I've just released graphql-pro 1.10.6 which should fix it! Please give it a try and let me know if you have any more trouble with it.

[2019-06-27 21:47] #1877 closed

[2019-06-27 21:48] rmosolgo commented on #2347
I've just released graphql-pro 1.10.6 which supports a `#pundit_user` method on your custom query context class. I chose that approach because otherwise, it might be hard to ensure that `#current_user` was overridden in all the right classes. You can see the doc for it here: https://graphql-ruby.org/authorization/pundit_integration.html#custom-user-lookup

Feel free to give it a try and let me kno

[2019-06-27 21:48] #2347 closed

[2019-06-27 21:50] rmosolgo commented on #1582
Hey, I'm sorry I didn't follow up sooner. I hope you found a solution here! If not, please feel free to reopen this issue with the latest info.

[2019-06-27 21:50] #1582 closed

[2019-06-27 22:33] modosc commented on #1877
fixed, thanks! i didn't realize this was a pro issue, no wonder i couldn't track it down.

[2019-06-28 11:05] bessey opened #2356 "Support required arguments with default values"
The GraphQL spec has [for some time supported required arguments with default values](https://github.com/graphql/graphql-js/pull/1274), however graphql-ruby (1.9) appears not to support this

[code]
results in the schema compilation error:
`Query is invalid: field "account" argument "id" Variable id of type "ID!" is required and will not use the default value. Perhaps you meant to use type "ID".`

[2019-06-28 12:30] Fleick opened #2357 "Generic mutations for Interfaces"
Hey together,
I am currently working on the following Problem:
I have a Person STI with the specific Types Customer, Employee and Lecturer. They mostly have the same fields, but additionally some specific assigns. For the Queries I used an Interface, no Problem so far. But what about the Mutations, is it really necessary to write an own CRUD-Mutations for every Type? Especially as I have the same

[2019-06-28 13:43] rmosolgo commented on #2356
Thanks for opening this conversation and including those links. It looks like I missed that spec update 🙈 I agree it should work the way the spec says!

[2019-06-28 14:10] rmosolgo commented on #2215
BaseField was added by #2216 , but we should still add BaseArgument

[2019-06-28 22:16] davidw commented on #1505
I observed this.

`ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]`, `graphiql-rails (1.7.0)` (pro version)

    module Types
       class AdminOrderType < Types::BaseObject
       ...
         class FooTaskType < Types::BaseObject
           ...
          end

       field :fooTask, type: FooTaskType, null: true, method: :fooTask
       field :barTask, type: FooTaskType, null: true

[2019-06-29 07:28] paulomcnally opened #2358 "Warning on upgrade to v1.9.7"
The message:

[code]

I'm not sure why this message appears.

[2019-06-29 22:44] cassiopagnoncelli opened #2359 "Mutations not being loaded"
Hello community,

I'm reaching to this section as I have been working on several weeks to understand whether this is potentially a bug.

The piece of code below regards to a login mutation. It takes email and password, then ruby-graphql should return a token. The actual values for email and password are passed as variables.

[code]

In production environment GraphQL spills an odd error regarding m

[2019-07-01 18:16] borenho opened #2360 "GraphQL cannot parse some characters"
I am setting up end to end tests, but GraphQL throws a Parse Error when it encounters a dot (.) in any of the attributes, eg on `gmail.com` - `{"errors"=>[{"message"=>"Parse error on \".\" (error) at [5, 21]", "locations"=>[{"line"=>5, "column"=>21}]}]}`.

This is my query string:

[code]
`

[2019-07-02 15:07] daemonsy commented on #2360
Hi @borenho  I believe you using the `register()` with a list of args. The syntax doesn't look correct for the arguments list. Here's an example.

[code]

Notice `me@example.com` is quoted like `"me@example.com"`.

Also a suggestion, using variables make string interpolation much easier.

[code]
Then you can pass in `first_name` in the variables hash.

[2019-07-02 15:14] daemonsy commented on #2359
Hey @cassiopagnoncelli I like to help but need more information about your schema setup. Specifically the call site where you have

[code]

And your equivalent of `Types::MutationType` class.

From the error, it looks like it might be broken right at the Schema def level.

[2019-07-02 15:29] rmosolgo commented on #2360
Yes, @daemonsy is right, either add quotes:

[code]

Or use variables like `$firstName`, etc. Hope that helps!

[2019-07-02 15:29] #2360 closed

[2019-07-02 15:30] rmosolgo commented on #2358
Hi, that's because one way to access input values is by methods, eg `input.method`. But, where an input argument conflicts with an existing method, we don't build a method for accessing the value.

The problem is, there's no way to suppress that warning 🤦‍♂

[2019-07-02 15:34] rmosolgo commented on #2355
Thanks for reporting this! I guess it needs to be fixed to handle that correctly.

If you want to get started, you could add a failing test case alongside the one added previously:

https://github.com/rmosolgo/graphql-ruby/blob/e9c6a480a135d5403b7b5b2b6e57eac3c3e338c7/spec/graphql/schema/input_object_spec.rb#L155-L168

Or, if you could share the full error message and backtrace that you get, that

[2019-07-02 15:41] rmosolgo commented on #2357
Hi, thanks for the great question!

It sounds like you have a "template" mutation with several "concrete" implementations. Mutation classes play nicely with inheritance, so how about making one abstract, parent class, then three (or four?) concrete child classes. You could use class methods for setting up those type-specific arguments.

For example, you might have:

[code]

Then, you could use the

[2019-07-02 15:41] #2357 closed

[2019-07-02 15:44] rmosolgo commented on #2352
Hi, thanks for the thoughtful writeup!

I think you raise an interesting point, something that has come up in my work as well. For example, if we query GitHub like this:

[code]

We know that `owner.login` will _always_ be `dhh`, but we re-evaluate it every time, just like the example you've given above.

So far, I have ignored this optimization because I didn't think (just a hunch) that it would

[2019-07-02 15:49] daemonsy commented on #2291
Hi @goalaleo I'm going to close the issue. If you still need help, please feel free to reopen this.

[2019-07-02 15:49] #2291 closed

[2019-07-02 23:51] borenho commented on #2360
Thanks @daemonsy and @rmosolgo! You both are right. Took me a while to figure that out. I did end up using `MySchema.execute(query_string, variables: variables)` though (for I wanted to write integration tests).

I now have
[code]

and I'm passing the query variables like so
[code]

Resources:
1. https://graphql-ruby.org/testing/integration_tests
2. https://graphql-ruby.org/queries/executing_queri

[2019-07-03 06:36] celsworth commented on #2355
Hi @rmosolgo, thanks for taking a look at this :)

Here's the backtrace;

[code]

[2019-07-03 07:14] celsworth commented on #2355
Hold tight, I think I'm barking up the wrong tree somewhat. Upon trying to put together a minimal reproduction test case, I've discovered that the problem goes away if I remove one of my query analysers. I'll post an update when I've narrowed this down :)

[2019-07-03 07:17] celsworth commented on #2355
Ok, here we go. Narrowed it down to the QueryComplexity analyser. With it in, an error is raised from this minimal case; comment it out and the correct result is returned with no error raised.

[code]

[2019-07-03 12:15] daemonsy commented on #1878
Hi, I'm closing this issue because it looks like a good example has been provided and there's no more activity on it.

If there are any other queries, feel free to reopen it.

[2019-07-03 12:15] #1878 closed

[2019-07-03 12:17] daemonsy commented on #1862
Hi, it looks like there's no more activity on this, I'm closing the issue.

If there are any more queries, feel free to reopen it.

[2019-07-03 12:17] #1862 closed

[2019-07-03 12:19] daemonsy commented on #1836
Hi, I'm closing this issue because it seems like there isn't any more activity.

A big `query_type.rb` file is a problem I have too, but there are some teammates who appreciate everything in one place too.

Anyhow, feel free to reopen this issue or discuss this more in https://graphql.slack.com #ruby.

[2019-07-03 12:19] #1836 closed

[2019-07-03 12:20] daemonsy commented on #1836
Refer to https://github.com/rmosolgo/graphql-ruby/issues/1825

[2019-07-03 12:22] daemonsy commented on #1782
Resolved by https://github.com/rmosolgo/graphql-ruby/pull/2344

[2019-07-03 12:22] #1782 closed

[2019-07-03 12:27] daemonsy commented on #1131
Hi, closing this issue because there hasn't been activity on the question for a while.

Feel free to reopen if there are any further queries.

[2019-07-03 12:27] #1131 closed

[2019-07-03 12:34] daemonsy commented on #1963
Hi, closing this because there hasn't been activity on the question for a while.

Feel free to reopen it if there are any more queries.

[2019-07-03 12:34] #1963 closed

[2019-07-03 12:40] daemonsy commented on #2214
Resolved by https://github.com/rmosolgo/graphql-ruby/pull/2343

[2019-07-03 12:40] #2214 closed

[2019-07-03 12:43] daemonsy commented on #1957
Closing this issue because there hasn't been activity on it for a while.

Feel free to reopen it if you're still having problems.

There was a PR that dealt with stack error on serializing input objects, not sure if they are related.

https://github.com/rmosolgo/graphql-ruby/pull/2343

[2019-07-03 12:43] #1957 closed

[2019-07-03 12:48] daemonsy commented on #1938
Hi, there's an improvement to the documentation. I bumped into the same issue.

https://github.com/rmosolgo/graphql-ruby/pull/2339/files#diff-d63623bd9c5e306e20efcbff6e21713bR42

I think in the type identification, you probably want to use `graphql_name`, that's consistent and also doesn't expose your internal naming structure. I think that is inline with what @freestyl3r said.

Closing this becau

[2019-07-03 12:48] #1938 closed

[2019-07-03 18:45] swalkinshaw commented on #1778
Closing since this was an issue with `batch_loader` which was fixed in https://github.com/exAspArk/batch-loader/pull/32.

[2019-07-03 18:45] #1778 closed

[2019-07-03 20:43] meddMeddinski commented on #2357
Hello @rrmosolgo,
I'm the coworker @fleick mentioned. Thank you very much for your answer, it really helps mitigating redundant arguments. I hope I understand correctly, but am I wrong that I would still need a concrete implementation for every subtype mutation? In that case, it would mean that we would still have to implement UpdateLecturer, UpdateCustomer, UpdateEmployee, CreateLecturer..., and

[2019-07-03 20:56] rmosolgo commented on #2357
Yes, I bet that approach is worth exploring further as well!

Another approach to creating concrete  classes is to make them on the fly. For example, adding a class method to _make subclasses_:

[code]

Then hooking it up as-needed:

[code]

Just another thought!

[2019-07-03 21:17] meddMeddinski commented on #2357
i think that might be exactly what we need, thanks a lot! we will definitely discuss this

[2019-07-04 12:48] tilod opened #2366 "Nesting resolvers of the same type crashes the gem"
- Ruby 2.6.1
- Rails 5.2.3
- graphql-ruby 1.9.7

When using a resolver for the field definition of a type which the resolver returns, the app crashes on any query (including requesting the schema).

The error is `Failed to build return type for Task.tasks from nil: Unexpected type input:  (NilClass)` (full stacktrace included below). The stacktrace shows that the nested resolver is not loaded and

[2019-07-04 14:14] ralph opened #2367 "Pro version/Pundit integration/Mutation: How to get the object, not the mutation?"
Hi,

I bought the pro version and set up pundit integration according to [this guide](https://graphql-ruby.org/authorization/pundit_integration#mutation-level-roles), but I'm having trouble getting mutations to work. Consider this mutation class:

[code]

When I run this mutation, and the ruby process stops at the debugger line, I can inspect the record that is passed to the policy class. And much

[2019-07-05 13:58] RomainEndelin commented on #2318
That's true, field metadata do the same as a schema directive.
The only difference is that a schema directive should transpile into the generated SDL, whereas metadata remain internal to Ruby definition.

Schema directives could be useful for introspection on a client's side.

[2019-07-05 14:10] afuno opened #2368 "Why can't I use one type twice?"
I need to get a list of parent categories. For this, I wrote:

[code]

At this stage, everything works.

I also need to get a list of subcategories for a particular category. For this, I wrote:

[code]

From now on, I get an error:

[code]

If comment out the code for the subcategories, everything works again.

Why is this happening and how to fix it?

[2019-07-05 18:58] cassiopagnoncelli commented on #2359
@daemonsy Thank you so much, here it is the schema definition

[code]

For mutations, we have `mutation_type.rb`:

[code]

Maybe it might be useful adding `base_mutation.rb` itself as that might be part of the problem:

[code]

I have no clue where the issue is. Any idea?

[2019-07-07 22:33] jjb commented on #2322
Thanks! Here's what I came up with: https://github.com/rmosolgo/graphql-ruby/wiki/Writing-tests-for-mutations

[2019-07-08 14:14] #2368 closed

[2019-07-08 14:19] daemonsy commented on #2359
Hey @cassiopagnoncelli the mutation looks very standard to me.

I've bumped into cases where there was syntax error (or missing some required setup field) and it didn't throw a direct error (rather something XYZ constant is not loaded), not sure if it's something like that in your case.

I'm going try to reduce this to see if that's where the problem is. If you're actively on this, I suggest that

[2019-07-08 14:30] daemonsy commented on #2359
I think you probably cannot share your working code in `Mutations::Login` and `Mutations::UserRecoverPassword`.

Maybe instead I'll try to create a basic working setup of mutations on a demo (probably [here](https://github.com/rmosolgo/graphql-ruby-demo)) so you can change Ruby / GraphQL versions to see if that's the cause of your problem.

[2019-07-08 14:42] kspector commented on #2358
@rmosolgo +1 for suppression of this warning - we're seeing a similar warning for aliasing a deprecated input argument to its successor using `as:`

[2019-07-08 23:01] rmosolgo commented on #2367
Hi! Thanks for the detailed writeup and sorry about the confusion.

I think the configuration you want is like this:

[code]

That will load the attendee by ID and use the mutation policy's `def accept?`  to see whether the current user can accept the attendee or not.

BUT, as you noticed, automatic loading by ID requires the ID hooks to be implemented.

If you're using Rails, an easy way to do it

[2019-07-08 23:07] rmosolgo commented on #2366
Hi! Thanks for the detailed bug report. I've hacked around this cyclical load thing a few times also, here are a couple work-arounds:

- Express the type as a _string_ in the resolver, eg `type "[Types::TaskType]"`. GraphQL-Ruby will defer loading that as along as it can, and it might work.
- A real hack: override `def self.field_options`, an internal method which is called later, to defer loading

[2019-07-09 08:08] ralph commented on #2367
Hi @rmosolgo, I did as advised, but for some reason, the `record` inside the policy is always `nil`. Also the Rails logs don't show any SQL code of the Attendee being loaded.

After studying the source, I also tried a different version by specifying a `load_attendee` method, which works if `argument` does not have a `pundit_role` specified, but also does not work once I specify a pundit role for t

[2019-07-09 09:56] dukejones commented on #1345
Convention over configuration, sensible defaults.  That's what has made the Ruby/Rails community so fast for prototyping and generally defaulting to the correct behavior without having to study everything first.

[2019-07-09 11:50] dani-sc opened #2371 "Enum values should not be accepted as IDs"
Hi!

Using the [example types of the documentation](https://graphql-ruby.org/getting_started):
[code]
When using an argument of type ID, a query needs no quotation marks around the ID-value:
[code]
This also holds true when characters are used as the ID:
[code]
However, if the ID starts with a number followed by characters, we get an error:
[code]
We can fix this, if we wrap quotation marks around

[2019-07-09 11:52] tilod commented on #2366
It works. Thanks for the help!

Actually I wouldn't consider the first solution a hack. In Rails you can pass strings for the `class_name` option when defining `has_many` and `belongs_to` relationships. If I remember correctly this is also done to prevent cyclical loading. So this seems to be the go-to solution. 👍 But it would be nice if you could document this in the help section for resolvers.

[2019-07-09 13:14] rmosolgo commented on #2371
Hi! Thanks for the detailed report.

Here's the relevant part of the spec:

(from https://graphql.github.io/graphql-spec/June2018/#sec-ID)

So, I think the case of `abc` as you posted above _should_ be rejected. (It's parsed as an enum value, but ID type requires a string (that is, with quotes) or integer.)

[2019-07-09 13:20] dani-sc commented on #2371
Good point - thanks for the fast response. In our case, we used string IDs which _sometimes_ start with a number, thus we had some brittle tests. That is why I would be in favor, as you have suggested, of this being handled more restrictively :+1:

[2019-07-09 13:36] rmosolgo commented on #2367
🤔 Hmmm, sorry that didn't work! I just spent some time with the GraphQL-Pro test suite to see if I could find a configuration that caused the unit tests to fail, but they seem to work ok. So I must be missing something!

Could you share your versions of GraphQL-Ruby and GraphQL-Pro? If you're not on the latest, you could try updating.

Also, could you share the debug code you're using to determine

[2019-07-09 21:12] #2358 closed

[2019-07-09 21:13] rmosolgo commented on #2358
On master, you can use `method_access: false` to suppress this warning, please give it a try! It'll be part of the next 1.9.x release, too.

[2019-07-09 21:17] rmosolgo opened #2373 "Parser chokes with lots of escaped quotes"
There's an error in the parser when strings have too many quotes. Here's an example:

[code]

We need a test case in the suite for this, then some tinkering in the parser to make sure we return a reasonable error instead of :boom:

[2019-07-10 13:27] rmosolgo commented on #526
Runtime directives are available in 1.9.x: https://graphql-ruby.org/type_definitions/directives.html#custom-directives

[2019-07-10 13:27] #526 closed

[2019-07-10 13:28] rmosolgo commented on #467
I haven't heard more reports of this, so i'm closing as stale.

[2019-07-10 13:28] #467 closed

[2019-07-10 13:29] rmosolgo commented on #861
I don't think there's specific work to be done in this area right now (except for the discussion in #2352) , so I'm closing this.

[2019-07-10 13:29] #861 closed

[2019-07-10 13:30] rmosolgo commented on #874
The "getting started" page has been redone, so I'll close this as no longer relevant. Feel free to open a fresh issue for doc trouble!

[2019-07-10 13:30] #874 closed

[2019-07-10 13:31] rmosolgo commented on #1029
I haven't heard other reports of this, closing as stale.

[2019-07-10 13:31] #1029 closed

[2019-07-10 13:31] rmosolgo commented on #1359
Closed by #2143

[2019-07-10 13:31] #1359 closed

[2019-07-10 13:45] rmosolgo commented on #1149
Fixed by #2344

[2019-07-10 13:45] #1149 closed

[2019-07-10 13:45] rmosolgo commented on #1366
I don't have the bandwidth or need to revisit this, closing. (Feel free to work on it if you need it!)

[2019-07-10 13:45] #1366 closed

[2019-07-10 13:46] rmosolgo commented on #1353
Fixed by #1911

[2019-07-10 13:46] #1353 closed

[2019-07-10 13:47] rmosolgo commented on #1540
Not gonna happen 🤷‍♂ (not enought time, not high enough priority!)

[2019-07-10 13:47] #1540 closed

[2019-07-10 13:48] rmosolgo commented on #1521
I hope you found a solution here, but I'm going to close the issue as stale.

[2019-07-10 13:48] #1521 closed

[2019-07-10 13:50] rmosolgo commented on #1531
Closing as stale.

[2019-07-10 13:50] #1531 closed

[2019-07-10 13:52] rmosolgo commented on #1899
Sorry I didn't help on this sooner! I'm going to close it as stale. If you're still having trouble, could you please reopen this with the latest stack trace and error message?

[2019-07-10 13:52] #1899 closed

[2019-07-10 13:52] rmosolgo commented on #1871
Fixed in the interpreter by #1984

[2019-07-10 13:52] #1871 closed

[2019-07-10 13:56] rmosolgo commented on #1805
Hi, I'm not planning to add arguments to `.authorized?`. In my experience, this kind of context-specific info ends up being a foot-gun, because in unexpected contexts, authorization doesn't behave properly.

Instead, if incoming arguments are relevant to application behavior, perhaps they could be embedded _inside_ the application objects, so that the objects themselves become aware of that contex

[2019-07-10 13:56] #1805 closed

[2019-07-10 13:57] rmosolgo commented on #1772
Same as #2371, I think

[2019-07-10 13:58] rmosolgo commented on #1733
Resolvers now have `def load_#{argument}` methods which can be overriden, so that would probably help in this case, for example:

[code]

[2019-07-10 13:58] #1733 closed

[2019-07-10 14:01] rmosolgo commented on #1639
:+1: for `extras [...]`, that's the best way to get field-level info in resolve methods. I think `extras [:graphql_name]` would also work to give you the field name.

[2019-07-10 14:01] #1639 closed

[2019-07-10 14:18] daemonsy commented on #1772
I think `garbage` is still parsed correctly as an enum value when the spec might specify that it must be all caps. Let me check that!

[2019-07-10 14:20] daemonsy commented on #1772
Related: https://github.com/rmosolgo/graphql-ruby/issues/2371

[2019-07-10 18:11] willglynn commented on #2284
I don't understand. Isn't that normal?

The usual backwards-paginating SQL is of the form:

[code]

This `WHERE` matches all the records before this one, and it uses `ORDER BY … LIMIT` to return just the next page. Match every record with this name and a preceding ID, also match every record with a preceding name, sort them and return just the next page.

Going backwards from `null` seems equivale

[2019-07-10 18:37] rmosolgo commented on #1468
Closed as stale

[2019-07-10 18:37] #1468 closed

[2019-07-10 18:39] rmosolgo commented on #1426
Closed as stale

[2019-07-10 18:39] #1426 closed

[2019-07-10 18:40] rmosolgo commented on #1429
Removing the compat layer is WIP in #2363 , closing this issue as it doesn't have any specific work to do.

[2019-07-10 18:40] #1429 closed

[2019-07-10 18:41] rmosolgo commented on #1413
It would be cool to do this, but not a priority right now.

[2019-07-10 18:41] #1413 closed

[2019-07-10 18:44] kspector commented on #2358
This works well - thanks!

[2019-07-10 18:46] rmosolgo commented on #1285
Hi, sorry for the delay here. I think this error is intentional:

https://github.com/rmosolgo/graphql-ruby/blob/344a965121a9c439a0d29b0f736fa9ff555780e8/lib/graphql/enum_type.rb#L125

When a resolver returns an invalid value, this is an application error which should be addressed by a developer. For this reason, I think the error should be escalated to the application's bug tracker so that applica

[2019-07-10 18:46] #1285 closed

[2019-07-10 18:48] rmosolgo commented on #1386
Closed as stale

[2019-07-10 18:48] #1386 closed

[2019-07-10 18:49] #1648 closed

[2019-07-10 18:49] #1320 closed

[2019-07-10 18:50] rmosolgo commented on #1673
Closed as stale

[2019-07-10 18:50] #1673 closed

[2019-07-10 18:52] rmosolgo commented on #1497
:+1: Thanks for sharing your solution. Yes, that's the right approach, since legacy objects are used at runtime. Hoping to remove the legacy "shadow" objects in #2363

[2019-07-10 18:52] #1497 closed

[2019-07-10 18:55] rmosolgo commented on #1645
Clarified in 90474a965, thanks for reporting the issue!

[2019-07-10 18:55] #1645 closed

[2019-07-10 18:57] rmosolgo commented on #1676
I don't have plans to work on this further, and I haven't heard much else about changing the current behavior, so I'll close this issue.

[2019-07-10 18:57] #1676 closed

[2019-07-10 19:00] rmosolgo commented on #1605
I checked the current docs and didn't find this bad example, so I guess it was taken care of.

[2019-07-10 19:00] #1605 closed

[2019-07-10 19:06] rmosolgo commented on #1890
Hi, sorry for the late reply here! A general use case is when the GraphQL API is generated _based on_ some other code.

For example, you might generate GraphQL types from  your ActiveRecord models. Or, if you already have a REST API layer, you might generate your GraphQL schema from your previous API layer.

[2019-07-10 19:06] #1890 closed

[2019-07-10 19:09] rmosolgo commented on #1745
Closing as stale, if someone else runs into trouble here, please feel free to open a new issue!

[2019-07-10 19:09] #1745 closed

[2019-07-10 19:11] rmosolgo commented on #1761
Fixed by #1864 🎉

[2019-07-10 19:11] #1761 closed

[2019-07-10 19:14] rmosolgo commented on #1752
This is _kinda_ done here:

https://github.com/rmosolgo/graphql-ruby/blob/90474a965062820673c0c596ec0e55236b83dfd2/lib/graphql/types/relay/base_connection.rb#L79-L89

https://github.com/rmosolgo/graphql-ruby/blob/90474a965062820673c0c596ec0e55236b83dfd2/lib/graphql/types/relay/base_edge.rb#L41-L51

It might be improved by ahead-of-time filtering of nodes, as shown above, but right now that filteri

[2019-07-10 19:14] #1752 closed

[2019-07-10 19:17] pirvudoru commented on #1214
To match the way GraphQL exports errors for, say, required fields that are not filled, you can construct an error like:

[code]

[2019-07-10 19:19] rmosolgo commented on #2049
Right now, you have to address this "manually", digging into either `edges { node }`, or `nodes`, like this:

[code]

Let me know if you give that a try!

[2019-07-10 19:19] #2049 closed

[2019-07-10 19:20] rmosolgo commented on #2026
Closing as stale -- I don't have any plans to work on short-lived schemas right now.

[2019-07-10 19:20] #2026 closed

[2019-07-10 19:22] rmosolgo commented on #1978
Fixed by #1961 :tada:

[2019-07-10 19:22] #1978 closed

[2019-07-10 19:23] rmosolgo commented on #1964
Fixed by #1994 🎉

[2019-07-10 19:23] #1964 closed

[2019-07-10 19:24] rmosolgo commented on #1952
I'm going to close this because I guess it hasn't happened for quite a while. But if you run into it again, please do share the details!

[2019-07-10 19:24] #1952 closed

[2019-07-10 19:25] rmosolgo commented on #1913
Adding application-specific searching and filtering to resolvers is a good approach here, thanks for sharing your solution!

[2019-07-10 19:25] #1913 closed

[2019-07-10 19:27] rmosolgo commented on #1909
I've added a note to the docs in 7124873a4

[2019-07-10 19:27] #1909 closed

[2019-07-10 19:30] rmosolgo commented on #1917
Thanks for reporting this. These links now _work_, I bet I broke them by not publishing the latest API docs a while back 😖 This would be prevented by implementing #2132

[2019-07-10 19:30] #1917 closed

[2019-07-10 19:31] rmosolgo commented on #2182
Fixed by #2189

[2019-07-10 19:31] #2182 closed

[2019-07-10 19:33] rmosolgo commented on #2243
Fixed by #2344

[2019-07-10 19:33] #2243 closed

[2019-07-10 19:34] rmosolgo commented on #2235
Fixed by #2302

[2019-07-10 19:34] #2235 closed

[2019-07-10 20:39] delner commented on #2235
Thanks for the update @rmosolgo!

[2019-07-11 00:57] gregclar commented on #874
Thanks @rmosolgo.

[2019-07-11 03:43] raysuelzer commented on #2352
On mobile right now, so forgive typos.

Our use case is that we have a large number of items, each of which is associated to a list of "campaigns" on a campaign field.  So for maybe 100 items, each might have a list of 15 campaigns associated with it.  Most of the time these campaigns are going to be the same. So, the worst case scenario in terms of the GraphQL code doing extra work would be if al

[2019-07-11 03:48] cassiopagnoncelli commented on #2359
Hello @daemonsy

True, it actually works fine on dev environment so should be a typo. I tried removing everything from plugins to modules in a way to have Ruby-GraphQL as simple as possible, result is problem persists.

I have probably reviewed all configuration files (actually it's mostly a standard Rails 5.2.2 app) and can't find the issue. I'm giving my best to find where the issue is, but I ca

[2019-07-11 09:47] ralph commented on #2367
Thank you for your help, @rmosolgo. In the mean time, our team refactored the existing queries & mutations to match the Relay standard, especially for pagination support. We are all pretty new to GraphQL and hat to experiment and read a little before settling on this. While doing the refactoring, we also switched to GlobalID for object identification. After the refactoring was done, I tried your a

[2019-07-11 09:47] #2367 closed

[2019-07-11 13:52] jturkel commented on #2352
We have a similar problem in the product content management domain. We have Products that have  collections of PropertyValues (e.g. Brand = 'Sony', Color = 'Red', SKU = 'ABC123', Description = '...') since each of our customers can choose the "schema" for how they model there products. Here's a simplified version of our GraphQL schema and a query that illustrates the repetition of common objects:

[2019-07-11 14:23] rmosolgo commented on #2359
I'm trying to think what _could_ be different in development vs. production. One thing that stood out is parallelism -- are you using a multi-threaded or multiprocess server like Puma or Phusion Passenger?  I wonder if a process could somehow fork _before_ the schema is _totally_ booted, and then the forked schema isn't all set up properly.

I don't really have a clear suggestion, except something

[2019-07-11 14:29] rmosolgo commented on #2352
Thanks for sharing info about your use cases. I can see how some good caching would really help there!

I can imagine adding a kind of cache that says "for a given object, if it's rendered into an equivalent query fragment, re-use the already-rendered response". Some concerns here:

- When caching is added for hotspots, it can actually _slow down_ other areas of the code. So maybe the cache should

[2019-07-11 15:33] rmosolgo commented on #2367
Thanks for sharing those details! You were right, it was broken with (non-Relay) `Schema::Mutation`. I've identified a fix in #2378 so hopefully others will benefit. Glad you found something that works in the meantime 👌 !

[2019-07-11 15:38] rmosolgo commented on #2254
Do you have a `max_page_size` set in your schema? If so, I bet it's coming from this:

https://github.com/rmosolgo/graphql-ruby/blob/7124873a489e21a5d81970cd0afc86e4e922578e/lib/graphql/relay/base_connection.rb#L64

The max_page_size is applied to the connection which trims the new node out of it. I think your work-around is sufficient for now (leaving out `context`), if I ever hear of this bug ag

[2019-07-11 15:38] #2254 closed

[2019-07-11 15:40] rmosolgo commented on #2230
Hi, sorry for the slow response here! Yes, I think adding an optional `description:` parameter to `global_id_field` would be a nice improvement:

https://github.com/rmosolgo/graphql-ruby/blob/7124873a489e21a5d81970cd0afc86e4e922578e/lib/graphql/schema/member/has_fields.rb#L77-L83

Another option is to override that method in your app so that when it calls `field ...`, it includes a `description:`

[2019-07-11 15:40] #2230 closed

[2019-07-11 15:43] rmosolgo commented on #2222
Hi, thanks for the detailed report here! Sorry about the confusion. It's definitely a bug.

In the long run, I'd like to deprecate access-by-string (just to simplify the library), but not yet. If you're interested in patching this, though, I'd be happy to review a PR!

[2019-07-11 15:53] rmosolgo commented on #2232
Sorry again for the confusion, I've updated the list of extras in f7a1388bf

[2019-07-11 15:53] #2232 closed

[2019-07-11 15:57] rmosolgo commented on #2211
Hi, sorry for the late response here! If you'd like to keep debugging this, could you please reopen it with a bit more information?

- After updating to the latest graphql-ruby, could you share the new stack trace?
- Could you share an example query string that demonstrates this issue?
- Could you share the `field ...` definition which is used in the example query string?

Sorry about the hangup h

[2019-07-11 15:57] #2211 closed

[2019-07-11 18:18] jturkel commented on #2352
That sounds like an awesome improvement. A field level option would be great for optimizing well known access patterns but it might become unwieldy as the graph grows and the number of paths to reach the same object increases. Also supporting a type level option could make this more manageable. In DDD terms, we'd ideally enable this option on all GraphQL types that correspond to an [aggregate](htt

[2019-07-12 01:15] jturkel commented on #1627
@rmosolgo - We're increasingly needing this one too. I'd be happy to take a crack at it if you haven't had a chance to take a look yet.

[2019-07-12 01:51] raysuelzer commented on #2352
This all sounds great to me. I guess it is safe to assume that the code reevaluating the same object multiple times is actually a slow down?

I also wonder about how the cache keys would be implemented. I assume it would be based upon the GraphQL query string along with the object being processed.   I definitely have use cases where I will select different properties on the same object within the

[2019-07-12 01:58] armantark opened #2380 "Can't seem to make a GraphQL object from a regular Ruby array"
We're trying to make a word-frequency table from our results to relay to the frontend for autocomplete. So basically just a huge hashmap of words to word counts. This hashmap is already created and working, but I'm having issues now hooking it into GraphQL.

This is what I have so far:

[code]
[code]
[code]

Basically, whenever I run the relevant GraphQL command, it says it's returning a null obje

[2019-07-12 02:09] armantark commented on #2380
Also wanted to mention that I did do an array of arrays as well, but that didn't work either.

[2019-07-12 12:51] rmosolgo commented on #1627
👌 !

[2019-07-12 13:07] rmosolgo commented on #2380
Hi! It sounds like you're on the right track.

It's a bit hard to tell from the example to tell exactly what's going on. I see the GraphQL `def words` method calls `autosuggest.suggestions`, but I don't see that method in the `AutosuggestService` class above. Is it the same as the `def words` method there?

If so, it looks like it returns an array of hashes like this:

[code]

Is that right?

If s

[2019-07-12 13:07] #2380 closed

[2019-07-12 13:11] #2215 closed

[2019-07-13 06:31] robbie-mcfarlane commented on #2204
Hey guys, is there any way to create Relay Modern Mutations using the standard ruby class syntax without using define, blocks and the old method names? It seems like everything else has been updated except mutations for relay modern, is that correct or am I missing something? Cheers

[2019-07-13 07:18] cassiopagnoncelli commented on #2359
Hi @rmosolgo

Great to see you in this discussion. Yes it's running behind Puma though it looks quite standard setup.

I tried that, it doesn't work, tried in other places too (like application.rb), error persists. To give more glimpse on this error, QueryType always loads alongside libs (batch and apollo), however MutationType is never loaded on production.

Overview is,
- dev environment runs sm

[2019-07-13 18:24] rmosolgo commented on #2359
😖  Sorrry it didn't help!

No, not that I know of! GraphQL-Ruby is about 4 years old and I'd imagine it has thousands of running instances, but I haven't heard of this issue until now 😖

[2019-07-13 18:42] cyu commented on #1530
I found myself looking for this as well, and came up with a solution that is pretty simple:

[code]

Include the module into your base type, then you can resolve fields like so:

[code]

[2019-07-14 16:16] daemonsy commented on #1051
Hi, dredging up a very old issue 😸

I made a PoC attempt to load GraphQL Playground directly as a very simple rack app.

The hope is to get it to a point that most people starting with graphql-ruby can easily mount a dev only playground that has some default auth setup.

It's one of the toughest hurdle in GraphQL adoption among devs.

"Now I got the rails server running, what do I do next to explo

[2019-07-15 14:27] #2373 closed

[2019-07-15 14:31] rmosolgo commented on #2274
There's no implementation of that yet! Please let me know if make any progress on it, I'd love to see how it shapes up.

[2019-07-15 14:31] #2274 closed

[2019-07-15 14:33] rmosolgo commented on #2276
To clarify further, since the argument accepts a list type, the default value should be an array, so you probably want:

[code]

It seems awkward because GraphQL-Ruby's assumption is that you'd be using _application values_ as enum `value:` overrides, not complex data structures. Anyways, let me know if it works for you!

[2019-07-15 14:33] #2276 closed

[2019-07-15 14:34] rmosolgo commented on #2188
I hope you found something that worked! I don't plan to support this API so I'm going to close the issue.

[2019-07-15 14:34] #2188 closed

[2019-07-15 14:42] rmosolgo commented on #2203
Sorry about the confusion on that, I've added links in 6d08a0294

[2019-07-15 14:42] #2203 closed

[2019-07-15 14:45] rmosolgo commented on #2063
I'll keep it as is then, thanks. I think it's good to keep it as a string (`"null"`) so that it can be distinguished from arguments which _don't have_ a default value (`null`).

[2019-07-15 14:45] #2063 closed

[2019-07-15 14:49] rmosolgo commented on #2036
Hi, sorry for the late reply here.

I intentionally left out _field-level_ context from the new authorization API because in my experience, it was a foot-gun. It encouraged users to make assumptions about _where_ in a query an object might be authorized. But inevitably, as the schema grew, new contexts are created, and the code which makes those assumptions (about _where_) may get out-of-date. Sin

[2019-07-15 14:49] #2036 closed

[2019-07-15 14:51] rmosolgo commented on #2059
Added a note in 7984d8749

[2019-07-15 14:51] #2059 closed

[2019-07-15 14:55] rmosolgo commented on #1880
Thanks for the conversation here! I'll close this since I think we're done here.

[2019-07-15 14:55] #1880 closed

[2019-07-15 14:56] rmosolgo commented on #1965
I hope you found something that worked here. Feel free to open another issue if you have trouble with the class-based API!

[2019-07-15 14:56] #1965 closed

[2019-07-15 15:04] rmosolgo commented on #1999
Thanks for reporting this issue with the docs, I've revisited the path names in 8403452f2 and also added the missing `Types::` prefixes to the examples. Personally, I'm torn about the `*Type` suffix. It's helpful for avoiding naming conflicts, but it's also ugly. I can't decide 😖  Happy to work out some answer in another issue!

[2019-07-15 15:04] #1999 closed

[2019-07-15 15:14] rmosolgo commented on #1809
I hope you found something that works here!

[2019-07-15 15:14] #1809 closed

[2019-07-15 15:21] rmosolgo commented on #1638
Fixed with the new interpreter:

https://github.com/rmosolgo/graphql-ruby/blob/8403452f2d2e3a3ab2aa0f03cd31b945671b589c/lib/graphql/schema/relay_classic_mutation.rb#L64-L67

[2019-07-15 15:21] #1638 closed

[2019-07-15 15:22] rmosolgo commented on #1750
Nothing to add here, but we can keep an eye on that RFC!

[2019-07-15 15:22] #1750 closed

[2019-07-15 15:29] rmosolgo commented on #1267
Thanks for the suggestion, but I don't have any plans to change this right now. The advantage isn't clear to me (at least, not in a way that is worth the complexity of a refactor). Unfortunately Launchpad seems to have stopped its service :'(

[2019-07-15 15:29] #1267 closed

[2019-07-15 20:12] rmosolgo commented on #2204
@robbie-mcfarlane  try https://graphql-ruby.org/api-doc/1.9.7/GraphQL/Schema/RelayClassicMutation

[2019-07-15 20:12] #2204 closed

[2019-07-15 20:12] rmosolgo commented on #2204
No, except for using JSON https://graphql-ruby.org/api-doc/1.9.7/GraphQL/Types/JSON.html

[2019-07-16 01:14] fdutey commented on #2204
Ok, I used String with serialized JSON inside but I was not satisfied with the result. I will try JSON instead. Thanks :)

[2019-07-16 05:38] mmahalwy commented on #1245
Reopen? Same problem here

[2019-07-16 17:38] patvice commented on #2020
This problem seems to only be related to the older implement of subscriptions. Going this close the issue.

[2019-07-16 17:38] #2020 closed

[2019-07-16 21:24] armantark commented on #2380
Sorry for late reply, I got off on Friday and didn't check for the weekend plus Monday. But either way, that worked! Thank you. I should've known it was something as simple as that.

[2019-07-17 01:03] dkniffin commented on #1245
Yep, just hit the same problem

[2019-07-17 11:08] kayn1 opened #2385 "Anonymous class should declare a `graphql_name`"
Got this error being with latest version.
I have never declared graphql_name and default_graphql_name.
The error raises in controller when my ApiSchema.execute is called
``
     Failure/Error:
        result = ApiSchema.execute(query, variables: variables,
                                          context: context,
                                          operation_name: operation_name)

      No

[2019-07-17 14:14] KevinAdu commented on #1245
Yeah I think this should be reopened. I'm seeing the same issue too

[2019-07-17 15:27] ngouy commented on #1965
Sorry I didn't keep you updated at all.

All is working fine ! Thank you and sorry for the inconvenience

[2019-07-17 18:12] rmosolgo commented on #2385
Hi! Sorry about the hangup. Please reopen with the full stack trace if you want to debug further.

Check the lines in your stack trace to see if any of them point to `Class.new(...) do ... end` definitions. Inside the definition block, you should add `graphql_name "MyGraphQLType"`, using a String to name the GraphQL type.

[2019-07-17 18:12] #2385 closed

[2019-07-17 21:42] dkniffin commented on #1825
@rmosolgo I like this Resolver pattern as a solution to the problem described here, but I also see in the docs that using Resolvers in general is discouraged. Can you give your thoughts on that? Is it simply discouraged because it's easy to end up with fat resolvers? If that's the case, I don't think it's any worse than doing it with methods, right?

Assuming I'm not missing something, I would lov

[2019-07-18 03:14] lifeiscontent opened #2387 "always return array on nil / undefined?"
in the JS Implementation of GraphQL you can do something like this:

https://stackoverflow.com/questions/53766939/graphql-how-to-return-empty-array-instead-of-null

how can I do the same in the graphql-gem? @rmosolgo

[2019-07-18 13:31] rmosolgo commented on #2387
When you implement a field, you can put custom logic in resolve methods, for example:

[code]

That way, an empty array is returned instead of `nil`.

Since GraphQL-Ruby calls methods on your application objects, you can also implement this at the application level by making your methods return empty values instead of `nil`. (For example, Rails `has_many` methods return empty relations when there

[2019-07-18 13:31] #2387 closed

[2019-07-18 13:54] patvice opened #2388 "When Schema with max_complexity set, multiplex queries with an abstract type get `NoMethodError` using AST analyzers"
## Background

When a schema has `max_complexity` set and to a multiplex query is called, `MaxQueryComplexity` analyzers is added to the multiplex_analyzers for a given execution. When the analyzing phase happens in `QueryComplexity#on_leave_field` checks to see if the parent node is an abstract type. When it is an abstract it calls `possible_types` on the query that was passed to the analyzer.

T

[2019-07-18 14:00] #1627 closed

[2019-07-18 14:01] rmosolgo commented on #1627
We may have _missed_ some spots, but the expected behavior is that inheriting schema classes Just Works :tm: starting in 1.9.8

[2019-07-18 16:00] dank00 commented on #1999
I am modelling hotels and having a `RoomTypeType` is very jarring.

We just discovered the enforcing of the `Type` suffix and it was really unexpected.

I'd prefer it not to be there and deal with naming collisions myself.

[2019-07-18 16:03] ch-tactica commented on #1999
I think a suffix is a good idea, how else would you avoid naming conflicts with models? Just be consistent. I don't think "Type" is a verry good suffix either. What's the convention used in GraphQL?

[2019-07-18 16:03] swalkinshaw commented on #1999
@dank00 you can use `RoomType` as the class name then override the generated type name:

[code]

But agreed it's confusing when you first run into it.

[2019-07-18 16:06] dank00 commented on #1999
ah thanks @swalkinshaw unfortunately, I also have a `Room` 😩

[2019-07-18 16:10] dank00 commented on #1999
types and inputs are just named according to the domain, an implementer of the spec shouldn't take it any further.

[2019-07-18 16:13] swalkinshaw commented on #1999
They can be within a module such as `Types::` which the docs has anyway. The `Type` suffix isn't really necessary at that point. Yes you'll need to fully qualify constants sometimes for conflicts with models, but I'm not sure this gem should worry about that.

[2019-07-18 19:57] cabello commented on #1109
Hi, just reporting as also affected by this bug.

My DB had 250 records, as a proof of concept I changed the `default_max_page_size` to 3 and I got `hasNextPage` as `false` when providing no pagination parameters, but once I did `first: 3` it returned the correct value `hasNextPage` as `true`.

[2019-07-18 20:17] rmosolgo commented on #2388
Thanks for such a detailed bug report! That's really helpful. What a tricky issue. Here are some thoughts:

- I _like_ having a single Analyzer class that works on either a multiplex or a query. (That is, it runs on multiplexes of size `1` _or greater_.)
- But, we have to keep the lines clear about which objects go where -- for example, clear lifecycle of initialize, visit each query, check result

[2019-07-18 22:20] modosc commented on #1374
just came across this - it would be cool if this happened automatically somehow because now we have to specify the default in two separate places.

[2019-07-19 00:20] lifeiscontent commented on #2387
@rmosolgo are there docs on how to tell the schema to return different concerns?

from the graphql spec there are the following: `String`, `String!` `[String]` [String!]` `[String]!` `[String!]!`

`[String]!` should always return an array even if nil at the resolver level is this currently implemented in the graphql gem?

[2019-07-19 13:55] rmosolgo commented on #1245
Sorry about the bad error messages. If one of the above solutions works for you, please share it. My hope is to fix the "hidden" exception by simplifying the way that schemas "boot", #2363

[2019-07-19 18:47] patvice commented on #2388
I also like that analyzer can be used in both normal Queries and Multiplex queries > 1. Based on the comments in the class around multiplex analyzers maintaining state across all queries visited, I think that changing the analyzer to take in an array of `GraphQL::Query` objects instead of a single query object but the query instance variable in the class will represent current queries being visite

[2019-07-19 18:57] #1948 closed

[2019-07-19 19:08] grcooper opened #2390 "Interface/Union PossibleTypes visibility"
# Problem

I would like a way to change the visibility on types that Unions and Interfaces can be.

[code]

There may be cases where we want to hide that type C implements A in some contexts of an API call, but still allow B to implement A for a different context. Under my current understanding, we can only control visibility of A, so either it is visible through the entire schema or not at all.

[2019-07-19 20:11] rmosolgo commented on #2390
Hey @grcooper , thanks for the detailed writeup. We've encountered this issue too and worked around it with hacks. (We shadowed interface `A` with a `SecretA`, and exposed `SecretA` in some cases.)

I agree that it should support what you're describing ... and I agree it will be a lot of work 🙈 . I don't have a better suggestion than what you wrote, I think those methods will need to be context-aw

[2019-07-19 20:18] grcooper commented on #2390
@rmosolgo Ah yah that is a reasonable hack, but is unsustainable for our visibility requirements. If you are ok with this approach then I'll start picking at a solution and get some more feedback once I have some code written.

[2019-07-19 20:25] rmosolgo commented on #2390
Please give it a go! Feel free to open a PR if you want any :eyes: along the way.

[2019-07-22 13:34] rmosolgo commented on #1813
I'm so sorry this slipped off my radar! I've (finally) released graphql-pro 1.10.7 which includes the fix you posted here. Thanks for sharing that solution ... and for your patience! Please let me know if you run into any other trouble.

[2019-07-22 13:34] #1813 closed

[2019-07-22 15:46] miraymazlumoglu commented on #2254
Hey @rmosolgo we have a similar problem in our codebase, I just wanted to let you know:

this is the original code which we call from our mutation:

[code]
which calls

[code]

and our max_page_size size is set to 100. this results in a similar issue reported above, we solved this problem by passing only the tree connection with safe_tree's id which you can see below:

[code]

[2019-07-23 09:08] nekogami commented on #2359
Question, what does it says if you run the following ?
[code]

It's actually the first time I've seen your syntax XD (as for why that would work on dev on not on prod is anyone's guess)

[2019-07-23 09:43] nekogami opened #2392 "required argument when invisible"
graphql-ruby: 1.9.4
ruby: 2.6.3p62

Hi,
First thank you for this gem, reaaaally appreciate it :D (specially since it went class based :3 )

It's not really a bug but a question on a custom behavior allowed by graphql-ruby
Context:
I created a custom argument class that defines the return of the visible? method according to a custom_user I store in the context.

So far so good, depending on the cus

[2019-07-23 14:36] lucaong commented on #1312
Just ran into a similar issue today, where I had a small mistake in one of my types:

[code]

This resulted in a confusing autoloading error in a completely different file:

[code]

Also note the `app/app` in the path like the example reported by @wtigert.

The issue is 100% my mistake of course, but the resulting error is misleading, and raising a better one might help users in the same situation

[2019-07-23 14:51] rmosolgo commented on #2392
Yes, this is a bug, sorry! Duplicate of https://github.com/rmosolgo/graphql-ruby/issues/1439

[2019-07-23 14:51] #2392 closed

[2019-07-23 15:15] #1439 closed

[2019-07-23 15:15] rmosolgo commented on #2392
Fixed on master, feel free to give it a try!

[2019-07-23 21:09] jturkel commented on #2352
I did a quick and very dirty prototype that showed a 20% latency improvement for one of our queries that results in lots of duplication. The cache hit rate was nearly 40%!

[2019-07-23 23:42] RealSilo commented on #2139
Do you have any updates?

[2019-07-24 09:24] nekogami commented on #2392
Wow, that was quick ! Thank you

[2019-07-24 17:18] rmosolgo commented on #2139
Hi, sorry I haven't written back sooner 😞 ! My thoughts are:

- I agree, graphql-ruby should include better error handling. I think graphql-errors's features are great, and something like that would be a great addition to graphql-ruby.
- I don't have time to work on it yet. My current big project is #2363 , and after that, I'll probably look at supporting true parallelism, in the style of #1981. B

[2019-07-24 17:35] #1816 closed

[2019-07-24 17:35] rmosolgo commented on #1816
Please let me know if a custom context class doesn't suit your needs here!

[2019-07-25 09:07] gkunwar opened #2398 "NoMethodError (undefined method `line=' for #<GraphQL::Language::Nodes::Document:0x00007fe3f65ec6f8>"
My Gemfiel looks like:
[code]

[2019-07-25 13:46] rmosolgo commented on #2398
Hi, sorry, libgraphqlparser was broken since 1.9, when we made `Language::Nodes` immutable. See also https://github.com/rmosolgo/graphql-libgraphqlparser-ruby/issues/30

Personally, I don't think libgraphqlparser is worth the effort. The plain-Ruby parser in graphql-ruby is only a few times slower than libgraphqlparser, and it's much more stable, since it doesn't require a C extension. I recommend

[2019-07-25 13:46] #2398 closed

[2019-07-26 01:27] jturkel opened #2402 "Handling of max_complexity is not pluggable"
The runtime is hardcoded to use `GraphQL::Analysis::AST::MaxQueryComplexity` (or `GraphQL::Analysis::MaxQueryComplexity` for the legacy runtime) when either `GraphQL::Schema.max_complexity` is set or the `max_complexity` argument is passed to `GraphQL::Schema#execute`. This forces us to monkey patch `GraphQL::Analysis::AST::MaxQueryComplexity` for a two reasons:

1) We want to return an error that

[2019-07-26 19:45] cassiopagnoncelli commented on #2359
Hello @nekogami

It returns

[code]

Any idea on what the issue is?

Thank you so much!

[2019-07-28 19:41] sveredyuk commented on #2201
I found that in version 1.9.8 `rescue_from` doesn't work at all. How I should handle `ActiveRecord::RecordNotFound` for now?

my schema:
[code]
my code:
`User.find(user_id)`

instead rescue_from I always got an error:
`ActiveRecord::RecordNotFound: Couldn't find User with 'id'=44002`

[2019-07-29 00:59] nekogami commented on #2359
From what I understand, in your returned object, token is not a string but an array, if so, you will have to change your selection value.

IE:
if object.token is an array of string, the token field inside the return type has to be declared as [String]

[2019-07-30 14:49] cabello opened #2405 "Enum may not support `nil` value"
Hello 👋 This is a question / bug report as I couldn't find similar open issues or documentation on this behaviour.

I was writing a mutation that had an optional field that in the backend that can be set to null, i.e. database column allow for null values.

So my challenge is to differentiate not receiving the input parameter vs receiving it as `nil`.

I "cheated" a bit by creating a symbol defaul

[2019-07-30 18:18] rmosolgo commented on #2405
Hi! Great question.

I think the two approaches you described are both good. Personally, I'd use the first one with a default value that means "nothing was passed here".  (Gasp, you'll find the same thing in the [graphql-ruby source](https://github.com/rmosolgo/graphql-ruby/blob/1c95c917837491e8350e94a18c3f9c4d3f22bc9b/lib/graphql/schema/argument.rb#L9) 😆 !)

In the second approach, I think it wou

[2019-07-30 19:37] rmosolgo commented on #2290
I hope that helps! I added this error so that it would be _hard_ to accidentally forget a policy. Let me know if those other options don't work well for you.

[2019-07-30 19:37] #2290 closed

[2019-07-30 19:39] rmosolgo commented on #2259
Fixed by #2404

[2019-07-30 19:46] rmosolgo commented on #2206
Sorry for the slow response here!

GraphQL-Ruby doesn't prescribe any kind of filtering, you should implement the system you want.

Use `camelize: false` to keep your original argument names intact. I bet the camelizer is out of control on that!

Please let me know if you have any trouble with that.

[2019-07-30 19:46] #2206 closed

[2019-07-30 20:30] rmosolgo commented on #951
This is fixed on 1.10-dev and will be released in 1.10.0

[2019-07-30 20:30] #951 closed

[2019-07-30 20:32] rmosolgo commented on #1536
Thanks for pointing it out, removed in 6682dc814!

[2019-07-30 20:32] #1536 closed

[2019-07-30 20:35] rmosolgo commented on #1799
Hi, I hope class-based subscriptions helped with this! Please give them a try and open an issue if you run into any trouble.

[2019-07-30 20:35] #1799 closed

[2019-07-30 20:36] rmosolgo commented on #1777
Thanks for sharing your solution! If someone wants to contribute first-class support for ActiveStorage, I'm happy to review a PR for it.

[2019-07-30 20:36] #1777 closed

[2019-07-30 20:38] rmosolgo commented on #1603
I don't have plans to work on this soon, so I'll close out the issue. If someone wants to propose or discuss specific constraints or validations, feel free to open another issue or PR!

[2019-07-30 20:38] #1603 closed

[2019-07-30 20:41] #2301 closed

[2019-07-30 20:53] rmosolgo commented on #2402
🤔

That's not good! It's definitely supposed to be able to apply multipliers to its child values. That's a failure in backwards compatibility if so.

Thinking bigger: `MaxQueryComplexity` is "just" an AST analyzer. If you're trying to perform a different calculation, how about using a _different_ analyzer? (In fact, GitHub's own "query coster" is not using MaxQueryComplexity, but it's very similar

[2019-07-31 02:25] cassiopagnoncelli commented on #2359
@nekogami No not really, turns out that the query and mutation are well-formed, it actually returns a value, look:

[code]

I just run it in my machine under Docker on development environment. When I deploy to production, mutations won't work. `Types::QueryType` is recognized and queries work perfectly, but not for `Types::MutationType` as they aren't even loaded.

[2019-07-31 11:39] jchatel opened #2408 "How do we check if an argument was supplied instead of checking nil?"
I'd like to implement a "put-like" mutation. That is: to update some fields only if present in the call. However, nil is a valid value to set a field to, so I can't rely on an argument being nil or not.

Like here:
https://medium.com/workflowgen/graphql-mutations-partial-updates-implementation-bff586bda989

At the moment, my fields are all like

`argument :something, String, required false, null:

[2019-07-31 12:31] jturkel commented on #2408
We've used two patterns to handle this:

[code]

[2019-07-31 13:33] jturkel commented on #2402
Using our own analyzer sounds like the perfect solution! We're creating multiple GraphQL APIs all of which extend a common base schema so we'd really like something that works with the `GraphQL::Schema.max_complexity` setting and the `max_complexity` argument to `GraphQL::Schema.execute` to avoid developer confusion. Turns out that's pretty easy to do with something like the following:

[code]
Tha

[2019-07-31 13:47] jchatel commented on #2408
I was thinking about the :unspecific, for number types, this could be problematic

We are thinking about array of key/value pair and some cool ninja trick

[code]

But was hoping to have something natively supported here

[2019-07-31 18:44] jturkel commented on #2402
I believe #2409 will simplify my solution a bit by not requiring an override of `GraphQL::Schema.to_graphql` (which will be necessary once #2363 lands) i.e.

[code]

[2019-07-31 20:38] rmosolgo commented on #2408
Personally I use the plain-Ruby techniques that @jturkel shared above. Let me know if one of those doesn't work for you!

[2019-07-31 20:38] #2408 closed

[2019-07-31 20:42] rmosolgo commented on #2311
Thanks for your work on this @rylanc! Please do open an issue if there's anything we could do in GraphQL-Ruby to help you support it.

[2019-07-31 20:42] #2311 closed

[2019-07-31 20:43] rmosolgo commented on #1711
I'm working through a lot of this over in #2363 , if anyone finds a particular problem, please open an issue!

[2019-07-31 20:43] #1711 closed

[2019-08-05 10:12] chmorik opened #2411 "can't modify frozen GraphQL::Language::Nodes::Document"
I get
can't modify frozen GraphQL::Language::Nodes::Document
when I execute
client.schema.dump!
Back trace is
[0] = "/home/shachar/.rvm/gems/ruby-2.6.3/gems/graphql-1.9.9/lib/graphql/language/nodes.rb:77:in `to_query_string'"
[1] = "/home/shachar/.rvm/gems/ruby-2.6.3/gems/graphlient-0.3.2/lib/graphlient/adapters/http/faraday_adapter.rb:12:in `block in execute'"
[2] = "/home/shachar/.rvm/gems/ruby-

[2019-08-05 13:48] rmosolgo commented on #2411
I think the newly-released GraphQL-Client 0.15.0 should fix this. Please try the new version of `graphql-client` and let me know if you still have trouble! See https://github.com/github/graphql-client/pull/218

[2019-08-05 13:48] #2411 closed

[2019-08-05 15:31] sgwilym opened #2412 "Persisted queries with Relay and sync"
It seems that the implementation for deriving persisted queries from Relay graphql.js files may now be broken, as Relay queries no longer embed a relayHash in their artefacts.

The default export of *.graphql.js files does have a `node` property on it which I think is analogous to relayHash, but there's one wrinkle: `relay-compiler` supports language plugins which can change its output (the most c

[2019-08-05 15:54] jdpaterson opened #2413 "Guide: Definition"
Typo in this line:

[https://graphql-ruby.org/schema/definition#object-identification-hooks]()

[2019-08-05 21:30] sasharevzin commented on #894
@jimmybaker would you share your solution?

[2019-08-05 21:41] rmosolgo commented on #2412
Hi, thanks for opening this issue! I didn't this change before, it looks like it came in 2.0.0 back in January: https://github.com/facebook/relay/pull/2354

I agree `--persist-output` looks like a perfect fit! I think we could add a new option that reads from that file instead of gathering up `.graphql` files.

[2019-08-06 00:41] jimmybaker commented on #894
@sasharevzin - I did it like this: https://github.com/rmosolgo/graphql-ruby/blob/master/guides/type_definitions/unions.md

[2019-08-06 08:44] sgwilym commented on #2412
Great! Another thought: as Relay also alters it's own static artefacts when using `--persist-output` to omit the query text, I wonder if it's necessary to use the generated OperationStoreClient at all, as all you need to do is [change your network layer to send operation IDs now stored on those artefacts](https://relay.dev/docs/en/persisted-queries#network-layer-changes).

[2019-08-06 10:54] rmosolgo commented on #2412
👌 That's a great point! We just need to push queries to the server.

[2019-08-06 12:35] #2412 closed

[2019-08-06 12:40] #2413 closed

[2019-08-06 12:41] rmosolgo commented on #2413
Thanks for reporting this. Fixed in https://github.com/rmosolgo/graphql-ruby/commit/67417f44d8aa3a955477fddc34882620c2847967!

[2019-08-06 12:42] rmosolgo commented on #2300
I'm glad it worked out in the new class-based structure. I don't have plans to work on the old `.define` syntax, so I'll close this.

[2019-08-06 12:42] #2300 closed

[2019-08-06 23:23] fgrehm commented on #2034
@rmosolgo I've brought our site down because of this 😅The initial requests were timing out because of this so I'm wondering if there should be a big note about this somewhere for others in case there isn't one already

[2019-08-07 10:41] enthusiasmus opened #2417 "Elasticsearch search_after"
### Questions
How could one implement navigation with graphql combined with elasticsearch? We are already using the search_after feature of elasticsearch (https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html#request-body-search-search-after) in our project, but now we want to allow also the graphql users to navigate via `after` through our products. So my questi

[2019-08-07 16:56] modosc commented on #2356
@rmosolgo any chance you could check out my pr? we ran into some issues recently that this would help solve, thanks!

[2019-08-07 17:59] N0xFF opened #2419 "Wrong AST max complexity computation"
To reproduce an error
[code]
[code]

**Expected**

`Query has complexity of 10, which exceeds max complexity of 1`

**Actual**

`Query has complexity of 15, which exceeds max complexity of 1`

Problem appeared after https://github.com/rmosolgo/graphql-ruby/pull/2389, but probably it's result of a more complex problem. In quick look, I noticed more frequent call `AST::QueryComplexity#on_leave_field

[2019-08-08 13:28] rmosolgo commented on #2419
Thanks for reporting this issue! 🤔 I wonder how that snuck in...

[2019-08-08 17:50] jturkel commented on #2419
Doh. It looks like both [QueryComplexity#on_enter_fragment_spread](https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/analysis/ast/query_complexity.rb#L54) and [QueryDepth#on_enter_fragment_spread](https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/analysis/ast/query_depth.rb#L63) call ` visitor.enter_fragment_spread_inline(node)` with will force the fragment nodes to b

[2019-08-08 17:53] swalkinshaw commented on #2419
The real fix here is to properly support visiting fragment definitions without having to force inline visits.

I've run into the same issue for other analyzers and talked to @xuorig about it but I don't think it's too easy to solve (from memory). I believe this is the root cause: https://github.com/swalkinshaw/graphql-ruby/blob/61a0669e7e92a9a5a5ec6b1d18d7fbf104f8d3b4/lib/graphql/analysis/ast/visi

[2019-08-08 17:54] swalkinshaw commented on #2419
One idea I had was to use the existing `DefinitionSlice` to  build a new document from the operation definition we want + its dependencies (fragment definitions).

[2019-08-08 18:20] #2356 closed

[2019-08-08 18:37] jturkel commented on #2419
This is probably a silly question but when would analyzers *not* want fragment definitions to be automatically inlined by the framework? Out of the three analyzers that ship with the gem both `GraphQL::Analysis::AST::Complexity` and `GraphQL::Analysis::AST::QueryDepth` perform the inlining and `GraphQL::Analysis::AST::FieldUsage` doesn't but should.

[2019-08-08 18:39] xuorig commented on #2419
@jturkel not a silly question at all. I think @rmosolgo and I initially wanted to keep it pretty "raw" / bare bones, analyzing the unchanged AST. If I remember well we had in mind to probably eventually create an implementation of it that is more user friendly / more specific on top of that barebone analyzer class. Maybe it's a good time to start working on it 🤔

[2019-08-08 18:39] swalkinshaw commented on #2419
I forgot to mention that part... it should be the default I agree! I remember talking to @rmosolgo or @xuorig (maybe both) and we couldn't really think of use cases against it.

[2019-08-09 10:30] sayduck-daniel commented on #2201
I'm still looking for a solution or a working rescue_from

[2019-08-09 15:36] jturkel commented on #2419
I took a crack at a fix in #2421. Feedback would be welcomed!

[2019-08-09 19:24] Hajar1 commented on #1245
Had the same problem. It was caused by forgetting one comma in one of my mutation.
Checking your pay load might be helpful

[2019-08-10 22:09] lifeiscontent opened #2422 "analytics integration"
If I wanted to add analytics tracking to when a field is being resolved, how would I do this?

[2019-08-10 22:44] lifeiscontent opened #2423 "GET /graphql"
does graphql ruby support this?

https://www.apollographql.com/docs/apollo-server/v1/requests/#get-requests

allow `queries` but not `mutations` on a GET request.

[2019-08-11 12:55] vfonic commented on #1655
@rmosolgo that's a neat trick!

Here's how I achieved similar (each class has _class_ instance variable):

[code]

[2019-08-11 13:50] vfonic opened #2424 "[Resolvers] When forgetting type: `ArgumentError: Failed to build return type for Query.communities from nil`"
I forgot to add `type [Types::CommunityType], null: false` on top of my (community) resolver class and it took me a while to figure out what the issue was, because the error message didn't mention anything about missing `type`:

from /Users/viktor/.rvm/gems/ruby-2.6.3/gems/graphql-1.9.9/lib/graphql/schema/member/build_type.rb:80:in `parse_type'
Caused by RuntimeError: Unexpected type input:  (NilC

[2019-08-11 18:53] veeral-patel commented on #629
@rmosolgo same here!

[2019-08-12 09:48] enthusiasmus opened #2425 "GraphQL::Relay::RelationConnection offset failure"
Assumed one has a table with two entities:

First entity has the id 999
Second entity has the id 1000

When using `after` for navigation with the value `999`, one would expect the result to include all entities with an higher id as 999 (the second entity). But the `GraphQL::Relay::RelationConnection` class with the method `offset_from_cursor` generates an sql query with an offset of **`999`**, so

[2019-08-12 11:19] rmosolgo commented on #2424
Thanks for reporting this! I agree that the error message could be better.

[2019-08-12 11:29] rmosolgo commented on #2419
🤔 Wow, that's really intriguing. It would simplify the visit a lot, although visitors would have to do more work to piece the spreads and fragments back together. And I've never investigated that operation from a performance perspective, so it would probably benefit from a quick look.

That's a great suggestion. `InternalRepresentation::Rewrite` basically _did_ that (and a lot of other things that

[2019-08-12 11:36] rmosolgo commented on #2423
Hi! You could implement this with two steps. First, include the HTTP method in your GraphQL context (in the controller, for example):

[code]

Then, add a [query instrumenter](https://graphql-ruby.org/queries/instrumentation) that checks for a valid combination of http_method and operation type:

[code]

And add it to your schema:

[code]

I hope that works for you! Feel free to reopen this if not

[2019-08-12 11:36] #2423 closed

[2019-08-12 11:40] rmosolgo commented on #2425
Hi, good question! This is working as intended. In order to support any kind of ordering, this connection implementation uses _offset_ to work through items in a relation.

For example, if it used `id` as you suggest, what if items were sorted by name?

☝️ That query would return some unpredictable results, since the ordering and `WHERE` clause aren't related. Using `OFFSET` is a simplistic but hi

[2019-08-12 11:40] #2425 closed

[2019-08-12 11:41] rmosolgo commented on #2422
💁‍♂ https://graphql-ruby.org/queries/tracing.html Let me know if you have any trouble!

[2019-08-12 11:41] #2422 closed

[2019-08-12 11:48] rmosolgo commented on #2417
In short, you want to make a custom connection (https://graphql-ruby.org/relay/connections.html#custom-connections) for your Search object. It would be very similar to the built-in `RelationConnection`, and it would automatically wrap instances of `Searcher::Elasticsearch`, for example.

Just like when your application returns an AR::Relation, you could return a search object from a resolver or me

[2019-08-12 11:48] #2417 closed

[2019-08-13 19:16] jessecurry commented on #2303
I ran into this one and realized I was using `null: false` instead of `required: true`.

[2019-08-14 00:11] dteoh opened #2426 "Directives and argument conflict behavioural difference in v1.8.x vs v1.9.x"
Consider the following query:

[code]

Variables:

[code]

In version 1.8.11, this query generates no issues. When `yes` is `true` you get back one user, when `yes` is `false` you get back two users. However in version 1.9.9, we now get this error:

[code]

I've tried this query both with the new interpreter (`use GraphQL::Execution::Interpreter` + `use GraphQL::Analysis::AST`) and the original in

[2019-08-15 09:09] fredefox opened #2427 "Arguments dropped when query includes fragments"
I have run into an issue where the arguments passed into `::GraphQL::Schema.execute` seem to be dropped when the query contains GraphQL fragments.

Unfortunately I can't provide a link to the program exhibiting the problem, but I've tried to boil the problem down.  This should be a minimal setup that exhibits the issue.

Assume we have the following:

[code]

Now assume that the query type has thi

[2019-08-15 09:52] fredefox commented on #2427
I should say as well that I'm using version 1.9.9 of this gem.

[2019-08-15 10:40] fredefox commented on #2427
It would appear that I will need to do some more digging into the code that I'm working on. I tried to add a test-case exhibiting this issue to the test-suite - but that test-case does not reproduce it...

[2019-08-15 10:43] fredefox commented on #2427
Maybe I should close this and re-open when I can provide more context. What do you think @rmosolgo?

[2019-08-15 12:03] enthusiasmus commented on #2425
@rmosolgo Yes, good explanation and you are totally right!

However, other users may expect the navigation of the non pro version to work. This gem does does only provide a working navigation for entities which are sorted by id and have continuous ids without gaps. Shouldn't there be a warning about that in the documentation?

[2019-08-15 19:21] ChepChaf opened #2428 "Missing type validation for lists"
I have a resolver that takes a list of enums as an argument, but when i send something other than that enum ir raises an exception instead of returning an error. e.g:
enum:
[code]
resolver:
[code]
query_1:
[code]
query_2:
[code]

`query_1` works as expected
`query_2` raises CantDoThatException instead of returning something like:
[code]

Edit: After futher investigation i noticed that
[code]
So in

[2019-08-15 21:47] stanishev opened #2429 "Returning an array of errors fails for fields defined to return a List type"
given a field defined to return a **List** of some types:

`field :some_field, [SomeType], null: false`

if the resolve method for this returns an **array** of `GraphQL::ExecutionError`s the actual result sent back to the client is:

[code]

The actual errors are **not** included in the result.

The expected result would be something like:

[code]

note that the errors are included in the result i

[2019-08-16 04:39] dotnetB opened #2430 "Guide: Class-based API"
Larry Barton recon is here

[2019-08-16 04:39] #2430 closed

[2019-08-19 16:59] rmosolgo commented on #2425
Have you tried using the built-in connection implementation? I expect it to work for _any_ ActiveRecord relation, regardless of how it's sorted or what kind of primary key it has.  If you have any trouble using it with a relation, it's a bug, so please open an issue describing the relation (perhaps its `.to_sql` output), the query you're sending, the actual result, and the expected result. Then we

[2019-08-19 21:59] stanishev commented on #2429
PR: [2433](https://github.com/rmosolgo/graphql-ruby/pull/2433)

[2019-08-19 22:45] raysuelzer commented on #2139
Any updates or  thoughts on this? It seems like this PR is very close to working in the graphql-errors repo.

https://github.com/exAspArk/graphql-errors/pull/18/files

[2019-08-19 22:47] raysuelzer commented on #2352
Do you have a sample of the code changes you made?  This would be a very big win...

[2019-08-20 16:05] modosc commented on #2356
@rmosolgo are there any blockers from getting this released that i can help out with?

[2019-08-20 20:07] markiz opened #2434 "NewRelicTracing incompatible with new interpreter"
Getting an exception like this when both NewRelicTracing and GraphQL::Execution::Interpreter are enabled:

[code]

Corresponding `type` for the call (that's missing the `graphql_name`) looks like this: `#<GraphQL::Schema::NonNull @of_type=Types::ConfigurableProductType>`

[2019-08-21 02:11] rmosolgo commented on #2356
No blockers, just released 1.9.10 🚢 !

[2019-08-21 07:46] SrbModi opened #2436 "Uninitialized constant Types::QuotationReturnType"
I am trying to create a query to return a filtered list of quotations from a "quotations" table.

The code is inside an engine name "cpq" (hence the namespacing, ignore it :P)

types/quotation_type.rb
[code]

types/query_type.rb

[code]

However, on hitting the query "quotations", i get an error
[code]

When I try it on console, I realised that once I access the type Cpq::Types::QuotationType befo

[2019-08-21 11:47] #2436 closed

[2019-08-21 11:47] SrbModi commented on #2436
Resolved! Had to do with rails name spacing. Not an issue of graphql.

[2019-08-21 17:15] rmosolgo commented on #1621
Fixed by #2431

[2019-08-21 17:15] #1621 closed

[2019-08-21 18:11] modosc commented on #2356
thanks! 💃

[2019-08-21 18:20] stanishev commented on #2429
PR was merged.

[2019-08-21 18:20] #2429 closed

[2019-08-21 21:33] jazzdragon opened #2438 "Suggestion: resolve field with method with question mark"
Little sugar suggestion, I'd expect this:
`field :enabled, Boolean, null: false`
to look for the method `enabled?` on the model, especially if it resolves to a boolean.

Thanks!

[2019-08-22 19:42] rmosolgo commented on #2434
Thanks for sharing this! I thought I understood the problem so I tried to replicate it in 8da577346. But, I wasn't successful - my test passed. So, I'm not sure _quite_ what's going wrong.

Could you share your `field ...` configuration for the field that returns that type? If you don't mind, sharing the resolver for that field would be helpful too, at least whatever part of the resolver uses Grap

[2019-08-23 17:55] chrisbutcher opened #2440 "Custom field class that uses `extras`, incompatible with `GraphQL::Relay::Node.field` as specified by `field:`?"
Is there a way to customize all fields with custom `extras` for use with an extension? The [recommended way in the guide](https://graphql-ruby.org/relay/object_identification.html#node-field-find-by-uuid) conflicts with anyone using the `field` class option such as `field :node, field: GraphQL::Relay::Node.field`.

It also seems that even if someone is using [`add_field(NodeField)`](https://github

[2019-08-23 18:14] rmosolgo commented on #2440
Interesting! How about skipping the `extras` addition if `kwargs[:field]` is present? For example:

[code]

That would at least side-step it in this case! For a more fine-grained approach, you could add another initialization option to skip the extras, and pass the option when adding `Node.field`. What do you think?

[2019-08-23 18:53] swalkinshaw commented on #2440
Ideally we should be able to customize *every* field without skipping any like the above case. Skipping the legacy `Node.field` case seems fine, but I don't think there's any way to customize a field added by `add_field` either unless we're missing something.

We can't override `add_field` on object types and set `extras` because `GraphQL::Schema::Field` doesn't expose it like it does with `extens

[2019-08-23 19:09] rmosolgo commented on #2440
Is this more than an edge case? Why use `add_field`?

[2019-08-23 19:28] swalkinshaw commented on #2440
Isn't that the recommended solution to add the Node field now? It's used throughout the codebase when the new interpreter is used.

[2019-08-23 20:13] #2428 closed

[2019-08-23 20:14] rmosolgo commented on #2428
Thanks for the great bug report! It will be fixed in the next release by #2441

[2019-08-24 14:30] markiz commented on #2434
I'll try my best to isolate, there's quite a bit going on in the actual code :)

[2019-08-24 14:51] markiz commented on #2434
@rmosolgo
Sorry for the large example, but it's the smallest I could do :)
https://gist.github.com/markiz/315051ed474706506ef4e1df800797e8

The issue might have been with our connection implementation, which is pretty similar to standard connection impl, but adds stronger constraint for non-null entries (I couldn't reproduce with the default connection impl).

However, without new interpreter it w

[2019-08-24 15:02] markiz commented on #2434
After updating graphql dep to 1.9.9... it seems to work? 😃
I could pinpoint the fix to https://github.com/rmosolgo/graphql-ruby/commit/801abaa1974a49e951465171cc9c7a7a4f9aef33 (prev commit, 130df7f30ce79e0e5b73a30ce147fc288f6e0b59 is still broken), but I don't understand how exactly that helped.

[2019-08-24 19:07] nratter opened #2442 "How to add arguments to a query using custom connections"
https://github.com/rmosolgo/graphql-ruby/blob/master/guides/relay/connections.md details lots of information on customizing connections but I don't see a way to add arguments to the query (in the same way that 'first', 'last', 'before', and 'after' arguments are automatically added). I'd like to add an 'offset' or 'skip' argument to the connection query for custom pagination. This can't be done in

[2019-08-26 08:46] vecerek commented on #2427
I'm not sure how the non-fragment query could work in your example. Assuming a type `R` with a single field `y` and the defined query field `g` in the above example, the following query would behave according to your expectations:

[code]

Note that using `R.connection_type` will also create 2 extra types as per the Relay specification: `RConnectionType` and `REdgeType`. The `RConnectionType` will

[2019-08-26 13:06] gopeter opened #2444 "Subscriptions incompatible with multiple Postgres schemas?"
I'm building a multi-tenant Rails app with [`apartment`](https://github.com/influitive/apartment) and I'm using the one-schema-per-tenant-solution.

Everything works really great except subscriptions. While Actioncable work's with this approach (which I got from [here](https://github.com/influitive/apartment/issues/391)) ...

[code]

... this one doesn't: `MyApp.subscriptions.trigger('somethingCha

[2019-08-26 13:10] gopeter commented on #2444
Oh, and I'm using `'graphql 1.9.4'` and `graphql-pro`, but did not migrated to the class-based syntax yet.

[2019-08-26 15:46] thiago-sydow commented on #2139
Hi! I'm in the same situation, enabled the new interpreter to have subscriptions and my `rescue_from` stopped working. I'm doing a workaround that works but I'm wondering if could be a performance impact to do like this, or if it can be worked on top of that (I saw the tracers for platform analytics rely on the `key` to execute something or not.

What I'm doing right now is simply on `schema.rb`:

[2019-08-26 15:50] gopeter commented on #2444
Thanks you very much, I'll give it a try! I just wondered about that since the entire app is on the right schema, just the subscription trigger isn't.

Maybe there is some middleware on the `graphql-ruby` side that runs before my custom one?

[code]

I'll let you know once I tried it. Thanks again! 😄

[2019-08-26 20:36] gopeter commented on #2444
Thanks again for your help!

I tried your first approach, but unfortunately the `trigger` method is already aware of the right tenant. This one ...

[code]

... returns the right tenant/schema. So I tried you second approach, but I'm not really sure where to override the `execute` method. I thought I can override it in my `MultiTenantActionCableSubscriptions` also , but the code doesn't get execut

[2019-08-26 21:10] gopeter commented on #2444
Oh sorry, actually I tried `execute`, just copied the wrong snippet. That's what I meant with "...the code doesn't get executed at all", since I don't get any logger info in the console, just this:

[code]

But the database record is persisted. I thought that this could be a race condition maybe, but the `COMMIT` log runs before the broadcast everytime, so this shouldn't be the case 😞🤔

[2019-08-27 01:21] dteoh commented on #2426
I lean towards v1.9.x behaviour being wrong or at least incomplete or over-eager in the case that I've presented. The query and variables are submitted to the runtime in a single package. On encountering the directives, it can already determine if the associated field or fragment should form part of the query to execute. Fields or fragments that are not part of the final query should be ignored.

[2019-08-27 07:16] Mange opened #2445 "Tracing breaks on 1.9 with Query#result"
We're doing our own validation step in our GraphQL APIs in order to do some custom management of the errors.

Our controllers follow this pattern:

[code]

We do this because of high volume of traffic, and we want to pre-process some errors to deal with logging and analytics, and some additional custom instrumentation.

After upgrading to GraphQL 1.9, the traces for our queries disappeared. Only t

[2019-08-27 08:54] gopeter commented on #2444
Now it gets even crazier: I've restarted the Rails server and added a new comment on the frontend (which creates a new database record and calls the `subscription.trigger` in an `after_commit` hook) – and everything went well! But adding a second one throws the error again.

But it's not reproducible. Sometimes the first hit works, sometimes I get `ActiveRecord::RecordNotFound` immediately. So may

[2019-08-27 10:33] Papipo commented on #2060
How can I solve this in the case of field instrumentation? I am using it to allow/disallow access to some fields.

[code]

I get `undefined method `current_ability' for #<GraphQL Context @ Query.item>` <- The Context class is not my custom class but the default one.

If there is any other way to hook into field resolution apart from field instrumentation, please let me know. Thanks!

[2019-08-27 14:10] kidcosmic opened #2446 "ActionCable subscriptions no longer work with new interpreter"
Adding only the line:

[code]
to the schema breaks subscriptions. Clients can connect and everything looks like it works, but logging subscription_ids in `GraphqlChannel` shows no subscriptions.

[code]
`result.subscription?` is true here, but using the debugger to inspect the ConcurrentHash of subscriptions shows that the hash is empty.
The triggers look like they work fine, but since there are n

[2019-08-27 14:22] gopeter commented on #2444
OK, thanks! I'll have a look at this and update the issue once I found a solution, since this could be interesting for other users of `apartment` too :-)

[2019-08-27 20:33] gopeter commented on #2444
It's working now! But I really don't know why 😅

[code]

I did my debugging inside `self.load` as usual (`Rails.logger.info Apartment::Tenant.current`) and got the right tenant. But since the `load` (or `load_value`) function isn't aware of the tenant, I just tried to execute it inside the `switch`-block of the `apartment` gem which works very well (for my surprise).

Nice that it's working now, b

[2019-08-28 16:43] hybridindie opened #2448 "Zeitwerk / Rails 6 Runtime Error Duplicate Type"
I get the following stack trace in development whenever I edit any Type or Query in my application. Restarting the application fixes the issue until a new edit occurs.

_I'm not sure if this is related to #1505 or not but the fixes/workarounds described there do not work._

Rails 6.0.0
graphql-ruby 1.9.10
(GraphQL-batch and a custom authorization plugin/extension were disabled)
puma 4.1.0 (noted h

[2019-08-28 17:19] jazzdragon opened #2449 "typename wrong in test env"
Hi,
When running a local rails server with `RAILS_ENV=test` all the `__typename` keys returned are "User", which I assume is just the type of the entry point to the query ("viewer").

Also, if I set `graphql_name` on my type it doesn't affect it at all.

All of this is not happening in my development or production environments. This is breaking our feature tests though.

Thanks!

[2019-08-28 19:20] gopeter commented on #2444
Hi @dittonjs. Hmmm, while thinking about this, setting the tenant by `Apartment::Tenant.current` isn't really logical – but it worked for me. I think it might be due to concurrency/multi-threading, which isn't reproducible (at least I'm not aware of any possibilities to do so). A better solution would be to call the method that originally returned the tenant. For me, it's a custom class that I'm u

[2019-08-29 13:25] rmosolgo commented on #2448
Hi, thanks for the report!

When you use `autoloader = :classic`, it works fine, is that right?

[2019-08-29 13:26] hybridindie commented on #2448
yes, that is the work around

[2019-08-29 13:32] rmosolgo commented on #2449
Hi, sorry to hear it! This is not enough information to debug. If you'd like to look into it further, please share some specifics, for example:

- An example query with the actual response and expected response
- If the query runs differently in another context, share the response in that other context
- The test setup for the query and its `.execute` call

Please reopen this issue if you're able

[2019-08-29 13:32] #2449 closed

[2019-08-29 13:38] rmosolgo commented on #2448
Cool. Well, I'll add it to the heap of autoloading issues I'm hoping to fix in #2363 .

There is a way you could help resolve this issue -- if you could create a reproducible case, that would be a big help. For example, if you could make a fresh Rails app, and add a GraphQL setup that demonstrates this bug, and then share that code on GitHub along with the steps to show the bug, then I could try o

[2019-08-29 14:04] rmosolgo commented on #2446
Sorry to hear that! In the gem, we run a Rails system test to test ActionCable:

https://github.com/rmosolgo/graphql-ruby/blob/master/spec/dummy/test/system/action_cable_subscription_test.rb

We run the test with the interpreter (https://github.com/rmosolgo/graphql-ruby/blob/fce0e54813c4468bb9fa8f0734b9164b20adcdbf/spec/dummy/app/channels/graphql_channel.rb#L54, https://github.com/rmosolgo/graphql

[2019-08-29 14:04] #2446 closed

[2019-08-29 14:06] rmosolgo commented on #2442
Hi, if you want to mimic connection's automagical argument handling, you could create an extension, which is how it's implemented in graphql-ruby:

https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/schema/field/connection_extension.rb

Here are the docs for that feature: https://graphql-ruby.org/type_definitions/field_extensions.html

If that doesn't work for you, please share the c

[2019-08-29 14:06] #2442 closed

[2019-08-29 14:10] rmosolgo commented on #2438
Hi, I'm open to it, but I'm not sure how to roll out that change in a way that doesn't upset existing schemas.

For the time being, you can implement it in your own base field class:

[code]

I think something like that would work!

If you want to add something like this to the gem, please open a PR for it.

One option to roll this out as default _without_ breaking existing schemas would be to imp

[2019-08-29 14:10] #2438 closed

[2019-08-29 14:12] #2440 closed

[2019-08-29 14:19] rmosolgo commented on #2445
Hi, thanks for the report. How weird!

You shared the `puts` output when you use `Schema.execute`, could you share the same output when you use `query.result`?

I expect it to be the same, but apparently it's not??

[2019-08-29 14:40] jessicaspeir opened #2451 "All GraphQL queries fail with JRuby 9.2.8.0"
I'm trying to upgrade my app from JRuby 9.2.6.0 to 9.2.8.0 (we had to skip 9.2.7.0 because of several bugs). Everything works great on 9.2.6.0 but on 9.2.8.0 every query (including the queries to get the schema fail with this error:

[code]

I've truncated the stack trace where it starts to get into our code, it fails on the call to `MySchema.execute`.

This failure occurs on both graphql versions

[2019-08-29 14:44] hybridindie commented on #2448
README has all the instructions for reproducing the error https://github.com/hybridindie/graphql_error

[2019-08-29 14:54] rmosolgo commented on #2451
Hi, thanks for the report! Unfortunately, we haven't run our tests on JRuby for quite a while :cry: #1408

Looking at the lines in question, here's the `yield`:

https://github.com/rmosolgo/graphql-ruby/blob/24629b3d5824fcd377d934bacea8a96f0cc18403/lib/graphql/schema/field.rb#L623

And here's the call to that method:

https://github.com/rmosolgo/graphql-ruby/blob/24629b3d5824fcd377d934bacea8a96f0c

[2019-08-29 15:02] rmosolgo commented on #2448
Thanks! I'll take a look at it when my PR is passing.

[2019-08-29 15:09] jazzdragon commented on #2438
Thanks! will do!

[2019-08-29 15:50] jazzdragon commented on #2438
I guess that brings me to another question, something I couldn't figure out from the docs:
In `https://graphql-ruby.org/fields/introduction.html#field-parameter-default-values` you show how to create a custom field, but how do you use it? also, how would I override my base field behavior?

Thanks!

[2019-08-29 18:01] rmosolgo commented on #2438
Use the `field_class MyBaseField` method configuration as shown at the bottom here: https://graphql-ruby.org/type_definitions/extensions.html#customizing-fields

[2019-08-29 19:12] chadwilken opened #2453 "Argument conflict error"
Version with bug: `~> 1.9.0`
Version without bug: `1.8.15`
`rails 5.2.2`
`graphql-batch 0.3.8`

When we recently upgraded to 1.9.10 we started receiving the following error:
[code]

The following query has been simplified to show the error. The `variants` argument is the exact same and in the same order.
[code]

This works fine on version `1.8.15` but breaks on any version above `1.9.0`

[2019-08-29 19:40] #2453 closed

[2019-08-29 20:44] srgoldman commented on #2448
@hybridindie Do you get warnings like:
[code]
when you run specs?

[2019-08-29 21:54] srgoldman opened #2456 "Zeitwerk Rails 6 - autoloading warnings"
Adding the graphql-errors gem and this initializer:
[code]
to the sample blog app (fresh Rails 6 app) results in the following error when running specs:
[code]
I've uploaded the code here: https://github.com/srgoldman/rails6_blog_issue

[2019-08-30 01:52] Mange commented on #2445
It's the upper half of the snippet, only the validate call is logged and then it is quiet. That line was identical.

[2019-08-30 15:07] hybridindie commented on #2448
@srgoldman I'm actually out of town until Monday 9/2, if this is still an open question I'm be happy to check it out.

[2019-08-30 16:23] srgoldman commented on #2448
@hybridindie I managed to reproduce my issue and opened a separate github issue #2456  for it but they might be related.

[2019-08-30 21:58] jessicaspeir commented on #2451
@rmosolgo thanks for the quick response! Can I help with getting the tests running on JRuby again? We have had success with JRuby 9.2.6.0, so maybe that version would pass your tests? We are heavily dependent on both JRuby and graphql-ruby so it's slightly concerning that you aren't able to get tests passing...

I'll open a JRuby bug to see if they can figure it out.

[2019-09-01 23:56] cursande commented on #2366
@tilod I had the same cyclical loading problem which led me to this issue. I made a PR to update the resolver guide, and used your tasks example for it 👍

https://github.com/rmosolgo/graphql-ruby/pull/2457

[2019-09-02 09:56] #2366 closed

[2019-09-02 13:28] #2139 closed

[2019-09-02 13:29] rmosolgo commented on #2139
Hi, thanks to all who shared their thoughts here. I've added some new error handling which you can try on master: https://github.com/rmosolgo/graphql-ruby/pull/2458

If you give a try and encounter a problem, please open a new issue!

[2019-09-02 13:36] rmosolgo commented on #566
I just merged some new error handling for the interpreter that properly catches errors in promises: https://github.com/rmosolgo/graphql-ruby/pull/2458

If you give it a try and have a problem, please open a new issue!

[2019-09-02 13:36] #566 closed

[2019-09-02 13:39] rmosolgo commented on #1598
I just added new error handling for the interpreter runtime here: https://github.com/rmosolgo/graphql-ruby/pull/2458 I think it should work with any order of schema configuration, since it doesn't touch the `.graphql_definition` compatibility layer.

If you give it a try and run into trouble, please open a new issue!

[2019-09-02 13:39] #1598 closed

[2019-09-02 13:40] rmosolgo commented on #2201
Hi, sorry for the long turnaround here. I just merged some new error handling for the interpreter runtime which is more flexible: https://github.com/rmosolgo/graphql-ruby/pull/2458

I recommend using it to handle raised errors in field resolvers. If you give it a try and run into trouble, please open a new issue!

[2019-09-02 13:40] #2201 closed

[2019-09-02 13:43] rmosolgo commented on #1850
Hi, I just merged some new error handling for the interpreter runtime which supports returning/raising custom errors: https://github.com/rmosolgo/graphql-ruby/pull/2458

Please give it a try and let me know if you run into any other trouble by opening a new issue!

[2019-09-02 13:43] #1850 closed

[2019-09-02 20:16] davispuh opened #2459 "It appears that can't use Argument instance when creating Field"
https://github.com/rmosolgo/graphql-ruby/blob/869484464958cd6c5ec286260d5d5f9ba4cb51b1/lib/graphql/schema/field.rb#L229

It appears that ^ line/case is not usable.

Because it's not possible to create `GraphQL::Schema::Argument` without specifying `owner`  which is required and isn't changeable later.

https://github.com/rmosolgo/graphql-ruby/blob/1c95c917837491e8350e94a18c3f9c4d3f22bc9b/lib/graph

[2019-09-03 01:40] hueter commented on #1825
In agreement with @dkniffin, it wasn't clear to me why the resolver pattern is discouraged in the docs, as it would probably lead to a more modular code structure.

[2019-09-03 03:41] gfx opened #2460 "[Request] Utility to create aliases with deprecation_reason (when renaming fields)"
I have been maintaining a GraphQL schema for years, and I have renamed some fields with `deprecating_reason` by copy and paste the field definition.

I'm thinking a new feature to define alias with `deprecation_reason` like this:

[code]

What do you think of it?

[2019-09-03 13:25] rmosolgo commented on #2459
That's right, I don't intend to support making a schema apart from the class-based DSL. Is there a good reason to do it that way instead of something like:

[code]

?

[2019-09-03 13:25] #2459 closed

[2019-09-03 13:44] rmosolgo commented on #2456
Thanks for reporting this issue and sharing a reproduction of it.

It looks like we can get rid of this by moving the GraphQL::Errors setup into the schema file, for example:

https://github.com/rmosolgo/rails6_blog_issue/commit/bc9d4b81cf9a7d4183cf4fab01854a063b771503

Then, when I ran the tests, I didn't get that warning:

[code]

Also, I've just added some error handling to the gem which is ins

[2019-09-03 13:44] #2456 closed

[2019-09-03 14:05] rmosolgo commented on #2460
Personally, my experience with deprecation is that there is often more to change than just the name, for example, we also need to make one of the arguments required, or we need to change the return type. So, I don't have a use for it.

But, I think it should be straightforward to implement as a class method, for example:

[code]

(It will get harder and harder, the more use cases you have to cover

[2019-09-03 14:05] #2460 closed

[2019-09-03 14:08] rmosolgo commented on #2451
Getting the tests running on JRuby would be awesome! Ideally, it would be as easy as adding some new runs to `.travis.yml`, like this one:

https://github.com/rmosolgo/graphql-ruby/blob/869484464958cd6c5ec286260d5d5f9ba4cb51b1/.travis.yml#L79-L80

You might add:

[code]

For a basic run. If you want to _also_ test Rails, you could pick one of the rails gemfiles (eg `gemfile: gemfiles/rails_5.2.gem

[2019-09-03 14:08] #2451 closed

[2019-09-03 15:52] srgoldman commented on #2456
Thanks @rmosolgo. It worked for the blog example but didn't do the trick in my real application so I suspect that some other initializer must be loading the schema. I'll poke around and see if I can track it down and I'll take a look at the new error handling as well.

[2019-09-03 16:08] srgoldman commented on #2456
Found it. The schema was being referenced in our datadog initialization. I'll have to figure out a way around that.

[2019-09-03 17:51] chrisbutcher opened #2461 "Defined but empty schema.query type is not considered invalid"
# Expected behaviour

[code]

In accordance with the js reference implementation:

[code]
[code]

# Actual behaviour

[code]

Parsing the schema works, since the schema.query is defined and that's all the gem expects.

[2019-09-03 18:10] etherbob commented on #2303
Had a similar issue when I accidentally inherited from `BaseType` instead of `BaseObject`, but I had no hint that was what was wrong. Just `RuntimeError:
       Unexpected parent_type:`

[2019-09-03 18:27] etherbob commented on #2303
I was looking at the backtrace, but I always get a little tangled in the visitor pattern (my failing there) and I'm having trouble seeing where to hook in and raise that might call this out more clearly.

[2019-09-03 18:29] davispuh commented on #2459
Then probably should remove that line as it's unusable. I noticed it while looking how to dynamically create schema, fields and arguments.

Currently I'm doing it this way
[code]

[2019-09-03 23:45] gfx commented on #2460
Okay, I'll do it with a custom class method. Thanks for looking at this issue!

[2019-09-04 07:50] fredefox commented on #2427
The actual output of the query is `nil`.

Feel free to close the ticket if you think this may be invalid. @vecerek found a fix for what we're working on.

[2019-09-04 09:02] martinek commented on #1658
@kidcosmic Should that work? According to https://developer.mozilla.org/en-US/docs/Web/API/WebSocket WebSocket constructor does not take third argument.

[2019-09-04 09:06] kidcosmic commented on #1658
@martinek good point. We’re using this in React Native in production. Works fine there. You’d have to investigate if this works across browsers, or how you can modify the Websocket class to make it work.

[2019-09-04 09:07] martinek commented on #1658
@kidcosmic Looks like it is not currently possible to modify websocket headers in browsers. https://stackoverflow.com/questions/4361173/http-headers-in-websockets-client-api

[2019-09-04 20:45] #2419 closed

[2019-09-05 14:00] thornomad opened #2464 "PunditIntegration - undefined method `BaseArgument#authorized_by_policy?`"
Just started working with `graphql-ruby` and the `PunditIntegration` today and ran into an error as I went along with the docs:

```undefined method `authorized_by_policy?' for #<Types::BaseArgument:0x00007fab1252a818>\nDid you mean?  authorized?```

I was able to remedy this by updating my `BaseArgument` to:

[code]

Not sure if this indicates I set up something incorrectly or indeed the method n

[2019-09-05 14:06] rmosolgo commented on #2464
Hi, sorry about the hangup! Did you add the ArgumentIntegration to your base class as described here? https://graphql-ruby.org/authorization/pundit_integration.html#authorizing-arguments

That might add the missing methods. If it doesn't help, could you please share the full error message and back trace?

[2019-09-05 16:20] thornomad commented on #2464
@rmosolgo - thanks for the quick response.  That was definitely it!

II had been slogging through that page but obviously missed that step.  Appreciate it.

[2019-09-05 16:20] #2464 closed

[2019-09-06 00:44] rmosolgo commented on #2284
Thanks for that suggestion. I agree it could work _if you know_ that `name IS NOT NULL` is equivalent to `name > NULL` (that is, the database is sorting nulls last). The problem is, databases handle nulls differently:

- Postgres: nulls greater than any value, reordered with `NULLS FIRST | LAST`
- SQLite: nulls less than any value
- MySQL: nulls less than any value, unless `ORDER BY -...`

So, det

[2019-09-06 18:29] N0xFF commented on #1678
It actual problem? I can't reproduce in 1.9.9 with Interpreter and AST.

Executing without `filter` argument returns a filter object as expected.

[2019-09-06 19:28] thornomad opened #2465 "Apply pundit_role to an argument that is part of an InputObject"
Is it possible to apply a `pundit_role` to an `argument` that is part of an `InputObject`?

[code]

I have other `argument`s working spectacularly with the `pundit_role` directive but not inside of `InputObject`.  I am thinking that if it is, somehow the mutation would have to pass along information about the `Type` or the `Policy` in order for this to work ... if it's able to work at all.

[2019-09-06 23:31] jstrater opened #2466 "Upgrader fails on splat args in resolvers"
First of all, thanks for the upgrader utility! It's a great idea for large codebases.

The issue I've encountered is that `rake graphql:upgrade:member` raises an error when it hits a resolver with a splat in the arguments. For example, if I wrote a resolver that only depended on the first argument, and used a splat to ignore the rest, like this:
[code]
then I'd get the following error:
[code]
From

[2019-09-07 13:13] lostboy commented on #1708
Hi @jacob-s-son we'd be really interested in taking a look at your patch if you ended up implementing something

[2019-09-09 08:30] povilasjurcys opened #2468 "GraphhQL::Types::JSON returns plain string"
Maybe I'm missing something, but at the moment JSON type implementation does not make sense for me.

GraphQL JSON type is written as:

[code]

so it does not parse value in any form. No validation, no conversion from string to json. What I expect to find is this:

[code]

So at the moment I have to call `JSON.parse` in all resolvers where I expect JSON argument.
My question: is this no-json-parse

[2019-09-10 13:15] rmosolgo commented on #2468
@povilasjurcys How did it work when you tried it?

As far as I know, it works as intended. The tests are here: https://github.com/rmosolgo/graphql-ruby/blob/master/spec/graphql/schema/scalar_spec.rb#L46-L99

If you try to use it and find a shortcoming or a bug, please open an issue describing it.

[2019-09-10 13:15] #2468 closed

[2019-09-10 13:18] rmosolgo commented on #2465
It _should_ just work if you set up the `argument_class(...)` configuration as shown in the docs: https://graphql-ruby.org/authorization/pundit_integration.html#authorizing-arguments

Does that work for you? What happens when you try it?

[2019-09-10 13:24] rmosolgo commented on #2466
Hi, thanks for the detailed report! Are you interested in hunting a fix here? It would look like this:

- Add a `.original.rb` file to https://github.com/rmosolgo/graphql-ruby/tree/master/spec/fixtures/upgrader which reproduces the bug (with `bundle exec rake test TEST=spec/graphql/upgrader/member_spec.rb`)
- Add a `.transformed.rb` which reflects the _expected_ output
_ ... monkey with the upgrad

[2019-09-10 14:03] moger777 commented on #2166
I'm assuming a good workaround would be to create a custom scalar type on frontend. Does mean some duplication between front/backend but also means you can skip round trip to server to get the errors.

[2019-09-10 14:06] moger777 commented on #2166
Never mind, according to https://www.apollographql.com/docs/graphql-tools/scalars/ clients don't support custom scalars.

[2019-09-10 14:18] moger777 commented on #2166
I'm able to get path if I return nil instead of raising coerce value, of course, that messes up the custom error messaging so not ideal.

[2019-09-10 15:48] Envek commented on #1678
Yes, with [Interpreter](https://graphql-ruby.org/queries/interpreter.html) enabled it works like it should. :heavy_check_mark: @N0xFF, thank you for pointing it out!
With disabled interpreter this issue is still there, though.

The only weird case left is that you still should specify any default value for `filters` argument (like empty hash) or Ruby will throw exception about not provided keyword

[2019-09-11 15:00] singpolyma-shopify opened #2472 "Allow Marshal.dump/load of GraphQL::Schema"
This would be very useful for many default Rails caches, etc.  Just need something like:

[code]

[2019-09-12 13:09] simonhutchings opened #2473 "Grapghql with globalize"
I've been having problems working out how I would get a translation table converted with this gem. I can do it this way…

`field :translations, GraphQL::Types::JSON, null: true`

… this works, but exposes the entire table. OK for this particular one, but not the answer for all

Any ideas how I would set up Type eg.

[code]

The above doesn't work, presumably because it isn't a model, but an Transl

[2019-09-12 15:33] #2473 closed, assigned to nobody

[2019-09-12 16:01] gagalago opened #2474 "subscription event depend on arguments"
I am writing a graphql subscription through webhooks. My idea is that during the subscription the user must set the callback url where we will send events later.
something like:
[code]

this argument is only known at the subscribe and not at the update. I see https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/subscriptions.rb#L35 that we trigger event only if there is already a subsc

[2019-09-13 10:00] simonhutchings opened #2475 "Best GraphQL client for rails"
Not strictly a issue, but…

I have 2 rails apps i want to do manual syncs on certain parts of data.

Does GraphQL-ruby have a client? What other graphql rails clients are the cleanest and easiest to pull data from the server?

[2019-09-14 11:08] aspectgfg opened #2478 "Triggering event in GraphqlChannel unsubscribed leads to crash."
This looks like a race condition. Triggering an event in `GraphqlChannel.unsubscribe` causes a crash.

Code:

Same `GraphqlChannel` as docs,  except in unsubscribe we do as follows (tried putting trigger before and after the delete_subscription):

[code]

Stack Trace:

[code]

Only fix I have is to wrap the trigger event in a thread with a sleep 1:
[code]

[2019-09-15 13:57] rtymchyk opened #2479 "How to migrate middleware to class-based API?"
I have a middleware that wraps our Rails models/objects in a presenter, to expose presentational attributes of those models/objects to the GraphQL layer (in addition to any object/model attributes).

[code]

For types defined in the new class-based API, `parent_object` no longer corresponds to the actual object. It's the actual GraphQL layer object, such as `UserType`.

For types defined in the ol

[2019-09-15 15:45] swalkinshaw commented on #2479
[Field extensions](https://graphql-ruby.org/type_definitions/field_extensions.html) would be the appropriate replacement for this. You can use the extension's `resolve` method to call `as_presenter` and yield that object.

[2019-09-15 16:05] rtymchyk commented on #2479
@swalkinshaw I'm a worried about new presenter creation for every single field. I suppose I could memoize the it between multiple fields, but that increases the complexity.

The approach with/like the middleware provides seems more appropriate. Rather than do it at field level, just pass the presenter down the tree for all fields to use.

[2019-09-15 17:32] rtymchyk commented on #2479
Actually I might be wrong. Had to dig into the source code to understand a bit more, it looks like a middleware executes per field, not at 'object' level as I originally thought, so the suggestion to use field extension would be an almost identical implementation.

[2019-09-15 19:57] rtymchyk commented on #2479
So I gave it a shot with field extensions:
[code]

Running into the same problem. `object` here is `UserType`. I can see that I can access it by doing `object.object`, but I'm not able to redefine it `object.object = ` is not an available mutator.

Is the expectation that I should be getting the graph type or the model/underlying object? If it's the former, how can I redefine the underlying object

[2019-09-16 00:14] carltonsmith opened #2480 "Guide: Mutation Classes"
This all looks great, but it should say where the code should go

[2019-09-16 17:10] rmosolgo commented on #2479
It looks like you're trying to modify the object that _owns_ the field before a field is resolved on that object. But what if you went about it the other way, and tried to modify an object that was _returned_ from a field? That is, after an field resolver returns an instance of `::User`, you could call `.to_presenter` on before it's handed over to GraphQL-Ruby and wrapped in `UserType`. One advant

[2019-09-16 17:11] rmosolgo commented on #2479
(Sorry, bad at buttons)

[2019-09-16 17:15] rtymchyk commented on #2479
@rmosolgo That makes sense. It should be decorating everything, just on the output not the input. I'll give this a shot, thanks for your comment :)

[2019-09-16 17:25] rmosolgo commented on #2465
Thanks for sharing those details! Yes, it definitely makes sense. Maybe it's a bug, let me take a look and follow up here.

[2019-09-16 17:28] rmosolgo commented on #2478
Thanks for sharing the details here! I bet it's confused because ActionCable hasn't let go of the subscription yet (since `unsubscribe` hasn't returned). Another work-around might be to put the `.trigger` call in a background job. (That would give you a little more confidence that you didn't lose it during a deploy, for example.)

[2019-09-16 20:46] rtymchyk commented on #2479
Unfortunately this breaks down in the case where I have an old type defined with `.define` referencing a new type defined with class API. The extension won't execute there, and the middleware will run into the issue described in my first post, so I think I'll need to migrate over completely to the class API to guarantee that this works globally.

Anyway, the solution above works well assuming exte

[2019-09-16 20:51] #2479 closed

[2019-09-17 14:46] rmosolgo commented on #2474
Is the callback URL something that you will use to deliver a payload to the subscriber? If so, won't you have to store the callback URL in order to deliver a payload to it? If you have the callback URL stored somewhere, maybe you could pass it to `.trigger`.

Or, if I have misunderstood what `callbackUrl` is for, could you tell me more about what you're hoping to accomplish with it?

[2019-09-18 14:22] gagalago commented on #2474
indeed, the callback URL is used to know where to send the payload of each event. So I store it when I receive the subscription then I use it on each event to send the event payload to each callback URL of that kind of subscription.

For example, we can have multiple users that request to be notified of `opportunitySubscription` and each of them will send a different `callback_url`. When there is

[2019-09-19 21:56] gopeter opened #2485 "How to get arguments of generated fields with custom types"
Since I have a lot of arguments to share (same search params for multiple models), I made use of this great examples: https://graphql-ruby.org/fields/resolvers.html

So that's my generator:

[code]

Which I'm using here:

[code]

`order`, `page` and `per_page` works fine, but while using `filter` my `args` object looks like this:

[code]

That's my `Types::ProjectFilterType`:

[code]

Is this inte

[2019-09-20 13:10] rmosolgo commented on #2474
Thanks for all those details. Very interesting!

Yes, I agree that makes sense. There are really two parts to a GraphQL subscriptions system:

- The GraphQL schema (types, fields, arguments, etc)
- The transport layer (ActionCable, Pusher, etc)

So, maybe you want to embed the callback url in the _transport layer_ instead of in the GraphQL schema. (In this case, you can think of the callback url a

[2019-09-20 13:10] #2474 closed

[2019-09-20 13:16] rmosolgo commented on #2485
Thanks for sharing all these details, but I don't quite understand the problem. Did you encounter an error, or is there some code that didn't work the way you expect?

Maybe you're asking about the `filter: ...` value:

Yes, that's right. When GraphQL-Ruby encounters an input object from the client, it initializes an instance of the type class which wraps the client-provided value. The type instan

[2019-09-20 13:16] #2485 closed

[2019-09-20 13:22] gopeter commented on #2485
Oh, sorry my question wasn't clear enough! Yes, basically I just wanted to know if this `{:filter=>#<Types::CustomerFilterType` is the right output or if I did something wrong and `to_h` was just some kind of lucky workaround, because I've expected to get the real values `{:filter={:foo=>"bar"}}`. But that's settled now :-)

Thanks for your time and your quick reply!

[2019-09-23 07:58] gagalago commented on #2474
thanks a lot. I was too focus to use GraphQL and I forgot that I can use HTTP headers or query param and then provide them to the transport layer through the context.

[2019-09-23 22:14] lifeiscontent opened #2490 "creating nested input objects in graphql-ruby"
@rmosolgo in the graphql spec, its generally encouraged to have nested keys in your input objects.

e.g.

[code]

how do I do the same within the graphql gem?

[2019-09-24 13:58] rmosolgo commented on #2490
The easiest way is to use `RelayClassicMutation`, eg:

[code]

Then, any `argument ...`s defined on mutations will be added to the `*Input` type, which is generated by the library.

If you want to do it by hand, you can create an input object, then use that input object as an argument type, for example:

[code]

Then, it will be like the schema you posted in the example.

[2019-09-24 13:58] #2490 closed

[2019-09-24 22:32] genxhero opened #2492 "Guide: Triggers"
But what about deletion?  What are we supposed to do for a comment DELETION subscription?

[2019-09-25 13:52] rmosolgo commented on #2492
Hi! I think it would work pretty much the same. Set up a subscription with GraphQL, then while deleting the comment, capture its ID (or whatever you need to call `trigger`), delete the comment, and if the delete succeeds, call `trigger` with the information captured beforehand.

Please let me know if you give it a try and run into any issues!

[2019-09-25 13:52] #2492 closed

[2019-09-25 14:32] genxhero commented on #2492
Nope that's not the case it immediately tries to find the active record
after it's deleted for some stupid reason

On Wed, Sep 25, 2019, 6:52 AM Robert Mosolgo <notifications@github.com>
wrote:

[2019-09-25 14:52] rmosolgo commented on #2492
Sorry to hear it 😖  If you want to debug further, please share the definition of your subscription, the source for your `.trigger` call, and if your code reaches a Ruby error, please share the full error message and stack trace.

[2019-09-25 15:30] genxhero commented on #2492
Regarding the trigger I literally tried everything: passing the comment
data prior to destruction, passing an ID, even changing the return format
to GraphQL::Types::JSON (which didnt work).

 field :comment_deleted, Types::CommentType, null: false

def comment_deleted

end

[code]

COmment Type version

module Mutations

class DeleteComment < BaseMutation

include Concurrent::Async

argument :id,

[2019-09-25 15:33] genxhero commented on #2492
And on the frontend all of the subscriptions are expecting the same type of
data as the index query.

import gql from 'graphql-tag';
import mutation from '../mutations/delete_comment';

const CommentSubscription = gql`
subscription CommentSubscription {
   commentAdded {
    commentor {
      username
      id
    }
    body
    id
    createdAt
   },

    commentUpdated {
      commentor {

[2019-09-25 16:48] mkonikowski opened #2494 "Custom connection type not working with a resolver."
I've followed examples from [connection-types](https://github.com/rmosolgo/graphql-ruby/blob/master/guides/relay/connections.md#connection-types) , but apparently this is not working for a resolver...

For this connection type
[code]

Something like this is working fine:
[code]

but as method `posts` is quite big, I've moved it to a resolver:

[code]

and this is not working... I get the error:
[c

[2019-09-25 21:56] javiercr opened #2495 "Subscriptions with ActionCable do not work with new Interpeter"
First of all, thank you for all your work on this library!

As it was previously reported, it seems there are some issues with the [new Interpreter](https://graphql-ruby.org/queries/interpreter.html) and [ActionCableSubscriptions](https://graphql-ruby.org/api-doc/1.9.12/GraphQL/Subscriptions/ActionCableSubscriptions). This has been reported in #2446, #2483, but those issues didn't provide a failin

[2019-09-26 14:55] rmosolgo commented on #2495
Thanks for your work here, @javiercr! I pulled your branch and tried it locally, and I got the same error.

I think the difference is that:

- Before the interpreter, the return value of subscription fields were actually _ignored_
- This reduced customizeability and confused people
- So, in the interpreter, the return value of subscription fields is _used_, and passed along for resolving subscript

[2019-09-26 16:11] javiercr commented on #2495
Wow it was that 😅. Yep, it works now both in the test project and in our own private project. That's wonderful.

I guess the docs need an update? Because I've seen other people in the issues struggling with similar issues.

Thank you so much for taking a look to this and finding a workaround so quickly!

[2019-09-26 17:44] daemonsy commented on #2475
Hi @simonhutchings assuming you're talking about a Ruby based client. `graphql-ruby` doesn't include a Ruby based client, there are some as https://github.com/github/graphql-client and https://github.com/yuki24/artemis.

I personally had good success with Artemis on a Rails app.

If you find any interesting client approaches / issues etc, happy to hear about them (or even a PR to the docs)

[2019-09-26 17:44] #2475 closed

[2019-09-26 17:46] daemonsy commented on #2480
Using https://graphql-ruby.org/mutations/mutation_root.html as an example, do you mean having something like a comment for the file? `# In graphql/types/mutation.rb`

[code]

[2019-09-26 17:47] daemonsy commented on #2359
hey @cassiopagnoncelli did you ever get to the root of the issue?

[2019-09-26 18:05] daemonsy commented on #2405
Hi, I see a :+1: on Robert's comment from @cabello , going to close this.

[2019-09-26 18:05] #2405 closed

[2019-09-26 18:31] lifeiscontent opened #2496 "Errors seem broken"
https://github.com/rmosolgo/graphql-ruby/blob/94bbd55095941909c75d3c76538af1e4c42c451a/lib/graphql/execution_error.rb#L3

trying to add an error subclass, I've realized that only returning my error class will actually return the JSON output I'd expect.

The docs say to raise the error, but they're either confused, or this is a bug 🤷‍♂

[2019-09-27 16:00] michal-samluk opened #2497 "[PRO] scope: false is not used for `nodes` field in a connection"
I am getting this error:
[code]
while querying like this:
[code]

My field definition looks like this:
[code]

But while fetching edges I am not getting such error:
[code]

It seems it is related to: https://github.com/rmosolgo/graphql-ruby/issues/1974

[2019-09-27 20:21] whereyoubinns opened #2499 "Actioncable subscriptions trigger payload is stringified"
Hey! I’m having issues with the graphql subscriptions implementation using actioncable/anycable.

We’ve successfully added the subscription to the schema and the initial subscription is created. But triggering is causing issues.

I'm triggering my subscription update using this command:
![image](https://user-images.githubusercontent.com/49168885/65799371-362bd480-e131-11e9-8d07-129695aeec16.png)

[2019-09-28 08:25] 23tux opened #2500 "Test helper: Generate a sample response based on a query"
Hi,

I was wondering if it is possible to generate a sample response from a query. When testing views that are based on a complex graphql response, hitting the DB over and over again makes the tests real slow. So we mock the response from graphql.

But this became very unhandy, because you have this long fixtures in your tests. Most of the time we just pass dummy objects to the view that maintains

[2019-09-28 12:56] sarink opened #2501 "How to generate schema.json"
I've seen that there's a SchemaPrinter class. I also see that there are some rake tasks we can include.

However, I am unable to figure out exactly how to print a schema.json from the command line in a vanilla rails app. Are there any instructions for this?

[2019-09-28 15:36] 23tux commented on #2501
See here https://graphql-ruby.org/api-doc/1.9.12/GraphQL/RakeTask

Create a file `lib/tasks/graphql.rake` with this content

[code]

* `rails graphql:schema:dump` dumps both a `schema.graphql` and a `schema.json`
* `rails graphql:schema:json` dumps only a `schema.json`
* `rails graphql:schema:idl` dumps only a `schema.graphql`

You can also customize the `RakeTask.new` for example, mine looks like

[2019-09-28 17:45] sarink commented on #2501
I looked and looked and somehow missed this page in the docs. Thanks!

[2019-09-28 17:45] #2501 closed

[2019-09-28 21:02] volkanunsal opened #2502 "Pagination returns wrong cursors after second page"
I'm getting the wrong cursor from `pageInfo` after paginating a few times. You can see more clearly in the output below:

[code]

My query is using `before`, `after` and `first`. And the value of `first` is always 10.

[code]

[2019-09-29 23:07] cassiopagnoncelli commented on #2359
@daemonsy Not really, what I did was to actually recode from scratch and now it's up & running.

[2019-09-30 10:54] rmosolgo commented on #2497
Hi, sorry about the trouble! Since the `nodes` field belongs to the `PostsConnection` type in this example, it will require some customizations in the connection generation code.

You can see how the base connection class generates its `nodes` field here:

https://github.com/rmosolgo/graphql-ruby/blob/94bbd55095941909c75d3c76538af1e4c42c451a/lib/graphql/types/relay/base_connection.rb#L93-L97

So,

[2019-09-30 10:57] rmosolgo commented on #2502
Sorry to hear it! Could you please tell me more about the underlying data? Is it an ActiveRecord relation? If the data is backed by a database, could you share the queries that run while executing each GraphQL query?

Also, could you share the request logs that show which cursors are being passed _into_ the GraphQL query after each page click?

[2019-09-30 11:31] volkanunsal commented on #2502
Thanks, I captured all the log output on the server and [pasted it here](https://gist.github.com/volkanunsal/ae6799029b6d7dd120b3b12531256827).

[2019-09-30 13:23] daemonsy commented on #2359
@cassiopagnoncelli sorry to hear that you have to redo the schema from scratch. Well at least the problem's gone :)

I'm going to close the issue, if you bump into some issue like this 🤞  in the future and discover a gotcha, be glad to take a PR to document it.

[2019-09-30 13:23] #2359 closed

[2019-09-30 19:06] rmosolgo commented on #2496
Hi! Sorry you're running into trouble, but this is not enough information to debug further. If you want to look into it, please share:

- Any error messages and stack traces you encounter
- Source code from your application relevant to the issue
- Description of expected behavior vs actual behavior

If you're interested in sharing any of that information (or more, if anything else is relevant!), p

[2019-09-30 19:06] #2496 closed

[2019-09-30 19:10] rmosolgo commented on #2499
Hi, sorry about the trouble!

It looks like you're passing a response-like Hash (containing `:data` and `:more`)  into `.trigger`, but instead, you should pass an object from your application into `trigger`. For example, if someone subscribed to new comments on a post:

[code]

Then, in the Ruby code, we'd call `.trigger` with the newly created comment:

[code]

After that, GraphQL-Ruby would take

[2019-09-30 19:10] #2499 closed

[2019-09-30 19:13] rmosolgo commented on #2500
I think that's a great idea! But no, unfortunately there's nothing in this library to help with that.

One thought I can share is, what if you _dumped_ your application's schema to the GraphQL definition language, then _reloaded_ the schema from that definition, but instead of calling application code, you returned faker data? For example:

[code]

You'll find `Schema::BuildFromDefinition` and `Sc

[2019-09-30 19:13] #2500 closed

[2019-09-30 19:14] rmosolgo commented on #2495
Glad to hear it works for you! You'll find an "Edit this page" link on the docs website, so if you find something to update, please open a PR.

[2019-09-30 19:14] #2495 closed

[2019-09-30 19:32] rmosolgo commented on #2502
Thanks for sharing those logs, that's really helpful.

I noticed that in `click4`, it's asking for:

The _first_ 10 before `MjE` will be the first 10 _of the whole set_. Usually, you want to use `last` and `before` together, for example:

That will give you 10 items _immediately_ preceding `MjE`.  Could you update the client logic to use `last` instead of `first` in that case?

If that doesn't cle

[2019-09-30 19:32] #2502 closed

[2019-09-30 19:36] rmosolgo commented on #2494
Hi, thanks for the detailed issue! It _seems_ like it must be some kind of load order issue. But then, the solution for that caused another issue.

Since `"PostConnectionWithTotalCount"` doesn't end in `"Connection"`, GraphQL-Ruby didn't realize to automatically apply connection handling. Could you try adding `connection: true` to your field configuration? For example:

[code]

If that fixes it fo

[2019-09-30 20:08] volkanunsal commented on #2502
Oh wow, thank you so much. What a relief!

[2019-10-01 06:18] 23tux commented on #2500
Thanks for your hints!

I already played around an afternoon and went for the approach where I traverse all selections of a node, check if it's a list to determine wether or not the parent object is a hash or an array with `field.type.list?` and so on.

It works so far, but it is a lot of code. So I'm eager to try your solution.

I had a look into the `GraphQL::Schema::BuildFromDefinition` class a

[2019-10-01 12:06] michal-samluk commented on #2497
It looks it should work. I will let you know when I will check it. Thanks.

[2019-10-01 13:49] #2259 closed

[2019-10-01 13:56] rmosolgo commented on #2279
@gagalogo, the snippet you pasted with `def resolve(*)` is the expected configuration for a subscription like this. The `field ...`s that you add to a subscription class will be resolved against the return value of `resolve`, so you've done the right thing by returning a hash with a key for each of those fields.

[2019-10-01 15:12] #2480 closed

[2019-10-01 15:38] whereyoubinns commented on #2499
Thanks for the response!

I found the problem to lie between `anycable-go` and `ruby-graphql` after finding this issue https://github.com/anycable/anycable-rails/issues/40.

Using the `graphql-anycable` gem (https://github.com/Envek/graphql-anycable) solved this problem. Needed to use AnyCableSubscriptions instead of the ActionCableSubscriptions 👍

[2019-10-01 17:38] lifeiscontent commented on #2496
@rmosolgo the docs say to `raise` an ExecutionError, while the actual code says to `return` it

I've tried to `raise` a GraphQL::ExecutionError and it doesn't work the same way as when you `return` it.

I don't understand why you need more information, I'm just telling you, your documentation is out of sync with actual behavior.

[2019-10-02 04:11] povilasjurcys opened #2506 "Parse error when non-last argument ends with two backslashes (\\)"
graphql generates parse error response when:
* field has multiple arguments
* non-last string argument has double backslashes in the end (example: "abc\\\\")

Everything works fine if backslashes are  in last argument or backslashes are not at the end of string (this will not generate parse error: "ab\\\\c"). Also it works fine if I pass values via variables

## The proof

I have a new project and

[2019-10-02 12:54] igorlemosvicente opened #2507 "Is there a way to define camelize: false by default in all fields?"
If not, where could it be so I can create a pull request?

[2019-10-02 14:11] daemonsy commented on #2371
Hi I took a stab at this with https://github.com/rmosolgo/graphql-ruby/pull/2505

[2019-10-02 14:33] nesrual commented on #2465
+1

I have the same problem. Exact same setup.

[2019-10-02 17:30] daemonsy commented on #2507
Hi @igorlemosvicente you can pass `camelize: false` in your base field as a default arg option.

https://graphql-ruby.org/fields/introduction.html#field-parameter-default-values

If this doesn't solve the problem, feel free to reopen the issue.

[2019-10-02 17:30] #2507 closed

[2019-10-02 17:45] cantino-automated-sys-account commented on #1678
We just ran into this as well in our app that doesn't yet use Interpreter. Defaults are not applied for the sub-object when the field using it has a `default_value` of `{}` (or when it has no `default_value` at all). Is there some way we could set the parent field's `default_value` to something like `Types::Product::Filter.defaults`? I.e.g, is there some method to generate the default output of an

[2019-10-02 17:45] cantino commented on #1678
We just ran into this as well in our app that doesn't yet use Interpreter. Defaults are not applied for the sub-object when the field using it has a default_value of {} (or when it has no default_value at all). Is there some way we could set the parent field's default_value to something like Types::Product::Filter.defaults? I.e.g, is there some method to generate the default output of an object?

[2019-10-02 18:52] daemonsy commented on #2506
Thanks for submitting a reproduction example, that is really awesome :heart:

I'm trying to see if this can be reproduced

[2019-10-02 20:15] daemonsy commented on #2506
Can reproduce the anomaly using the two strings below.

[code]

Since it errors at the `GraphQL.parse` call, it's probably something at the lexer/parser level.

@povilasjurcys are you interested in taking a stab at this?

[2019-10-03 11:48] rmosolgo opened #2509 "Input objects' authorization hooks aren't implemented"
Although _fields_ and _resolvers_ check their own arguments for `.authorized?`, this check isn't passed along to any InputObjects that are part of those arguments. (This isn't a problem for RelayClassicMutation, since in that case, the defined `argument ...`s are attached to the mutation itself.)

It _should_ check any relevant authorization hooks for the arguments that are present, similar to how

[2019-10-03 18:05] lifeiscontent commented on #2496
ping @rmosolgo

[2019-10-03 19:14] lifeiscontent opened #2511 "there should be an equivalent Query type that functions the same as Mutation"
the mutation API for 1.9 is pretty nice,

however there should be an equivalent for Query

e.g. if I have a

```field :posts, query: Queries::Posts```

which should have literally the exact same API as mutation so then we have a simple way to break down each resolver.

in Apollo Server the way they've structured it is very simple.

e.g. typeDefs defines the schema, resolvers are used to resolve th

[2019-10-04 07:10] povilasjurcys commented on #2506
ah, @andrewdotn was smarter and faster then me. Thanks!

[2019-10-04 12:27] #2506 closed

[2019-10-04 12:32] #2246 closed

[2019-10-04 12:36] rmosolgo commented on #2511
Thanks for the suggestion! How do you think the `Query` class would be different from `Resolver`?

Regarding nullability syntax, I expect Resolver and Mutation to accept either one, since both are defined in `Resolver`:

https://github.com/rmosolgo/graphql-ruby/blob/a16ce4fa10c5113ab569071e48d89983f95ed4f9/lib/graphql/schema/resolver.rb#L217-L218

https://github.com/rmosolgo/graphql-ruby/blob/a16c

[2019-10-04 12:41] #2371 closed

[2019-10-04 14:31] khamusa commented on #1505
Same here, issue happens on heroku when booting up a new dyno.

We are using the gem version 1.8.x, and we had the old DSL type definition api in place. After many tests we found out that migrating to the class based api would solve the issue, so we sped up the whole api migration and we rarely get the issue anymore, but we still do.

A few characteristics of the issue on our side:
- Once a dyno b

[2019-10-04 15:18] rmosolgo commented on #1505
Hi @khamusa, thanks for the detailed report.

Especially since you're running a threaded server, I agree that it's a race condition. Just to confirm, do you still experience this issue after adding `graphql_definition` to the bottom of your schema class? For example:

[code]

I would _expect_ that to load all the types _before_ spinning up worker threads, but I'm interested to hear what your exper

[2019-10-04 21:42] lifeiscontent opened #2512 "how to allow public access to fields?"
e.g. If I extend my Field, and allow it to pass `allow_anon: true` how do I tell the child fields to skip its authorization checks?

[2019-10-05 09:21] shrirambalakrishnan commented on #2332
Can I take this up?

[2019-10-05 17:04] fxn commented on #2448
Hey! The error raises right after `GraphqlErrorSchema` is reloaded:

[code]

You can see this by throwing

[code]

in _config/application.rb_.

I see in the source code this comment:

[code]

Could it be the case that the gem caches the class object that was once stored in the `Account` constant?

If that cache is not invalidated on reload, in the request after the edition `Account` is reloaded, a

[2019-10-06 12:09] jbryant92 commented on #2067
@rahulbajaj0509 Did you get anywhere with this one? If not I can take a look.

[2019-10-06 23:37] carltonsmith opened #2514 "undefined method `map' for #<User:0x00007fadedfc8530>\nDid you mean? tap"
I'm getting this error in Rails 6 on a pretty simple association. Here is the stacktrace...
[code]

This is what I have in my type definition...
[code]

Here is what is in the query_type.rb for this type:
[code]

Here is the user_type.rb
[code]

And here is my Graph query:
[code]

I get the error when I include either "User" or "Industry" with the business queries. I also get it when I include "Bu

[2019-10-06 23:58] carltonsmith commented on #2514
I was able to resolve this by changing the following line:
`field :user, type: [Types::UserType], null: false`
to
`field :user, Types::UserType, null: false`

I'm not sure why the first way works for some associations and not for others, but that seems to be the case. This looks like a bug to me, so I'm keeping it open for someone who knows better to look.

[2019-10-07 15:46] daemonsy commented on #2514
@carltonsmith when you wrap an `[]` around a type, you're saying it's a `list`, a.k.a many users instead of one.

If a business has **one** user, `field :user, Types::UserType, null: false` is what you want.

If your business has many customers, you might want something like

`field :customers, type: [Types::CustomerType], null: false # must return list of customers or empty array []`

[2019-10-07 15:48] daemonsy commented on #2514
If my comment addresses your issue and there are more questions around this, you can also ask them on #ruby on https://graphql.slack.com

[2019-10-07 15:48] #2514 closed

[2019-10-07 17:16] carlsmith-aob commented on #2514
Thanks - this explanation makes sense and matches my experience, so thanks for letting me know

[2019-10-07 21:10] mpoisot opened #2515 "Guide: Integration Tests"
In the section the [last section](https://graphql-ruby.org/testing/integration_tests.html#testing-transport-level-behaviors) the header name is wrong.

"Authentication" should be "Authorization"

[2019-10-07 21:48] lifeiscontent opened #2516 "How to check a fields meta data in resolve?"
e.g. if I create some meta data on a field such as

`field :createReference, mutation: Mutations::CreateReference, allow_anonymous: true`

and then in the mutations resolve

how would I know that the `allow_anonymous: true` has been set?

[code]

[2019-10-07 21:48] lifeiscontent commented on #2516
@rmosolgo

[2019-10-08 00:55] rmosolgo commented on #2516
Hi, good question! First, two easy answers to different questions:

- For fields which _don't_ use `mutation:` (or `resolver:`), you can use `self.` inside resolve. For example, if you have a base `GraphQL::Schema::Field` subclass, you can use `self.` inside [`resolve`](https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/schema/field.rb#L495) (for the interpreter) or [`resolve_field`]

[2019-10-08 00:55] #2516 closed

[2019-10-08 07:28] dteoh commented on #1109
I'm on 1.9.10 and also having this issue. Unlike others, setting `first` or `last` has zero effect, it always returns `false`.

[2019-10-08 09:25] sayduck-daniel opened #2517 "Timeout missing partial response"
I've issues to get timeout work as expected.

The [documentation](url) says:

When I set the timeout with:

[code]

I'm testing it with these fields in my QueryType:

[code]

and the query

[code]

----

with variables

[code]

returns

[code]

----

with variables

[code]

returns

[code]

It looksl ike the data payload is empty while it should return `name`, `one` and `two`?

[2019-10-08 12:40] iDuuck opened #2518 "Latest version on RubyGems not up to date"
Hey guys, I want to use the `context.parent` feature to only show specific things to a specific user on a specific nested model. Now I just digged into the source code, and I found out, that my installed source is way older than the one on the GitHub. When I try to install the source from GitHub, I am keep getting the message:

[code]

Please, could you tell me how to install the latest version of

[2019-10-08 13:19] rmosolgo commented on #2518
The repository is called `graphql-ruby`, so you need to configure it like:

[code]

Hope that helps!

[2019-10-08 13:19] #2518 closed

[2019-10-08 13:21] rmosolgo commented on #2515
Hi! Thanks for reporting an issue. I took another look at the page but I didn't spot the mistake. How about using the "Edit this page" link to submit a correction?

[2019-10-08 13:21] #2515 closed

[2019-10-08 15:27] daemonsy commented on #1923
For additional context, if you try to use any of the provided tools from `graphql-js` to parse the schema built by calling `Schema.execute(GraphQL::Introspection::INTROSPECTION_QUERY)` with empty objects, an error is thrown.

One of the problems I faced in real life:
1. someone new to GQL is trying to introduce an object into the system
2. starts off with an empty class definition
3. Tries to get

[2019-10-08 15:29] swalkinshaw commented on #1923
https://github.com/rmosolgo/graphql-ruby/pull/2462 addresses this old issue as well?

[2019-10-08 15:33] daemonsy commented on #1923
It looks like it! I’ll follow/contribute to that instead

[2019-10-08 19:24] lifeiscontent opened #2522 "how to extend a mutation?"
e.g.

if I want to create a method on a mutation like

[code]

which would then be called from my base mutation

[code]

[2019-10-08 19:36] thornomad opened #2523 "GraphQL::Execution error not being handled correctly inside graphql-batch"
I'm not sure if this is any issue with `graphql-ruby` or `graphql-batch`, but I will start here.

When an error is raised from inside a `RecordLoader#perform` method, it doesn't seem that `GraphQL::ExecutionError` is able to handle its _magic_ correctly.  Instead, I am getting a standard error response (and not the pretty GraphQL compliant one).

### here is my (simplified) setup and working examp

[2019-10-08 19:45] rmosolgo commented on #2523
Thanks for reporting this! I think it's a bug in GraphQL-Ruby. Any error during execution should be captured like you expect.

Could you please share the full stack trace of that uncaught error? That would tell me what codepath within execution isn't properly rescuing errors. (Apparently I overlooked a spot!)

[2019-10-08 19:55] thornomad commented on #2523
Sure thing, so `error_handler:15` is right here:

[code]

And this is the full backtrace.

[code]

[2019-10-08 22:25] chadwtaylor commented on #2465
+1

Looking forward to the fix.

[2019-10-09 00:51] rmosolgo commented on #2465
Hi, sorry for the slow turn-around on this, and thanks for the bumps here. I've just released graphql `1.9.13` and graphql-pro `1.10.8` which should fix this. Please update to those versions and give it another go, and let me know if you run into any other trouble!

[2019-10-09 00:51] #2465 closed

[2019-10-09 01:08] rmosolgo commented on #2523
Thanks, that's really helpful! It looks like I missed a spot in my earlier work. After I merge #2525, you can use a patched version from master:

[code]

And it'll release in the next version. Please let me know if you run into any trouble after upgrading!

[2019-10-09 01:17] rmosolgo commented on #2517
Hi, thanks for the very detailed report here! I think this is due to the GraphQL specification's "null propagation." When a non-null (`null: false`) field would return `nil`, GraphQL removes the _whole parent object_ from the response so that it doesn't return a `nil` that breaks type safety.

To demonstrate, when I copied your schema but changed the fields to use `null: true`, I got:

[code]

Aft

[2019-10-09 01:17] #2517 closed

[2019-10-09 01:19] #2523 closed

[2019-10-09 01:19] panbanda opened #2526 "Union Field Can't Add Resolver to Another Class"
I had a hard time naming this behavior.  Sorry for the weird title I can change it if I can figure out a better way to phrase it. :P

I have two classes that are joined to a polymorphic source.

[code]

These two classes both have a `RecordsSearch` resolver which is pretty basic:

[code]

Here is the actual `Records` type with the BaseUnion object:

[code]

The issue is if I uncomment that line (c

[2019-10-09 03:27] dteoh commented on #1109
I wrote my own `GraphQL::Relay::BaseConnection` class to replace the default `ActiveRecord::Relation`'s connection implementation, it seems to work for our codebase.

Custom class here: https://gist.github.com/dteoh/bf063050ee3298910c70f2af1c61c879

Activate with:

[code]

[2019-10-09 04:18] connorshea opened #2527 "Can't find ISO8601Date"
Hi! I just upgraded to graphql 1.9.13 and I can't figure out how to get the new ISO8601Date type (from #2471) to work.

I tried adding it to my `GameType` class (simplified for this issue), like this:

[code]

But this results in my API request specs failing with one of two errors:

[code]

[code]

And causes the actual API requests to fail as well.

When I use `bundle open graphql`, the `lib/grap

[2019-10-09 04:22] connorshea commented on #2527
Ah, is it because the date class isn't required in [`lib/graphql/types.rb`](https://github.com/rmosolgo/graphql-ruby/blob/master/lib/graphql/types.rb)?

[2019-10-09 04:25] connorshea commented on #2527
I've confirmed that fixes it for me, and opened #2528 👍

[2019-10-09 10:26] #2527 closed

[2019-10-09 10:27] rmosolgo commented on #2527
Thanks for your detailed report here, and for pushing a fix! It'll be on rubygems soon, in the meantime, you can bundle master with

[code]

[2019-10-09 13:10] thornomad commented on #2523
Fix confirmed!  Seems to have resolved it. Thank you.

[2019-10-09 14:12] thornomad commented on #2465
Thanks for working on this!

I updated to the latest version and after adding `def self.pundit_policy_class` to my `PersonInput` (from the example in my comment above) I can confirm now that _the policy is now being called via the input_!  👍

**However:** I think I am still missing another piece of this puzzle (I went over the docs again but didn't see it).

While the pundit policy is being called

[2019-10-09 18:04] dmaze opened #2530 "Field arguments inaccessible when schema is created from_definition"
We have been generally writing GraphQL services by writing out the GraphQL schema IDL and then creating the graphql-ruby object model by calling `GraphQL::Schema.from_definition` on it.  This requires passing in a hash of resolver functions, which get passed the current object, the field arguments, and the current context.  This setup has broken for us, specifically in graphql-ruby 1.9.8.

A typic

[2019-10-09 21:07] rmosolgo commented on #2530
Hi, thanks for the very detailed report! I honestly don't remember if this was intentional or not 🙈 I will look back at the recent changes and see where it popped up!

[2019-10-09 21:10] rmosolgo commented on #2530
By the way, the work around is to access those arguments by key, instead, for example:

[code]

It's probably worth it to make the migration. In GraphQL 1.10, those `args` objects will be plain Ruby hashes, at least by default.

[2019-10-09 21:30] marcpoulin opened #2532 "Accessing Connection's Pagination Arguments in Resolver"
This isn't really a bug - it's more of a question. I'm on `1.9`.

I'm testing out this gem and I'm curious if there's a way to access the `first`, `last`, `before` and `after` methods in my connection type's resolver. I noticed they're being deleted automatically by the `ConnectionExtension` here: https://github.com/rmosolgo/graphql-ruby/blob/7239c771f52b77341a795a45766619d4230eaa94/lib/graphql/sc

[2019-10-10 01:46] lifeiscontent commented on #2522
@rmosolgo do you think you could shed some light on this? I tried using class instances variables and it's not reliable at all.

[2019-10-10 13:14] rmosolgo commented on #2472
Ah, yes, I think it's better for your case. If you like, you could also add that to your own schema class, eg

[code]

Thanks for sharing!

[2019-10-10 13:14] #2472 closed

[2019-10-10 13:18] rmosolgo commented on #2067
I don't think this was ever worked on.

[2019-10-10 13:19] rahulbajaj0509 commented on #2067
@jbryant92 @rmosolgo hey, I am sorry I was not able to work on this one. Please free to take this over.

[2019-10-10 15:16] pyrabbit opened #2533 "Uninitialized constant GraphQL::Types::ISO8601Date"
When attempting to use GraphQL::Types::ISO8601Date as a scalar type inside one of my obects, I receive an **Uninitialized constant GraphQL::Types::ISO8601Date** error.

The only way to resolve this is to add `require 'graphql/types/iso_8601_date'` at the top of my model.

I am using the standard folder structure generated by the `rails g graphql:install` and `rails g graphql:object` commands. Is t

[2019-10-10 17:38] javiercr commented on #2533
Is this a duplicated of #2527? If so, it got fixed on #2528 and published as `v1.9.13`

[2019-10-10 17:48] pyrabbit commented on #2533
@javiercr Ah, yeah this probably a duplicate. I will point to master in the meantime. Thanks for the quick response!

[2019-10-10 17:48] #2533 closed

[2019-10-10 20:02] rmosolgo commented on #2261
This should be fixed in 1.10.0.pre1!

[2019-10-10 20:02] #2261 closed

[2019-10-10 21:31] rmosolgo commented on #2465
Thanks for the details on that, @thornomad . It required a bigger shift, actually a breaking change to graphql-ruby. Previously, argument values weren't included at all in the authorization system. Now, they're passed down as arguments to `.authorized?` methods, which was a breaking change. I've put this change on the 1.10-dev branch: https://github.com/rmosolgo/graphql-ruby/pull/2520

I've just r

[2019-10-11 02:54] f440 opened #2537 "Can't resolve argument when using class based API"
- graphql-ruby v1.9.13
- Ruby on rails v5 and v6

I made class based type and query:

[code]

and executed query like this:

[code]

and caught this error:

[code]

I find this in graphql-ruby source:
https://github.com/rmosolgo/graphql-ruby/blob/de26425c8ba2e67c068bbf2c396b95b6847d2ff7/lib/graphql/schema/field.rb#L519

`extended_args` is class (ref. https://github.com/rmosolgo/graphql-ruby/blob/m

[2019-10-11 06:14] johanandre commented on #2537
+1

[2019-10-11 06:15] anoopmadhav commented on #2537
+1

[2019-10-11 19:35] #2522 closed

[2019-10-11 19:35] #2512 closed

[2019-10-11 20:13] #2461 closed

[2019-10-11 20:28] rmosolgo commented on #2532
No, I don't think it's obvious at all! Good question. That extension is applied to fields when they have `connection: true`. The catch is, it _defaults_ to true when the field's return type ends in `Connection`. Source:

https://github.com/rmosolgo/graphql-ruby/blob/2c6b7a8f7e5b107ca22350f41a255531c15a2329/lib/graphql/schema/field.rb#L109-L126

To skip "automatic" arg handling, pass `connection: f

[2019-10-11 20:28] #2532 closed

[2019-10-11 20:35] rmosolgo commented on #2537
Hi, sorry to hear it! I tried to reproduce the bug with this little script but I didn't succeed:

[code]

I got a successful output:

[code]

Could you try that script locally and see if you can replicate the error?

Also, I see in your stack trace some customization:

[code]

Could you share the source of that customization?

[2019-10-11 20:35] #1923 closed

[2019-10-11 20:44] rmosolgo commented on #2526
Hi, sorry about that! It has all the tell-tale signs of a circular reference bug. I see lines in the stack trace point at the place where constants are referenced, then ActiveSupport::Dependencies gets involved 😅

In many places in GraphQL-Ruby, you can replace Ruby constants with strings that contain the constant name. Then GraphQL-Ruby will try to defer the reference to that constant as long as

[2019-10-11 23:08] gersmann commented on #2537
+1

[2019-10-12 02:18] f440 commented on #2537
Thank you for your response!

I executed your script on my local machine and got the same response. `Company` is inherit `GraphQL::Schema::Object` in your script, but my one which made by `rails generate graphql:object Company` is inherit `Types::BaseObject`. `Types::BaseObject` is specified `field_class Types::BaseField` and `Types::BaseField` define `resolve_field`.

Source code is here:
- Githu

[2019-10-12 04:16] omarvelous commented on #2537
I as well am getting the same issue... Thought I was going crazy...

[2019-10-12 07:41] panbanda commented on #2526
Well that is quite a tricky thing haha.  Yeah the last one in the `union` seems to work.  Thanks for the lifesaving tip ;)

[2019-10-12 07:41] #2526 closed

[2019-10-12 08:11] K-Sato1995 opened #2540 "Union Type Implementation"
I'm trying to implement a union type and followed the [official documentation](https://graphql-ruby.org/type_definitions/unions) but got the error listed below.

Here is my current code.

[code]

And here is the graphql query.

[code]

When I send the query I get the following error.

[code]

Am I missing something??

[2019-10-12 11:55] #2537 closed

[2019-10-12 11:55] rmosolgo commented on #2537
@f440, thanks very much for contributing useful debugging info. I didn't remember that the generator made code like that! I think the problem will be fixed in #2541. Could you try it on master, for example:

[code]

And let me know how it goes for you? If it works, I'll release 1.9.14 on Monday.

[2019-10-12 11:58] rmosolgo commented on #2540
How do you expect `field :media_item` to be resolved by GraphQL? Does your `Post` model have a `media_item` method? If not, you should define an implementation in your type class, for example:

[code]

If you don't provide a method on the underlying object (eg `Post#media_item`) or a manual implementation, GraphQL doesn't know what to _do_ with that field!

Please give one of those approaches a tr

[2019-10-12 11:58] #2540 closed

[2019-10-12 12:19] f440 commented on #2537
I confirmed that the problem was fixed on master branch. Thanks a lot!

[2019-10-12 12:39] K-Sato1995 commented on #2540
@rmosolgo
Figured out how to implement it thanks to your advice. Thanks for taking the time to respond to such a fundamental question.
Appreciate it.

[2019-10-12 19:33] connorshea opened #2542 "Pagination docs feedback"
I've been trying out `1.10.0.pre1` and adding pagination to my GraphQL API today, and I wanted to give some feedback on the documentation:

- There's a link to a non-existent page at the top of [`custom_connections.md`](https://github.com/rmosolgo/graphql-ruby/blob/1.10-dev/guides/pagination/custom_connections.md): `{% internal_link "Using Connections", "/pagination/using_connections" %}`.
- There

[2019-10-12 23:59] benbonnet commented on #2532
Hello; I've landed here as while trying out to move on relay based schema, and wondering how things were to be used using connection and resolvers. I feel like it has to do with the original question, pardon me if I was wrong

Trying things out with the following snippet :

[code]

At this point it works well. But, while trying to implement the following :

[code]

how do you get you hand on the s

[2019-10-13 11:58] vaihtovirta commented on #2067
Hello all,
I want to pick this one unless someone has started it already.

[2019-10-14 10:00] sayduck-daniel commented on #2517
@rmosolgo this is not gonna work for us. We have those null fields set to false because we need to ensure they are either not null or returning an error.

Would it be possible to have it returning `nil` in case of a timeout or to exclude the field from it?

[code]

[2019-10-14 10:28] sayduck-daniel opened #2544 "`loads:` doesn't work for field arguments"
I would like to refactor this code:

[code]

into

[code]

The documentation mentions this `loads:` attribute but it is not behaving correctly.

With this sample code:
[code]

I get this in my log:
[code]

Not how the `parent` is simply a string and how no queries for group have been made before the debug code. It should at least have made a find_by for the parent group.

Any idea what could be wr

[2019-10-14 11:24] fisherboat opened #2545 "no implicit conversion of #<Class:0x00007ff4cd3b8728> into Hash"
![image](https://user-images.githubusercontent.com/2755103/66747765-e599d280-eeb7-11e9-9aa8-abde3049da01.png)

![image](https://user-images.githubusercontent.com/2755103/66747816-06fabe80-eeb8-11e9-9718-1b88275d2389.png)

![image](https://user-images.githubusercontent.com/2755103/66747846-1d087f00-eeb8-11e9-939b-09908ce937f7.png)

ruby: 2.6.0
rails: 6.0.0

[2019-10-14 13:10] rmosolgo commented on #2517
Yes, I'm not interested in implementing it because it's not the behavior described in the specification:

(https://graphql.github.io/graphql-spec/June2018/#sec-Errors-and-Non-Nullability)

It sounds like you want a field that you can ensure doesn't return null, except that you want it to return null sometimes. I don't know of any mechanism for unifying those two behaviors: either it _can_ return n

[2019-10-14 14:42] TomasBarry opened #2546 "Disable only one introspection entry point"
Following the work done [here](https://github.com/rmosolgo/graphql-ruby/pull/2327), is it possible to only disable the `__schema` introspection entry point?

If not, would a PR similar to [this](https://github.com/rmosolgo/graphql-ruby/pull/2327) (which introduced the `disable_introspection_entry_points` method) be accepted?

The PR would introduce two more methods:

1) `enable_schema_introspectio

[2019-10-14 14:45] ryanfreddy commented on #2546
I think this would be a very useful feature.

[2019-10-14 15:21] jmourell commented on #2545
I'm having the same issue. But I'm new to rails and ruby so I'm not sure if it's just my set up is wrong, although I'm just following the official docs pretty - much.

[2019-10-14 18:42] daemonsy commented on #2545
Hi people, assuming you're on `1.9.13`, can you try if `1.9.14` fixes the issue?

@rmosolgo fixed an issue that looks really similar to this one on #2541

[2019-10-14 18:44] rmosolgo commented on #2545
Yes, this looks like a duplicate of https://github.com/rmosolgo/graphql-ruby/issues/2537

Please try `1.9.14`. Some code in the previous version didn't work with the generated `BaseField`, sorry!

Please reopen this if you encounter trouble after updating to 1.9.14.

[2019-10-14 18:44] #2545 closed

[2019-10-14 19:04] daemonsy commented on #2544
Hi @sayduck-daniel do you have `.object_from_id` defined on `SayduckSchema`?

https://graphql-ruby.org/mutations/mutation_classes.html#auto-loading-arguments

[2019-10-15 06:52] vaihtovirta commented on #2067
Hey @rmosolgo,
can you please take a look at #2543?

[2019-10-15 07:14] sayduck-daniel commented on #2544
Yes @daemonsy, `.object_from_id` works. On my first code you can see the working alternative using it:

[code]

[2019-10-15 13:31] rmosolgo commented on #2544
Sorry @sayduck-daniel , `loads:` is supported in resolvers and input objects, but not on plain field arguments. There's no _reason_ for this, except that the first place I wanted `loads:` was mutations, but it's been slowly added to other places.

For now, you could refactor the field to use a resolver if you want to use `loads:`.

Let's keep this open to track `loads:` with plain field arguments;

[2019-10-15 13:38] rmosolgo commented on #2546
You could implement this dynamically by customizing the introspection system:

https://graphql-ruby.org/schema/introspection.html#customizing-introspection

For example, you could raise an error if someone accesses an entry point you don't want to support. Alternatively, you could try defining an `EntryPoints` class that _doesn't_ have that field. (You'd riff off the built-in `EntryPoints` class,

[2019-10-15 13:38] #2546 closed

[2019-10-15 13:42] #2067 closed

[2019-10-15 13:42] rmosolgo commented on #2511
Let me know if you have any trouble with the workflow described above!

[2019-10-15 13:42] #2511 closed

[2019-10-15 16:22] TomasBarry commented on #2546
Which would be preferable:

1) Add methods to disable specific entry points (`disable_schema_introspection_entry_point`, `disable_type_introspection_entry_point`, etc)
2) Update the [`disable_introspection_entry_points`](https://github.com/rmosolgo/graphql-ruby/blob/35dc19b57329294baf20f93d8f1265c563d733d9/lib/graphql/schema.rb#L100) method to accept an optional `except` parameter that will take a

[2019-10-15 19:14] thornomad commented on #2465
Hi @rmosolgo - I just updated to the `1.10-pre` version and it seems to be working now as expected!  Thanks for digging into this and finding a solution.  Onward!

[2019-10-15 20:45] marcpoulin commented on #2532
Thank you for your response! I ended up subclassing `GraphQL::Schema::Field::ConnectionExtension` and overriding the `resolve` method to achieve what I wanted.

[2019-10-15 23:31] aarona opened #2548 "Action not found: "The action 'execute' could not be found for GraphqlController" for Rails API only application"
**Steps to produce:**

[code]

Now go to an app like GraphiQL that can test the end point and hit the url http://localhost:3000/graphql .

Server side error:

[code]

[2019-10-16 00:21] aarona commented on #2548
Ok it looks like the following line in the `execute` method was causing the problem:

`protect_from_forgery with: :null_session`.

[2019-10-16 01:34] dteoh opened #2549 "PR for #2461 breaks the spec"
According to both the current and draft specs:

* https://graphql.github.io/graphql-spec/June2018/#sec-Objects
* https://graphql.github.io/graphql-spec/draft/#sec-Objects

... a type definition like ~~`type Query { }`~~ `type Query` _is_ a valid definition, ~~because the production of `FieldsDefinition` is optional~~.

People might wonder why this could possibly be useful. Well in conjunction with

[2019-10-16 01:35] dteoh commented on #2461
This change introduced in 1.9.14 is wrong, it goes against the spec. Issue opened here: https://github.com/rmosolgo/graphql-ruby/issues/2549

[2019-10-16 03:43] tamouse opened #2550 "GraphiQL can't find it's own assets in Rails 6"
*Steps to recreate*

(Rails 6)

[code]

Open up `http://localhost:3000/graphiql` in a browser yields:

[code]

[2019-10-16 04:04] tamouse commented on #2550
Same steps work fine in Rails 5.2.3

[2019-10-16 08:03] benbonnet commented on #2532
@marcpoulin without asking a full exposure of your code; would you mind sharing the entrypoint you've found out ? Am having a similar need and quite struggling

[2019-10-16 13:45] swalkinshaw commented on #2549
In both of the spec links:

https://graphql.github.io/graphql-spec/draft/#sel-HAHZhCFBABABuBq9O

Also see https://github.com/graphql/graphql-js/issues/937 and here's where graphql-js enforces it: https://github.com/graphql/graphql-js/blob/0eaa5e60bd34d3303fde14ecf328bc7b1cbfa1e9/src/type/validate.js#L267-L273

[2019-10-16 13:48] rmosolgo commented on #2548
Could you elaborate on what you found here? I can't tell if there's something wrong with GraphQL-Ruby's install generator, or if there was something out of place in your application. What did you do to fix this problem?

[2019-10-16 13:51] rmosolgo commented on #2546
I prefer Option 1

[2019-10-16 14:16] chrislambe commented on #2548
Just as another data point: I also just ran into this with a new api-only Rails project and fixed it with @aarona's suggested line removal. Looks like I'm on `rails` `6.0.0` and `graphql` `1.9.14`.

[2019-10-16 14:37] marcpoulin commented on #2532
Hi @benbonnet,

Basically this is what I did:

[code]

Probably not the cleanest approach, but it's good enough for testing.

[2019-10-16 14:48] benbonnet opened #2551 "Class based relay mutations"
The examples does not provide this use case;  Is it possible to use relay mutations in a class based syntax ? https://graphql-ruby.org/relay/mutations.html

[2019-10-16 14:49] #2551 closed, assigned to nobody

[2019-10-16 14:54] durcak opened #2553 "Subscriptions not work with snake_cased arguments"
First of all, thank you for all your work on this library!

I have tried `subscriptions` with `ActionCable` and new `interpreter` in my project and found out, that its not working correctly with not camelized arguments. Its because events IDs generated in a initial subscription process are always camelized, apart from arguments class is initialized with `camelize: false`.

To provide a failing cas

[2019-10-16 17:54] benhutton opened #2554 "Infinite loop with referential input objects and argument authorization"
Say you have a pair of input objects that reference each other as arguments:

[code]

We have a number of sets of looping input objects. Sometime pairs. Sometimes groups of three: `A` refers to `B` and `C`. `B` refers to `A` and `C`. `C` refers to `A` and `B`.

We see an infinite loop looking like this:

[code]

We believe this is caused by the changes here: https://github.com/rmosolgo/graphql-rub

[2019-10-16 18:21] rmosolgo commented on #1155
GraphQL::Relay::Mutation has been replaced by `GraphQL::Schema::RelayClassicMutation`, which is a subclass of `GraphQL::Schema::Resolver`. see

https://graphql-ruby.org/api-doc/1.9.14/GraphQL/Schema/RelayClassicMutation
https://graphql-ruby.org/mutations/mutation_classes
https://graphql-ruby.org/fields/resolvers.html

I've tried to indicate that in the docs:

![image](https://user-images.githubuse

[2019-10-16 19:40] aarona commented on #2548
@rmosolgo I think this isn't a graphql issue actually. I think if you create an API only rails app and you use the `protect_from_forgery` method in any controller as you do with the vanilla `GraphqlController` class that gets installed, it causes an error that at face value made it seem like `graphql` was causing this.

I dont think you need to do anything to fix this but possibly add something in

[2019-10-16 20:22] helsayed commented on #1109
I had to monkey patch the has_next_page method with this
[code]
and it seemed works fine for now

[2019-10-16 23:31] dteoh commented on #2549
Ok, sorry about this. I guess I will just have to add a dummy field to model variants with no params.

I don't quite understand why `FieldsDefinition` would be marked as optional though.

[2019-10-16 23:31] #2549 closed

[2019-10-17 06:56] benbonnet commented on #1155
@rmosolgo oh i see, though that "classic" was about a previous version; my bad. thx a lot for your reply;

[2019-10-17 07:42] lizdeika opened #2555 "1.9.13 -> 1.9.14 update breaks something"
Hello,

We use this gem in several applications.
The update went ok for most applications but 2 applications yield to this when starting rails server:

Same in development, test and production environments.

**We do NOT use `Mutation`'s at all in any of the applications.**

I think these PRs have something to do with it
https://github.com/rmosolgo/graphql-ruby/pull/2462/files
https://github.com/rm

[2019-10-17 11:33] michal-samluk commented on #2555
Do you have a line `mutation Types::MutationType` in your `schema.rb` or similar? Does it work when you remove it?

[2019-10-17 12:36] lizdeika commented on #2555
No, not using mutations or mutation types anywhere in any of our apps.

[2019-10-17 13:59] daemonsy commented on #2555
Hi @lizdeika not sure if it will be needed for debugging, but it will be great if you can share your Ruby and Rails version.

If you can share your GraphQL `schema.rb`'s code too, that might be useful too.

[2019-10-17 14:02] rmosolgo commented on #2554
Thanks for the detailed report! You can see I got as far as _self-referencing_ input objects, but not multi-step cycles. On 1.10-dev, argument values are passed along through authorization, so we check for `nil`, and stop authorizing in that case. I think that would address this problem, since even if the the _schema_ is recursive, the actual input value must be finite.

Want to try 1.10.0.pre1? T

[2019-10-17 14:04] daemonsy commented on #2550
Hi I believe GraphiQL rails is still using sprockets and probably doesn't work with webpacker.

I've been working on a PR to make it a Rack app on #1051 , but got stuck a little. Will keep this open as motivation!

[2019-10-17 14:14] daemonsy commented on #2548
[code]

So for any apps that are using API mode, I assume `ApplicationController` probably inherits `ActionController::API`  @chrislambe @aarona if you have the code handy, is that right?

[2019-10-17 14:41] rmosolgo commented on #2555
ditto, that would be really helpful, also the full backtrace of the error.

[2019-10-17 14:43] rmosolgo commented on #2548
Personally I think a good fix would be to comment out that call in the generated code.

That way, it's there for people who need it, but doesn't break stuff out of the box. (I'm trying to save people the step of, "Oh, I need to bypass CSRF, let me google the Rails-fu for that".)

[2019-10-17 14:48] daemonsy commented on #2548
@rmosolgo :+1: makes sense, follow up PR
https://github.com/rmosolgo/graphql-ruby/pull/2557

[2019-10-17 15:37] benbonnet commented on #2298
@rmosolgo if I may ask about it; using `input_type` removes the `Autogenerated input type of ...`

Is there a way to blocks the autogenerated `Autogenerated return type of...` ? I thought that using `type` would let it be handled completely, but it is still there. I might miss something, thx if you have such info

[2019-10-17 15:47] aarona commented on #2548
@rmosolgo great idea. Closing ticket.

[2019-10-17 15:47] #2548 closed

[2019-10-17 17:50] benhutton commented on #2554
@rmosolgo 1.10.0.pre1 does indeed fix our problem! Any eta on 1.10.0 would be released?

[2019-10-17 19:13] rmosolgo commented on #2554
I have a checklist, but not a date: https://github.com/rmosolgo/graphql-ruby/issues/2100

There's still a lot to do 😅

But GitHub is running on 1.10-dev, so you can consider it pretty stable!

[2019-10-17 23:48] nbcraft commented on #2523
Thank you I was experiencing the same problem, new version fixed it 👍

[2019-10-18 20:04] tostart-pickagreatname commented on #2555
I have a similar problem but for queries. I even added a field for my otherwise empty query to see if that would help, but it does not.

99: from /Users/stevenscott/.gem/ruby/2.5.3/gems/activesupport-5.2.3/lib/active_support/dependencies.rb:291:in `require'
	 98: from /Users/stevenscott/.gem/ruby/2.5.3/gems/activesupport-5.2.3/lib/active_support/dependencies.rb:257:in `load_dependency'
	 97: from

[2019-10-19 18:09] jeremyjaybaker opened #2558 "Issue converting between camelCase and snake_case during a mutation"
Hello, I just got started experimenting with graphql-ruby so I apologize if this is a simple mis-configuration. When I submit a mutation in GraphiQL, I'm getting the following error that would indicate I've misconfigured my camelCase/snake_case somewhere in either my query or my Ruby classes.

I'd expect the mutation to at least make it to the `resolve` method, but it does not. It appears that I h

[2019-10-19 18:50] DmitryTsepelev commented on #2326
This issue is fixed in 1.9.14

[2019-10-21 14:57] rmosolgo commented on #2558
Hi, how odd! It looks like you have configured everything correctly. However, GraphQL isn't reaching `resolve` because a _static validation_ has failed. The given query doesn't match the schema's type system, so GraphQL won't evaluate it.

What's strange is, you're (correctly) giving camelized `mapId` in your variables, but GraphQL is receiving (underscored) `map_id`. Is it possible that something

[2019-10-21 15:26] jeremyjaybaker commented on #2558
Woops, found the issue. It _was_ getting converted in the controller, but due to an initializer that I long forgot about. Thanks for pointing me in the right direction and verifying my setup!

[2019-10-21 15:26] #2558 closed

[2019-10-22 07:07] fullofcaffeine commented on #112
@mathiasjakobsen Did you ever find out how to implement such mutation?

[2019-10-22 13:52] #2199 closed

[2019-10-22 14:43] chrise86 commented on #1733
@rmosolgo I get
[code]
when trying to load objects like this.

[2019-10-22 21:31] Justin2997 opened #2560 "Wrong number of arguments (given 1, expected 5) on 1.9.5"
Hi, Thanks for the good work on this project 🎉 !

I try to upgrade my project from 1.8.6 to 1.9.5 to get `Types::JSON` and `field(..., resolver_method:)`, but I have a error when using 1.9.5. I test my project with 1.9.4 and everything work. I get the error : `wrong number of arguments (given 1, expected 5)`. The problem seems to be in `context.rb` in my `FieldResolutionContext` child. This is the

[2019-10-23 06:35] maurosbu commented on #2555
Same issue here.
Solved commenting out ```mutation Types::MutationType``` in ```schema.rb``` as suggested by @michal-samluk .

Mauro

[2019-10-23 07:56] mathiasjakobsen commented on #112
@fullofcaffeine, no I did not.

[2019-10-23 08:17] nuclearspike commented on #112
The way I would implement this is not directly through GraphQL type checking. But the "upvoteMutation" should accept a generic Node ID (which is essentially just an encoded Classname and ID) then you test the object returned to see what class it is and if it's in the allowed list. If not, you throw a GraphQL error so clients get the notification. But if you're in control of the clients, you should

[2019-10-23 08:31] nuclearspike commented on #112
I have a simple loader
[code]
I'm using CanCan::Ability where there's delegates on the User model.
[code]
Then the usage looks like this:
[code]

For my needs, I never needed to check an incoming Node ID type against anything other than just one. But this code could be adapted to accept an array as the shouldBeType.

You should definitely do type checking of some sort to see if the returned object

[2019-10-23 13:21] rmosolgo commented on #2560
Hi, sorry about the hangup! That API was changed in order to improve performance. You should change the arguments of `initialize` into positional arguments by removing the trailing `:` in each one. Here's the PR for reference:

https://github.com/rmosolgo/graphql-ruby/pull/2244

And your change would look something like this:

[code]

If that doesn't work, please reopen this with the new error mes

[2019-10-23 13:21] #2560 closed

[2019-10-23 13:24] rmosolgo commented on #112
:+1: to @nuclearspike 's solution. If you're using class-based mutations, you get basically the same behavior with `loads`:

[code]

[2019-10-23 13:38] rmosolgo commented on #2555
@tostart-pickagreatname , it looks like you're parsing a GraphQL schema definition file, right? Could you share two items from that file:

- the `schema { ... }` definition
- the `type Query { ... }` definition, if there is one

?

[2019-10-23 13:57] rmosolgo commented on #1416
Hi, there's been a lot of work to improve GraphQL-Ruby's runtime performance, including a new runtime and analyzer.

Looking at the flamegraph above, it looks like the longest time is spent in `Curl#select`, which I think means it's waiting for an external service to respond. Here are those segments:
![image](https://user-images.githubusercontent.com/2231765/67400318-7ab55f00-f57b-11e9-8a99-faaea0

[2019-10-23 13:57] #1416 closed

[2019-10-23 13:59] rmosolgo commented on #1217
I don't have plans to add more support in this area. The built-in classes provide inspiration for your own connection types, which aren't too hard to build, and you could even extend those built-ins. Please let me know if you try it and run into trouble!

[2019-10-23 13:59] #1217 closed

[2019-10-23 14:04] rmosolgo commented on #1214
The spec includes an "extensions" key which may be populated this way:

https://graphql-ruby.org/errors/execution_errors.html#customizing-error-json

There's also a new general-purpose error handling system here: https://graphql-ruby.org/errors/error_handling.html

Please open a new issue if you have trouble with either of those!

[2019-10-23 14:04] #1214 closed

[2019-10-23 14:07] rmosolgo commented on #1419
Sorry about the trouble here. Authorization checks don't generally provide _too_ much context, because relying on it is an anti-pattern. That is, I've seen checks written that _assume_ object `O` can only appear as a child of parent `P`, but in fact, that assumption isn't true, then the auth check leaks data. So I've tried to make them less context-aware.

The best bet for implementing this in Gra

[2019-10-23 14:07] #1419 closed

[2019-10-23 14:09] rmosolgo commented on #1442
Sorry for the trouble with using the old authorization plugin with a class-based schema. The best of that system (including a lot of your feedback about authz context! 🙇 ) was rolled into a class-based framework which is part of GraphQL-Ruby: https://graphql-ruby.org/authorization/overview.html

I hope that works better for you!

[2019-10-23 14:09] #1442 closed

[2019-10-23 14:09] rmosolgo commented on #1421
I linked the new framework on another issue as well, but for any future readers, 💁‍♂ https://graphql-ruby.org/authorization/overview.html

[2019-10-23 14:09] #1421 closed

[2019-10-23 14:10] rmosolgo commented on #1441
Sorry about this trouble, that hook was reused in the class-based API for a slightly different purpose 😖  I'm glad you found a solution!

[2019-10-23 14:10] #1441 closed

[2019-10-23 14:12] rmosolgo commented on #1834
It looks like that typekind check comes from the spec: https://graphql.github.io/graphql-spec/June2018/#sec-Fragments-On-Composite-Types

I supposed I grabbed the term from there. I'd rather keep the method as-is, but feel free to improve the docstring if you like!

[2019-10-23 14:12] #1834 closed

[2019-10-23 14:16] rmosolgo commented on #1520
Hi, sorry about the trouble here! I haven't had much time to work on the upgrader. If you're still interested in working on it, you could add a failing example to the tests, and I'd be happy to look at how it can be fixed.

[2019-10-23 14:16] #1520 closed

[2019-10-23 14:20] rmosolgo commented on #2111
Looking at the attached log, the error is:

[code]

I don't encounter this error, and I don't understand what's causing it, so I have no plans to work on it :sweat_smile:

[2019-10-23 14:20] #2111 closed

[2019-10-23 14:22] rmosolgo commented on #1906
Looks good! Glad you found something that works for ya.

[2019-10-23 14:22] #1906 closed

[2019-10-23 14:27] rmosolgo commented on #2018
The _problem_ here is that `.graphql_definition` is usually deferred until the first query is executed. For servers that start lots of threads, this can cause all kinds of problems.

My solution is to _stop_ deferring the construction of the schema, and instead build it _synchronously_. It's implemented in #2363 and will be released in 1.10.0. You can get it now on `1.10-dev`.

[2019-10-23 14:27] #2018 closed, assigned to nobody

[2019-10-23 14:27] rmosolgo commented on #1875
I've done a lot of work on the schema class in the last ... year 😆  And nobody else has reported this issue, so I'll close it.

[2019-10-23 14:27] #1875 closed

[2019-10-23 14:35] rmosolgo commented on #2275
Thanks for the detailed writeup, sorry I didn't respond sooner.

Honestly, the best solution I can think of is to manually prepend your extension, for example:

[code]

Maybe it'd be nice to improve the `extension(...)` API to accept an `index:` option, or `prepend: true`, or something to cover that use case.

Anyways, I hope that helps! Feel free to open a PR for a formal API, or let me know if i